<ion-header>
  <ion-toolbar>
    <ion-title>Signature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<signature-pad [options]="signaturePadOptions"  id="signatureCanvas"></signature-pad>

</ion-content>
<ion-footer transparent>
    <ion-toolbar transparent>
        <!-- <ion-grid> -->
            <!-- <ion-row> -->
              <!-- <ion-col > -->
                  <ion-buttons end>

                  <button bottom right ion-button align-items-end round
                  class="mySignBtn" style="    background-color: transparent;
                  border: 2px solid red;
                  color: red;
              "
                  (click)="drawCancel()">
                  Cancel

                  </button>
              <!-- </ion-col> -->
              <!-- <ion-col > -->
                  <button bottom right ion-button  align-items-end round
                  class="mySignBtn" style="    background-color: transparent;
                  border: 2px solid red;
                  color: red;
              "
                  (click)="drawClear()">
                  UNDO

                  </button>

              <!-- </ion-col>
              <ion-col > -->
                  <button bottom right ion-button align-items-end round
                  class="mySignBtn" (click)="drawComplete()">
                      {{'MANG_HOST.DONE' | translate}}

                  </button>
                </ion-buttons>
              <!-- </ion-col> -->
            <!-- </ion-row> -->
          <!-- </ion-grid> -->

    </ion-toolbar>
</ion-footer>
