<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Signature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<!-- <signature-pad [options]="signaturePadOptions"  id="signatureCanvas"></signature-pad> -->
<!-- <ion-signaturepad [(ngModel)]="signature" [canvasWidth]="300" [canvasHeight]="300" [backgroundColor]="'#ffffff'"></ion-signaturepad> -->
<div class="signature-pad">
  <div class="signature-pad--body">
    <canvas #sPad width="900" height="600" style="touch-action: none;"></canvas>
  </div>
</div>
<br>
<br>

</ion-content>
<ion-footer transparent>
    <ion-toolbar transparent style="padding: 10px;">
        <!-- <ion-grid> -->
            <!-- <ion-row> -->
              <!-- <ion-col > -->
                  <ion-buttons slot="end">

                  <ion-button color="primary" bottom right align-items-end shape="round"
                  class="mySignBtn" fill="outline"
                  (click)="drawCancel()">
                  Cancel

                  </ion-button>
              <!-- </ion-col> -->
              <!-- <ion-col > -->
                  <ion-button color="primary" bottom right align-items-end shape="round" fill="outline"
                  class="mySignBtn"
                  (click)="drawClear()">
                  UNDO

                  </ion-button>

              <!-- </ion-col>
              <ion-col > -->
                  <ion-button color="primary" bottom right align-items-end shape="round" fill="solid"
                  class="mySignBtn" (click)="drawComplete()">
                      {{'MANG_HOST.DONE' | translate}}

                  </ion-button>
                </ion-buttons>
              <!-- </ion-col> -->
            <!-- </ion-row> -->
          <!-- </ion-grid> -->

    </ion-toolbar>
</ion-footer>
