<ion-header>
  <ion-toolbar>
    <ion-title>Item Checklist</ion-title>
    <ion-buttons slot="end">
      <ion-button color="btnthm" (click)="dismissModal()">Close<ion-ripple-effect></ion-ripple-effect></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-item lines="full">
      <ion-label position="floating">Item 1</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Item 2</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Item 3</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Item 4</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Item 5</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="full" style="padding-bottom: 2.5vh;">
      <ion-label position="floating">Item 6</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button expand="block" color="success" class="save">Save<ion-ripple-effect></ion-ripple-effect></ion-button>
</ion-content>
