<ion-header>

    <ion-toolbar color="danger">
        <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="arrow-back-outline"></ion-icon>
        <ion-title>&nbsp;&nbsp;&nbsp;Appointment Details</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    <h5 theme-text-color *ngIf="(appointment && appointment.length > 0 && !appointment[0].isFacilityAlone)"
        class="header_text">Visitor Details</h5>
    <h5 theme-text-color *ngIf="(appointment && appointment.length > 0 && appointment[0].isFacilityAlone && facilityBooking && facilityBooking[0] &&
      facilityBooking[0].visitors &&  facilityBooking[0].visitors.length > 0)"
        class="header_text" style="margin-bottom: 0px !important;">Staff Details</h5>
    <ion-card mode="ios" no-margin style="width:100%;margin-top:3px !important;"
        *ngIf="(facilityBooking && facilityBooking[0] && facilityBooking[0].visitors &&  facilityBooking[0].visitors.length > 0)">
        <ion-item *ngFor="let visitors of facilityBooking[0].visitors" style="
        margin-left: 0px; --padding-start: 0px;
        padding: 0px;" lines="none">
            <ion-avatar slot="start" style="
            margin: 3px;    width: 62px;
    height: 62px;
            padding: 3px;justify-content: center;
    display: flex;
    align-items: center;" (click)="openVisitorDetails(visitors)">
                <img class="animated fadeInDown delay-1s" style="    background-color: darkgrey;
                padding: 2px;" onError="this.src='../../assets/images/user.png';"
                    [src]="data.logo+visitors.SEQID + imageURLTypeHOST">


            </ion-avatar>
            <div>
              <ion-label (click)="openVisitorDetails(visitors)">{{visitors.Name}}</ion-label>
              <ion-label (click)="openVisitorDetails(visitors)">{{visitors.Email}}</ion-label>
            </div>
            <div slot="end" *ngIf="(appointment && appointment.length > 0 && !appointment[0].isFacilityAlone)"
                style="margin: 0px;">
                <ion-icon color="secondary" class="iconiconClass" name="qr-code-outline"
                    (click)="openVisitorDetails(visitors)"></ion-icon>
                <ion-icon color="success" class="iconiconClass" name="share-social-outline" (click)="shareQR(visitors)">
                </ion-icon>
            </div>
        </ion-item>
    </ion-card>
    <ion-card mode="ios" no-margin style="width:100%;margin-top:14px !important;"
        *ngIf="appointment && appointment[0] && !appointment[0].isFacilityAlone">
        <ion-item *ngFor="let visitors of appointment" style="
            margin-left: 0px;--padding-start: 0px;
            padding: 0px;" lines="none">
            <ion-avatar slot="start" style="
                margin: 3px;width: 62px;
    height: 62px;
                padding: 3px;justify-content: center;
    display: flex;
    align-items: center;" (click)="openVisitorDetails(visitors)">
                <img class="animated fadeInDown delay-1s" style="    background-color: darkgrey;
                    padding: 2px;" onError="this.src='../../assets/images/user.png';"
                    [src]="data.logo+visitors.VisitorBookingSeqId + imageURLType">
            </ion-avatar>
            <div>
                <ion-label (click)="openVisitorDetails(visitors)">{{visitors.VISITOR_NAME}}</ion-label>
                <ion-label (click)="openVisitorDetails(visitors)">{{visitors.EMAIL}}</ion-label>
            </div>
            <div slot="end" *ngIf="(appointment && appointment.length > 0 && !appointment[0].isFacilityAlone)"
                style="margin: 0px;">
                <ion-icon color="secondary" class="iconiconClass" name="qr-code-outline"
                    (click)="openVisitorDetails(visitors)"></ion-icon>
                <ion-icon color="success" class="iconiconClass" name="share-social-outline" (click)="shareQR(visitors)">
                </ion-icon>
            </div>

        </ion-item>
    </ion-card>
    <ion-card no-margin mode="ios" style="width:100%;margin-top:10px !important;"
        class="padding pending-info" *ngIf="!facilityBooking || facilityBooking.length == 0">
        <ion-item-divider transparent style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                        <ion-icon name="calendar-number-outline"></ion-icon>
                        <span class="visitorDesc">
                            From
                        </span>
                    </ion-col>
                    <ion-col>
                        <p no-margin>{{appointment[0].START_DATE | date:'MMM d, yyyy h:mm a'}}</p>
                        <!-- <p class='stable'>{{appointment[0].START_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>


        </ion-item-divider>
        <ion-item-divider transparent style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                        <ion-icon name="calendar-number-outline"></ion-icon>
                        <span class="visitorDesc">
                            To
                        </span>
                    </ion-col>
                    <ion-col>
                        <p no-margin>{{appointment[0].END_DATE | date:'MMM d, yyyy h:mm a'}}</p>
                        <!-- <p class='stable'>{{appointment[0].END_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent *ngIf="false" style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                        <p no-margin class='stable'><b>Booked On</b></p>
                    </ion-col>
                    <ion-col>
                        <p no-margin>{{appointment.length}}</p>
                        <!-- <p class='stable'>{{appointment[0].END_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent *ngIf="appointment[0].REASON" style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                        <ion-icon name="filter-circle-outline"></ion-icon>
                        <span class="visitorDesc">
                            Purpose
                        </span>
                    </ion-col>
                    <ion-col>
                        <p no-margin>{{appointment[0].REASON}}</p>
                        <!-- <p class='stable'>{{appointment[0].END_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent *ngIf="appointment[0].Booked_By" style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                      <ion-icon name="book-outline"></ion-icon>
                        <span class="visitorDesc">
                          Booked By
                        </span>
                    </ion-col>
                    <ion-col>
                        <p no-margin>{{appointment[0].Booked_By}}</p>
                        <!-- <p class='stable'>{{appointment[0].END_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent *ngIf="appointment[0].Floor" style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                      <ion-icon name="business-outline"></ion-icon>
                      <span class="visitorDesc">
                        Floor
                      </span>
                    </ion-col>
                    <ion-col>
                        <p no-margin>{{appointment[0].Floor}}</p>
                        <!-- <p class='stable'>{{appointment[0].END_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent *ngIf="appointment[0].Room" style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                      <ion-icon name="journal-outline"></ion-icon>
                      <span class="visitorDesc">
                        Room
                      </span>
                    </ion-col>
                    <ion-col>
                        <p no-margin>{{appointment[0].Room}}</p>
                        <!-- <p class='stable'>{{appointment[0].END_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent *ngIf="appointment[0].PLATE_NUM" style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                      <ion-icon name="bicycle-outline"></ion-icon>
                      <span class="visitorDesc">
                        Vehicle No
                      </span>
                    </ion-col>
                    <ion-col>
                        <p no-margin>{{appointment[0].PLATE_NUM}}</p>
                        <!-- <p class='stable'>{{appointment[0].END_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent *ngIf="appointment[0].Remarks" style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                        <ion-icon name="reader-outline"></ion-icon>
                        <span class="visitorDesc">
                            Remarks
                        </span>
                    </ion-col>
                    <ion-col>
                        <p no-margin>{{appointment[0].Remarks}}</p>
                        <!-- <p class='stable'>{{appointment[0].END_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
    </ion-card>
    <ion-card no-margin mode="ios" style="width:100%;margin-top:5px !important;"
        class="ion-padding pending-info" *ngIf="facilityBooking && facilityBooking.length > 0">
        <ion-item-divider transparent style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                      <ion-icon name="calendar-number-outline"></ion-icon>
                      <span class="visitorDesc">
                          From
                      </span>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                    <ion-col>
                        <p no-margin>{{facilityBooking[0].StartDateTime | date:'MMM d, yyyy h:mm a'}}</p>
                        <!-- <p class='stable'>{{appointment[0].START_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>

                </ion-row>
            </ion-grid>


        </ion-item-divider>
        <ion-item-divider transparent style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                      <ion-icon name="calendar-number-outline"></ion-icon>
                      <span class="visitorDesc">
                          To
                      </span>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                    <ion-col>
                        <p no-margin>{{facilityBooking[facilityBooking.length-1].EndDateTime | date:'MMM d, yyyy h:mm a'}}</p>
                        <!-- <p class='stable'>{{appointment[0].END_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent *ngIf="facilityBooking[0].PurposeName" style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                      <ion-icon name="filter-circle-outline"></ion-icon>
                      <span class="visitorDesc">
                          Purpose
                      </span>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                    <ion-col>
                        <p no-margin>{{facilityBooking[0].PurposeName}}</p>
                        <!-- <p>For Blood Pressure</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent *ngIf="facilityBooking[0].FacilityName" style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                      <ion-icon name="podium-outline"></ion-icon>
                        <span class="visitorDesc">
                          Facility
                        </span>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                    <ion-col>
                        <p no-margin>{{facilityBooking[0].FacilityName}}</p>
                        <!-- <p>Dr.Pravina Patel</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent *ngIf="appointment && appointment[0] && appointment[0].PLATE_NUM"
            style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                      <ion-icon name="bicycle-outline"></ion-icon>
                      <span class="visitorDesc">
                        Vehicle No
                      </span>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                    <ion-col>
                        <p no-margin>{{appointment[0].PLATE_NUM}}</p>
                        <!-- <p class='stable'>{{appointment[0].END_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent
            *ngIf="(appointment && appointment[0]  && appointment[0].Remarks) && (!facilityBooking || !facilityBooking[0]  || !facilityBooking[0].Remarks)"
            style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                      <ion-icon name="reader-outline"></ion-icon>
                      <span class="visitorDesc">
                          Remarks
                      </span>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                    <ion-col text-wrap>
                        <p no-margin>{{appointment[0].Remarks}}</p>
                        <!-- <p class='stable'>{{appointment[0].END_DATE | date:'h:mm a'}}</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-item-divider transparent *ngIf="facilityBooking && facilityBooking[0]  && facilityBooking[0].Remarks"
            style="padding: 0px;">
            <ion-grid style="--padding-end: 0px;
            padding-inline-end: 0px;">
                <ion-row style="padding: 0px;">
                    <ion-col size="4">
                      <ion-icon name="reader-outline"></ion-icon>
                      <span class="visitorDesc">
                          Remarks
                      </span>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                    <ion-col text-wrap>
                        <p no-margin>{{facilityBooking[0].Remarks}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
    </ion-card>

    <ion-card no-margin mode="ios" style="width:100%;margin: 0px !important;padding: 0px;
    margin-top: 15px !important;" class="ion-padding pending-info"
        *ngIf="facilityBooking && facilityBooking.length > 0 && FACILITYSLOTLIST && FACILITYSLOTLIST.length > 0">
        <!-- <h2 style="color: white;padding: 10px;width: 100%;background: #ff515a;"><b>Booking Slot</b></h2> -->
        <ion-card-header class="cardHeader" mode="ios" color="primary">
          <ion-row>
            <ion-col>
              <ion-label>Booking Slot</ion-label>
            </ion-col>
            <ion-col>
              <ion-label *ngIf="Editable || hostSettings.AllowHostsToEndSession">PIN Number :
                {{FACILITYSLOTLIST[0].value[0].PinNumber}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-card-header>

        <div *ngFor="let slots of FACILITYSLOTLIST" style="margin-top:5px">
            <ion-text style="padding: 10px;width: 100%;text-align: center;margin-left: 3px;"><b>{{slots.key | date : 'dd MMM yyyy'}}</b></ion-text>
            <ion-row style="width: fit-content;margin-left: 10px;margin-bottom: 5px;">
                <div [ngClass]="{'ColSessionEnd': slot.selected == '4','slotUnselected': slot.selected == '0','ColslotSelected': slot.selected == '1',
                'slotDisable': slot.selected == '2', 'ColslotExpired': slot.selected == '3'}"
                    *ngFor="let slot of slots.value">
                    <!-- <p text-wrap *ngIf="slot.SessionEnd" class="SessionEnd">{{slot.startDisplayTime}}<br>{{slot.endDisplayTime}}</p> -->
                    <p text-wrap [ngClass]="{'SessionEnd': slot.selected == '4','slotUnselected': slot.selected == '0','slotSelected': slot.selected == '1',
                    'slotDisable': slot.selected == '2', 'slotExpired': slot.selected == '3'}"
                        (click)="openSlotInfo(slot, slots.key)">{{slot.startDisplayTime}}<br>{{slot.endDisplayTime}}</p>
                </div>
            </ion-row>
        </div>
    </ion-card>
    <ion-card no-margin mode="ios"
        style="width:100%;    padding: 0px;margin-top:14px !important;"
        (click)="selectNotifyAppointment()">
        <ion-item lines="none" style="padding: 10px; --padding-start: 0px">
            <i slot="start" theme-text-color class="siva-icon-clock" style="font-size: 35px;margin: 0px;"></i>
            <div>
                <h5 style="margin:5px;font-size: 13px;" theme-text-color>NOTIFY ME ABOUT THIS APPOINTMENT</h5>
                <p style="margin:5px;font-size: 13px;" *ngIf="notifyTime == 0 && notifyMin == 0">Notify Before -- hrs --
                    mins</p>
                <p style="margin:5px;font-size: 13px;" *ngIf="notifyTime != 0 || notifyMin != 0">Notify Before
                    {{notifyTime}} hrs {{notifyMin}} mins</p>
            </div>
        </ion-item>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab *ngIf="Editable">
        <ion-fab-button ion-fab color="danger"><i class="siva-icon-ellipsis-vert" style="font-size: 22px;"></i>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="danger"
                *ngIf="appointment && appointment[0] && !appointment[0].isFacilityAlone && !isPastAppointment"
                (click)="remindAppintment(fab)"><i class="siva-icon-calendar-1"></i></ion-fab-button>
            <ion-fab-button color="primary" (click)="editAppintment(fab)"><i class="siva-icon-pencil"></i>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="deleteAppintment(fab, '')"><i class="siva-icon-trash-empty"></i>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
