<!-- Generated template for the IntroPageWizardComponent component -->
<ion-slides #wizardSlider (ionSlideDidChange)="slideHasChanged()" pager="true" *ngIf="data != null">
  <ion-slide *ngFor="let item of data.items;" class="ion-padding">
      <img logo [src]="item.logo" />
      <h1 text-left wizard-title padding-horizontal>{{item.title}}</h1>
      <p text-left wizard-description padding-horizontal>{{item.description}}</p>
      <p text-left wizard-description padding-horizontal>{{item.subtitle}}</p>
  </ion-slide>
</ion-slides>
<!-- Button section-->
<div *ngIf="data != null">
  <ion-button button-clear text-capitalize fill="clear" float-left (click)="changeSlide(-1)" *ngIf="prev">
    {{data.btnPrev}}
<ion-ripple-effect></ion-ripple-effect></ion-button>
  <ion-button button-clear text-capitalize fill="clear" float-right (click)="changeSlide(1)" *ngIf="next">
    {{data.btnNext}}
<ion-ripple-effect></ion-ripple-effect></ion-button>
  <ion-button button-clear text-capitalize fill="clear" float-right (click)="onEvent('onFinish')" *ngIf="finish">
    {{data.btnFinish}}
<ion-ripple-effect></ion-ripple-effect></ion-button>
</div>
