<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="margin-left: -70px;">Additional Document</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="dismissModal()">Close<ion-ripple-effect></ion-ripple-effect></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="main" *ngIf="appSettings.addVisitor">
    <ion-card no-margin style="padding: 10px;margin-top: 15px !important;
    padding-left: 0px;" *ngIf="appSettings.addVisitor.additionalDocLimit > 0">

      <ion-item>
        <ion-thumbnail (click)="capture(0)" slot="start">
          <img src="{{ (attachmentList && attachmentList.length > 0) ? ('data:image/jpeg;base64,'+ attachmentList[0]): '../../../assets/images/user.png'}}">
        </ion-thumbnail>
        <div style="display: contents;" (click)="capture(0)">
          <ion-label>Document 1</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-icon *ngIf="(!isViewOnly && attachmentList && attachmentList.length > 0)" color="primary" slot="end" name="close-circle-outline" (click)="removeDoc(0)"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card no-margin style="padding: 10px;margin-top: 15px !important;
    padding-left: 0px;" *ngIf="appSettings.addVisitor.additionalDocLimit > 1">

      <ion-item>
        <ion-thumbnail (click)="capture(1)" slot="start">
          <img src="{{ (attachmentList && attachmentList.length > 1) ? ('data:image/jpeg;base64,'+ attachmentList[1]): '../../../assets/images/user.png'}}">
        </ion-thumbnail>
        <div style="display: contents;" (click)="capture(1)">
          <ion-label>Document 2</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-icon *ngIf="(!isViewOnly && attachmentList && attachmentList.length > 1)" color="primary" slot="end" name="close-circle-outline" (click)="removeDoc(1)"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card no-margin style="padding: 10px;margin-top: 15px !important;
    padding-left: 0px;" *ngIf="appSettings.addVisitor.additionalDocLimit > 2">

      <ion-item>
        <ion-thumbnail (click)="capture(2)" slot="start">
          <img src="{{ (attachmentList && attachmentList.length > 2) ? ('data:image/jpeg;base64,'+ attachmentList[2]): '../../../assets/images/user.png'}}">
        </ion-thumbnail>
        <div style="display: contents;" (click)="capture(2)">
          <ion-label>Document 3</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-icon *ngIf="(!isViewOnly && attachmentList && attachmentList.length > 2)" color="primary" slot="end" name="close-circle-outline" (click)="removeDoc(2)"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card no-margin style="padding: 10px;margin-top: 15px !important;
    padding-left: 0px;" *ngIf="appSettings.addVisitor.additionalDocLimit > 3">

      <ion-item>
        <ion-thumbnail (click)="capture(3)" slot="start">
          <img src="{{ (attachmentList && attachmentList.length > 3) ? ('data:image/jpeg;base64,'+ attachmentList[3]): '../../../assets/images/user.png'}}">
        </ion-thumbnail>
        <div style="display: contents;" (click)="capture(3)">
          <ion-label>Document 4</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-icon *ngIf="(!isViewOnly && attachmentList && attachmentList.length > 3)" color="primary" slot="end" name="close-circle-outline" (click)="removeDoc(3)"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card no-margin style="padding: 10px;margin-top: 15px !important;
    padding-left: 0px;" *ngIf="appSettings.addVisitor.additionalDocLimit > 4">

      <ion-item>
        <ion-thumbnail (click)="capture(4)" slot="start">
          <img src="{{ (attachmentList && attachmentList.length > 4) ? ('data:image/jpeg;base64,'+ attachmentList[4]): '../../../assets/images/user.png'}}">
        </ion-thumbnail>
        <div style="display: contents;" (click)="capture(4)">
          <ion-label>Document 5</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-icon *ngIf="(!isViewOnly && attachmentList && attachmentList.length > 4)" color="primary" slot="end" name="close-circle-outline" (click)="removeDoc(4)"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card no-margin style="padding: 10px;margin-top: 15px !important;
    padding-left: 0px;" *ngIf="appSettings.addVisitor.additionalDocLimit > 5">

      <ion-item>
        <ion-thumbnail (click)="capture(5)" slot="start">
          <img src="{{ (attachmentList && attachmentList.length > 5) ? ('data:image/jpeg;base64,'+ attachmentList[5]): '../../../assets/images/user.png'}}">
        </ion-thumbnail>
        <div style="display: contents;" (click)="capture(5)">
          <ion-label>Document 6</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
        <ion-icon *ngIf="(!isViewOnly && attachmentList && attachmentList.length > 5)" color="primary" slot="end" name="close-circle-outline" (click)="removeDoc(5)"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-button style="margin-top: 20px;" *ngIf="appSettings.customStyle && !isViewOnly" color="transparent" class="btn-grad" [ngStyle]="{'font-size': appSettings.customStyle.buttonStyle.btnTextSize + 'px', 'border-radius': appSettings.customStyle.buttonStyle.btnBorderRadius + 'px', 'color': appSettings.customStyle.buttonStyle.btnTextColor, 'background': 'linear-gradient(to right, ' + this.appSettings.customStyle.buttonStyle.btnColor1
    +' 0%,'+ this.appSettings.customStyle.buttonStyle.btnColor2 +' 51%,'+ this.appSettings.customStyle.buttonStyle.btnColor1 +' 100%)'}" expand="block" (click)="proceed()">Proceed<ion-ripple-effect></ion-ripple-effect></ion-button>
  </div>
</ion-content>
