
<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"></ion-icon>
    <ion-title>{{edit? ('ADD_APPOIN.U_TITLE' | translate) : ('ADD_APPOIN.TITLE' | translate)}}</ion-title>
    <ion-buttons slot="end" *ngIf="showFacility">
      <ion-button color="light" slot="icon-only" (click)="shareLink()">
        <ion-icon slot="start" name="share-social-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect></ion-button>
        <ion-button color="btnthm" slot="icon-only" (click)="checkFacilityAvailability()">
            <img app-logo-img class="animated fadeInDown delay-1s" style="display: block; margin: 0 auto;width: 30px;height: 30px;margin-right: 10px;" src="../../assets/images/room_available.png">
        <ion-ripple-effect></ion-ripple-effect></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
        <!-- <ion-button (click)="openCalendar()">Open Calendar on Current Date<ion-ripple-effect></ion-ripple-effect></ion-button> -->
    <div app-bg>
      <ion-item sp-visitor-item lines="none" *ngIf="!edit" style="padding: 10px; --padding-start: 0px;">
        <img onError="this.src='../../assets/images/user.png';" [src]="hostimageURL+hostData.SEQID+ imageURLTypeHOST + newImage" style="background-color: #e2dede;
        padding: 2px;
        width: 62px;
        height: 62px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 5px;">
          <div style="padding-left: 5px;
          font-weight: bold;">
            <ion-label text-color-white>You</ion-label>
            <ion-label style="font-size: 12px; font-weight: 100;" text-color-white>{{hostData.HOST_EMAIL ? hostData.HOST_EMAIL : '&nbsp;&nbsp;--'}}</ion-label>
          </div>
      </ion-item>
        <div padding-top class="item item-body" style="border-bottom:1px solid rgba(0,0,0,0.05);">
            <ion-row style="padding: 8px;">
                <ion-col size="6" padding-horizontal class="col" style="border-right: 1px solid rgba(0,0,0,0.05);padding: 0px" (click)="openCalender(picker1, 'START')">
                  <ion-datetime style=" margin-left: 5px;
                  font-size: 14px;display: none;" #picker1 displayFormat="YYYY-MM-DDTHH:mm" min="{{minDate}}" max="2121-12-12" [(ngModel)]="datepickerFrmDate" (ionChange)="changeCalendar(true)"></ion-datetime>

                    <div text-alpha-caption margin-bottom-10 style="    color: white;">
                        <i hidden margin-right-10 class="icon siva-icon-calendar-3"></i>{{'ADD_APPOIN.FROM_DATE' | translate}}</div>
                    <div class="row" style="    display: inline-flex;">
                        <!-- <ion-datetime siv-date-picker (ionChange)="changeEvent('fromDate')" [(ngModel)]="VM.fromDate" pickerFormat="DD/MM/YYYY hh:mm A" min="{{minDate}}"
                        max="2050-12-31"></ion-datetime> -->
                        <h3 text-white text-right no-margin class="col" style="padding: 0px;">{{VM.fromDate | date : 'dd'}}</h3>
                        <div text-white text-uppercase style="margin-left: 8px">
                            <b>{{VM.fromDate | date : 'MMM'}}</b>
                            <div>{{VM.fromDate | date : 'yyyy'}}</div>
                        </div>
                        <h3 text-white text-right no-margin class="col" style="align-self: center;">{{VM.fromTime}}</h3>
                        <div text-white text-uppercase margin-left style="line-height: 2.6;margin-left: 3px;">
                            <b>{{VM.fromTimeSession}}</b>
                        </div>
                    </div>
                  </ion-col>
                <ion-col size="6" padding-horizontal class="col" style="padding:0px" (click)="openCalender(picker2, 'END')">
                  <ion-datetime style="    display: none;" #picker2 displayFormat="YYYY-MM-DDTHH:mm" min="{{minDateTo}}" max="2121-12-12" [(ngModel)]="datepickerToDate" (ionChange)="changeCalendar(false)"></ion-datetime>

                    <div text-alpha-caption margin-bottom-10 style="    color: white;">
                        <i hidden margin-right-10 class="icon siva-icon-calendar-3"></i>{{'ADD_APPOIN.TO_DATE' | translate}}</div>
                    <div class="row row-no-padding" style="    display: inline-flex;">
                        <!-- <ion-datetime siv-date-picker (ionChange)="changeEvent('toDate')" [(ngModel)]="VM.toDate" pickerFormat="DD/MM/YYYY hh:mm A" min="{{minDate}}"
                        max="2050-12-31"></ion-datetime> -->
                        <h3 text-white text-right no-margin class="col">
                                {{VM.toDate | date : 'dd'}}</h3>
                        <div text-white text-uppercase style="margin-left: 8px">
                            <b>{{VM.toDate | date : 'MMM'}}</b>
                            <div>{{VM.toDate | date : 'yyyy'}}</div>
                        </div>
                        <h3 text-right text-white no-margin class="col" style="align-self: center;">{{VM.toTime}}</h3>
                        <div text-white text-uppercase margin-left style="line-height: 2.6;margin-left: 3px;">
                            <b>{{VM.toTimeSession}}</b>
                        </div>
                    </div>
                  </ion-col>
            </ion-row>
        </div>
        <div class="item item-body" *ngIf="false">
            <div margin-bottom no-padding class="row">
                <div padding-horizontal class="col" style="border-right: 1px solid rgba(0,0,0,0.05);" ng-click="openTimeBreakInPicker()">
                    <div text-alpha-caption margin-top-10 margin-bottom-10 style="    color: white;">
                        <i hidden margin-right-10 class="icon siva-icon-clock-2"></i>{{'ADD_APPOIN.FROM_TIME' | translate}}</div>
                    <div class="row row-no-padding">
                        <ion-datetime siv-date-picker (ionChange)="changeEvent('fromTime')"
                            pickerFormat="hh:mm A" [(ngModel)]="VM.fromTime"></ion-datetime>
                        <h1 text-white text-right no-margin class="col">{{VM.fromTime}}</h1>
                        <div text-white text-uppercase margin-left style="line-height: 2.6;">
                            <b>{{VM.fromTimeSession}}</b>
                        </div>
                    </div>
                </div>
                <div padding-horizontal col ng-click="openTimeBreakOutPicker()">
                    <div text-alpha-caption margin-top-10 margin-bottom-10 style="    color: white;">
                        <i hidden margin-right-10 class="icon siva-icon-clock-2"></i>{{'ADD_APPOIN.TO_TIME' | translate}}</div>
                    <div class="row row-no-padding">
                        <ion-datetime siv-date-picker (ionChange)="changeEvent('toTime')"
                          pickerFormat="hh:mm A" [(ngModel)]="VM.toTime"></ion-datetime>
                        <h1 text-right text-white no-margin class="col">{{VM.toTime}}</h1>
                        <div text-white text-uppercase margin-left style="line-height: 2.6;">
                            <b>{{VM.toTimeSession}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
       <ion-item lines="none" no-padding transparent style="--padding-start: 12px;">
          <ion-label theme-text-color position="floating" style="font-size: 19px;">{{'ADD_VISITORS.LAB_USER_CATE' | translate}}</ion-label>
          <ion-select [disabled]="edit" class="categorySelect" mode="ios" [(ngModel)]="addAppointmentModel.visitor_ctg_id" (ionChange)="onChangeCategory($event, true)" interface="action-sheet" placeholder="{{'ADD_VISITORS.LAB_USER_CATE' | translate}}">
          <ion-label position="floating">{{'ADD_VISITORS.LAB_USER_CATE' | translate}}</ion-label>
            <ion-select-option text-left *ngFor="let vis_cat of VISITOR_CATEGORY"
              [value]="vis_cat.visitor_ctg_id" >
              {{vis_cat.visitor_ctg_desc}}
            </ion-select-option>
          </ion-select>
        </ion-item>
    </div>
    <ion-row style="background: rgb(248, 248, 248);    margin-top: 10px;" *ngIf="VM.addVisitorSettings">
        <ion-col size="8" style="padding: 0px;align-self: center;">
                <ion-label margin-top padding-horizontal theme-text-color>
                        {{'ADD_APPOIN.NUM_VISITORS' | translate}} </ion-label>
        </ion-col>
        <ion-col size="4" style="text-align: end;padding: 0px;">
          <!-- <ion-fab-button color="primary" (click)="goToAddManageVisitors()" style="display: inline-block;width: 35px;
          height: 35px;
          margin-right: 10px;"><ion-icon name="person-add-outline" style="font-size:1.3rem;" ></ion-icon></ion-fab-button> -->

        <ion-button color="light" fill="clear" (click)="goToAddManageVisitors()">
            <ion-icon size="small" name="person-add-outline" color="btnthm"></ion-icon>
            <ion-label style="margin-left: -7px;"><span class="dot">{{VM.visitors.length}}</span></ion-label>
          <ion-ripple-effect></ion-ripple-effect></ion-button>

        </ion-col>
    </ion-row>



    <div style="height: 45%;">


        <ion-list #visitorsList>

            <ion-card mode="ios" no-padding no-border  *ngFor="let item of VM.visitors" style="margin:10px">
            <ion-item-sliding #slideDOM >
                <ion-item mode="ios" sp-visitor-item lines="none" style="padding: 3px;--padding-start: 5px;">
                  <img class="visitorImage" *ngIf="item.visitor_RemoveImg || (!item.VISITOR_IMG && item.SEQ_ID)" slot="start" onError="this.src='../../assets/images/user.png';" [src]="imageURL+item.SEQ_ID+ imageURLType + newImage"/>
                  <img class="visitorImage" *ngIf="!item.visitor_RemoveImg && !item.VISITOR_IMG && !item.SEQ_ID && !item.VisitorBookingSeqId" slot="start" onError="this.src='../../assets/images/user.png';" [src]="imageURL+item.SEQ_ID+ imageURLType + newImage"/>
                    <img class="visitorImage" *ngIf="!item.visitor_RemoveImg && !item.VISITOR_IMG && item.VisitorBookingSeqId" slot="start" onError="this.src='../../assets/images/user.png';" [src]="imageURL+item.VisitorBookingSeqId + imageURLTypeVPB + newImage"/>
                    <img  slot="start" *ngIf="item.VISITOR_IMG" class="visitorImage circle-pic" onError="this.src='../../assets/images/user.png';" [src]="'data:image/jpeg;base64,' + item.VISITOR_IMG" />
                   <div style="padding-top: 10px; padding-bottom: 10px;">

                    <ion-item lines="none" style="--padding-start: 0px;--min-height: 25px;">
                      <ion-icon style="font-size: 14px;" name="person-outline"></ion-icon>
                      <ion-label no-margin style="font-size: 16px;font-weight: 600;color: black;">{{item.VISITOR_NAME}}</ion-label>
                    </ion-item>
                    <ion-item lines="none" style="--padding-start: 0px;--min-height: 25px;">
                      <ion-icon style="font-size: 12px;" name="mail-outline"></ion-icon>
                      <ion-label no-margin style="color: gray;">{{item.EMAIL ? item.EMAIL: '&nbsp;&nbsp;--'}}</ion-label>
                    </ion-item>
                   </div>
                    <!-- <ion-note slot="end">{{item.phone}}</ion-note> -->
                    <ion-button slot="end" shape="round" color="btnthm" style="width: 38px;
                    height: 38px;" (click)="removeVisitor(item)" *ngIf="!item.IsAckVerified">
                        <ion-icon name="close-circle-outline" style="font-size: 35px;padding: 0px;
                        text-align: center;"></ion-icon>
                    <ion-ripple-effect></ion-ripple-effect></ion-button>
                </ion-item>
                <ion-item-options side="end" *ngIf="!item.IsAckVerified">
                    <!-- <ion-button slot="icon-only" color="primary" fill="outline" no-border (click)="editVisitors(slideDOM)">
                    <ion-icon color="primary" class="siva-icon-trash-empty"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect></ion-button> -->
                <ion-button slot="icon-only" style="align-self: center;" shape="round" no-padding color="btnthm" fill="clear" no-border (click)="editVisitors(slideDOM, 'edit', item)">
                    <ion-icon color="btnthm" class="siva-icon-pencil-2"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect></ion-button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-card>
    </ion-list>
    </div>
    <!-- <ion-button bottom right icon-right align-items-end shape="round" fill="outline" color="primary"
    style="padding: 14px 7px 14px 18px;height: 40px;margin-left: auto;display: block;"
    (click)="proceedToNextStep()" [disabled]="(VM.visitors.length == 0)">
        {{'ACC_MAPPING.PROCEED' | translate}}
      <ion-icon class="icon siva-icon-right-open"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect></ion-button> -->

</ion-content>

<ion-footer transparent>
    <ion-toolbar transparent>
        <ion-button bottom slot="end" icon-right align-items-end shape="round" fill="solid" color="btnthm"
        style="height: 40px;margin-left: auto;display: block;"
        (click)="proceedToNextStep()" [disabled]="(VM.visitors.length == 0)">
            {{'ACC_MAPPING.PROCEED' | translate}}
          <ion-icon class="icon siva-icon-right-open"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect></ion-button>
    </ion-toolbar>
</ion-footer>
