<ion-header>
  <ion-toolbar>
    <ion-title>Additional Details</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-title style="font-size: 14px">{{addAppointmentModel.START_DATE | date: "MMM dd, yyyy HH:mm a"}} to {{addAppointmentModel.END_DATE | date: "MMM dd, yyyy HH:mm a"}}</ion-title>
    <h1 *ngIf="VISITOR_SIZE == 0 || VISITOR_SIZE == 1" style="color:white">{{VISITOR_SIZE}} Visitor</h1>
    <h1 *ngIf="VISITOR_SIZE > 1" style="color:white">{{VISITOR_SIZE}} Visitors</h1>
  </ion-toolbar> -->
</ion-header>
<ion-content padding>

      <ion-grid>
        <ion-row align-items-start>
          <form novalidate col-12 col-sm-12 col-md-12 (ngSubmit)="proceedToNextStep()"
            [formGroup]="facilityBooking" class="simple-form">
            <ion-col no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <ion-item no-lines no-padding transparent>
                    <!-- <ion-label style="    font-size: 16px;" color="favorite" floating>{{'FACILITY_BOOKING.STEP2.LAB_FACILITY_NAME' | translate}}</ion-label> -->
                    <ion-select mode="ios" required formControlName="facility" [disabled] = "onedit && addAppointmentModel.FacilityCode" style="font-size: 16px;" [(ngModel)]="addAppointmentModel.FacilityCode" interface="action-sheet" placeholder="{{'ADD_APPOIN.STEP2.LAB_FACILITY_NAME' | translate}}">
                      <ion-label>{{'FACILITY_BOOKING.STEP2.LAB_FACILITY_NAME' | translate}}</ion-label>
                      <ion-select-option text-left *ngFor="let avl_reason of VM.FACILITYMASTERLIST" (ionSelect)="onChangeFacility(avl_reason)" [value]="avl_reason.FacilityCode">
                        {{avl_reason.FacilityName}}
                      </ion-select-option>
                    </ion-select>
                </ion-item>
                <!-- <ion-item no-lines no-padding transparent *ngIf="hostSettings.RoomEnabled && !hostSettings.RoomRequired">
                    <ion-select mode="ios" formControlName="facility" style="font-size: 16px;" [(ngModel)]="addAppointmentModel.FacilityCode" interface="action-sheet" placeholder="{{'ADD_APPOIN.STEP2.LAB_FACILITY_NAME' | translate}}">
                      <ion-label>{{'FACILITY_BOOKING.STEP2.LAB_FACILITY_NAME' | translate}}</ion-label>
                      <ion-select-option text-left *ngFor="let avl_reason of VM.FACILITYMASTERLIST" (ionSelect)="onChangeFacility(avl_reason)" [value]="avl_reason.FacilityCode">
                        {{avl_reason.FacilityName}}
                      </ion-select-option>
                    </ion-select>
                </ion-item> -->
                <ion-item no-lines transparent no-lines *ngIf="(facilityBooking.get('facility').hasError('required') && facilityBooking.get('facility').touched)">
                    <div class="error" style="color:red" *ngIf="facilityBooking.get('facility').hasError('required') && facilityBooking.get('facility').touched">
                      {{'FACILITY_BOOKING.STEP2.REQUIRED_LAB_FACILITY_NAME' | translate}}
                    </div>
                </ion-item>
                <ion-item no-lines no-padding transparent *ngIf="hostSettings && hostSettings.PurposeEnabled && hostSettings.PurposeRequired">
                    <!-- <ion-label style="    font-size: 16px;" color="favorite" floating>{{'FACILITY_BOOKING.STEP2.LAB_PURPOSE' | translate}}</ion-label> -->
                    <ion-select mode="ios" required formControlName="purpose" style="    font-size: 16px;" [(ngModel)]="addAppointmentModel.PurposeCode" interface="action-sheet" [disabled] = "onedit && addAppointmentModel.PurposeCode" placeholder="{{'ADD_APPOIN.STEP2.LAB_PURPOSE' | translate}}">
                      <ion-label floating>{{'FACILITY_BOOKING.STEP2.LAB_PURPOSE' | translate}}</ion-label>
                      <ion-select-option text-left *ngFor="let avl_reason of VM.FACILITYPURPOSELIST" (ionSelect)="onChangePurpose(avl_reason)" [value]="avl_reason.PurposeCode">
                        {{avl_reason.PurposeName}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item no-lines no-padding transparent *ngIf="hostSettings && hostSettings.PurposeEnabled && !hostSettings.PurposeRequired">
                    <!-- <ion-label style="    font-size: 16px;" color="favorite" floating>{{'FACILITY_BOOKING.STEP2.LAB_PURPOSE' | translate}}</ion-label> -->
                    <ion-select mode="ios" formControlName="purpose" style="    font-size: 16px;" [(ngModel)]="addAppointmentModel.PurposeCode" interface="action-sheet" [disabled] = "onedit && addAppointmentModel.PurposeCode" placeholder="{{'ADD_APPOIN.STEP2.LAB_PURPOSE' | translate}}">
                      <ion-label floating>{{'FACILITY_BOOKING.STEP2.LAB_PURPOSE' | translate}}</ion-label>
                      <ion-select-option text-left *ngFor="let avl_reason of VM.FACILITYPURPOSELIST" (ionSelect)="onChangePurpose(avl_reason)" [value]="avl_reason.PurposeCode">
                        {{avl_reason.PurposeName}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item no-lines transparent no-lines *ngIf="(facilityBooking.get('purpose').hasError('required') && facilityBooking.get('purpose').touched)">
                      <div class="error" style="color:red" *ngIf="facilityBooking.get('purpose').hasError('required') && facilityBooking.get('purpose').touched">
                        {{'ADD_APPOIN.STEP2.REQUIRED_LAB_PURPOSE' | translate}}
                      </div>
                  </ion-item>
                  <ion-item no-lines no-padding transparent *ngIf="hostSettings.RemarksEnabled && hostSettings.RemarksRequired">
                      <ion-label style="    font-size: 16px;" color="favorite" floating>{{'FACILITY_BOOKING.STEP2.REMARKS' | translate}}</ion-label>
                      <ion-input required formControlName="remarks" style="    font-size: 16px;" placeholder="" type="text" [(ngModel)]="addAppointmentModel.Remarks"></ion-input>
                  </ion-item>
                  <ion-item no-lines no-padding transparent *ngIf="hostSettings.RemarksEnabled && !hostSettings.RemarksRequired">
                      <ion-label style="    font-size: 16px;" color="favorite" floating>{{'FACILITY_BOOKING.STEP2.REMARKS' | translate}}</ion-label>
                      <ion-input formControlName="remarks" style="    font-size: 16px;" placeholder="" type="text"
                        [(ngModel)]="addAppointmentModel.Remarks"
                      ></ion-input>
                  </ion-item>
                  <ion-item no-lines transparent no-lines *ngIf="(facilityBooking.get('remarks').hasError('required') && facilityBooking.get('remarks').touched)">
                      <div class="error" style="color:red" *ngIf="facilityBooking.get('remarks').hasError('required') && facilityBooking.get('remarks').touched">
                        {{'FACILITY_BOOKING.STEP2.REQUIRED_REMARKS' | translate}}
                      </div>
                  </ion-item>
                 <ion-col align-self-end bottom-form col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                      <button *ngIf="!edit" ion-button icon-right round outline color="favorite"
                      style="margin-left: auto;margin-top:25px; display: block;padding: 15px"
                      [disabled]= "facilityBooking.invalid">
                          {{'ACC_MAPPING.PROCEED' | translate}}
                        <ion-icon class="icon siva-icon-right-open"></ion-icon>
                      </button>
                      <button *ngIf="edit" ion-button icon-right round outline color="favorite"
                      style="margin-left: auto;margin-top:25px; display: block;"
                      [disabled]= "facilityBooking.invalid">
                          {{'ACC_MAPPING.UPDATE' | translate}}
                        <ion-icon class="icon siva-icon-right-open"></ion-icon>
                      </button>
                  </ion-col>
            </ion-col>



          </form>
        </ion-row>
    </ion-grid>
</ion-content>
