.header-ios[_ngcontent-wjc-c208] ion-toolbar[_ngcontent-wjc-c208]:last-of-type {
  --border-width: 0;
}
.apt-center-title {
  font-size: 12px;
  font-weight: bold;
  color: #586f7b;
}

.locate-icon {
  font-size: 14px;
  padding: 0px;
}
