<ion-content>
    <ion-list lines="none">
      <div class="login-top" color="primary">
        <h4 style="color: white;
        margin: 0px;
        background: #eb445a;
        padding: 10px;" class="ion-text-center" text-white="">
           {{visitor.VISITOR_NAME}}
          </h4>
      </div>
      <ion-item>
          <img class="animated fadeInDown delay-1s" style="
          width: 150px;
          height: 150px;
          margin: 0 auto;
          display: block;
      " onError="this.src='../../assets/images/user.png';" [src]="qrCodePath">
      </ion-item>
      <div style="padding-left: 35px; padding-right:35px;">
        <ion-button shape="round" color='danger'
              style="display: block;
              margin: 0 auto;min-width: 150px;"
              (click)="share()" >
              Share QR Code</ion-button>
              <ion-button shape="round" fill="outline" color='danger'
              style="display: block;
              margin: 0 auto;min-width: 150px;margin-top: 15px;"
              (click)="dismiss()" >
              Cancel
      </ion-button>
      </div>

      </ion-list>
</ion-content>
