.scroll-content {
  top: -56px;
}
ion-thumbnail {
  display: block;
  clear: both;
  filter: none;
  opacity: 1;
  img {
    max-width: 72px;
    max-height: 72px;
    display: inline;
  }
}
[no-lines] ion-label {
  color: red;
}
[profile-bg] {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 120px;
  padding-top: 40px !important;
}
.transparent-header .toolbar-background,
.transparent-header ion-navbar {
  background: transparent !important;
  background-color: transparent !important;
}
ion-header.transparent-header::after {
  background-image: none;
}
// .transparent-header .toolbar-title,
// .transparent-header .back-button{
//  color:theme-colors('textColors', 'accent');
// }
@-webkit-keyframes color-change {
  0% {
    background-color: transparent !important;
  }

  100% {
    background-color: theme-colors("mainColors", "primary") !important;
  }
}
.transparent-header ion-navbar.active .toolbar-background,
.transparent-header ion-navbar.active {
  animation-name: color-change;
  animation-duration: 400ms;
  background-color: theme-colors("mainColors", "primary") !important;
}
ion-header.transparent-header.active::after {
  background-image: initial;
}
