<!--
  Generated template for the AddVisitorCompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="transparent-header">
  <ion-toolbar class="" [ngClass]="{'active':isClassActive()}">
    <ion-title color="danger">{{"ADD_VISITORS_COMPANY.TITLE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="ion-padding" profile-bg [ngStyle]="{'background-image': 'url(' + data.coverImage +')'}">
    <ion-thumbnail class="ion-text-center" padding-top margin-top margin-bottom>
        <img class="animated fadeInDown delay-1s" [src]="data.logo">
    </ion-thumbnail>
</div>
<ion-grid class="ion-padding" margin-top>
  <ion-row align-items-start>
    <form novalidate size="12" size-sm size-md (ngSubmit)="addVisitors()" [formGroup]="visitorProfile">
      <ion-col no-padding size="12" size-sm size-md offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

          <!---Input field username-->
          <ion-item no-padding transparent>
              <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.COMPANY_NAME' | translate}}</ion-label> -->
              <ion-input required placeholder="{{'ADD_VISITORS_COMPANY.LABLE.COMPANY_NAME' | translate}}" type="text" [(ngModel)]="company_name" formControlName="username" [class.error1]="!visitorProfile.controls.username.valid && visitorProfile.controls.username.dirty"></ion-input>
          </ion-item>
          <ion-item transparent no-lines *ngIf="( visitorProfile.get('username').hasError('minlength') || visitorProfile.get('username').hasError('maxlength') ||visitorProfile.get('username').hasError('pattern') ||visitorProfile.get('username').hasError('required') ) && visitorProfile.get('username').touched">
            <div class="error" *ngIf="visitorProfile.get('username').hasError('required') && visitorProfile.get('username').touched">
              {{'ADD_VISITORS_COMPANY.ERROR.COMPANY_NAME_REQUIRED' | translate}}
            </div>
            <div class="error" *ngIf="visitorProfile.get('username').hasError('minlength') && visitorProfile.get('username').touched">
              {{'ADD_VISITORS_COMPANY.ERROR.COMPANY_NAME_MIN4' | translate}}
            </div>
            <div class="error" *ngIf="visitorProfile.get('username').hasError('maxlength') && visitorProfile.get('username').touched">
              {{'ADD_VISITORS_COMPANY.ERROR.COMPANY_NAME_MAX20' | translate}}
            </div>
            <div class="error" *ngIf="visitorProfile.get('username').hasError('pattern') && visitorProfile.get('username').touched">
              {{'ADD_VISITORS_COMPANY.ERROR.COMPANY_NAME_ALPHA' | translate}}
            </div>
          </ion-item>
        <ion-item no-padding transparent>
          <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.COMPANY_ADDRESS1' | translate}}</ion-label> -->
          <ion-input formControlName="address1"  placeholder="{{'ADD_VISITORS_COMPANY.LABLE.COMPANY_ADDRESS1' | translate}}" type="text" [(ngModel)]="company_address1"
          ></ion-input>
        </ion-item>
        <ion-item no-padding transparent>
          <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.COMPANY_ADDRESS2' | translate}}</ion-label> -->
          <ion-input formControlName="address2" placeholder="{{'ADD_VISITORS_COMPANY.LABLE.COMPANY_ADDRESS2' | translate}}" type="text" [(ngModel)]="company_address2"></ion-input>
        </ion-item>
        <ion-item no-padding transparent>
          <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.COMPANY_ADDRESS3' | translate}}</ion-label> -->
          <ion-input formControlName="address3" placeholder="{{'ADD_VISITORS_COMPANY.LABLE.COMPANY_ADDRESS3' | translate}}" type="text" [(ngModel)]="company_address3"></ion-input>
        </ion-item>
        <ion-item no-padding transparent>
          <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.POSTAL_CODE' | translate}}</ion-label> -->
          <ion-input formControlName="postalcode" editable='false' placeholder="{{'ADD_VISITORS_COMPANY.LABLE.POSTAL_CODE' | translate}}" type="number"  [(ngModel)]="company_postal_code"></ion-input>
      </ion-item>
      <ion-item no-padding transparent>
        <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.CITY' | translate}}</ion-label> -->
        <ion-input formControlName="city" editable='false'  placeholder="{{'ADD_VISITORS_COMPANY.LABLE.CITY' | translate}}" type="text"  [(ngModel)]="company_city"></ion-input>
    </ion-item>
    <ion-item no-padding transparent>
      <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.STATE' | translate}}</ion-label> -->
      <ion-input formControlName="state" editable='false'  placeholder="{{'ADD_VISITORS_COMPANY.LABLE.STATE' | translate}}" type="text"  [(ngModel)]="company_state"></ion-input>
  </ion-item>
    <ion-item no-padding transparent>
    <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.COUNTRY' | translate}}</ion-label> -->
    <ion-input formControlName="country" editable='false'  placeholder="{{'ADD_VISITORS_COMPANY.LABLE.COUNTRY' | translate}}" type="text"  [(ngModel)]="company_country"></ion-input>
    </ion-item>

    <ion-item no-padding transparent>
      <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.CONTACT' | translate}}</ion-label> -->
      <ion-input formControlName="contact" placeholder="{{'ADD_VISITORS_COMPANY.LABLE.CONTACT' | translate}}" type="number" [(ngModel)]="company_contact"></ion-input>
    </ion-item>

      <ion-item no-padding transparent>
        <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.FAX_NO' | translate}}</ion-label> -->
        <ion-input formControlName="fax" editable='false'  placeholder="{{'ADD_VISITORS_COMPANY.LABLE.FAX_NO' | translate}}"  [(ngModel)]="company_fax"></ion-input>
        </ion-item>


      <ion-item no-padding transparent>
        <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.TEL_NO' | translate}}</ion-label> -->
        <ion-input formControlName="tele" editable='false' placeholder="{{'ADD_VISITORS_COMPANY.LABLE.TEL_NO' | translate}}" type="number"  [(ngModel)]="company_tel_no"></ion-input>
        </ion-item>

      <ion-item no-padding transparent>
        <!-- <ion-label color="danger" stacked>{{'ADD_VISITORS_COMPANY.EMAIL' | translate}}</ion-label> -->
        <ion-input editable='false' required placeholder="{{'ADD_VISITORS_COMPANY.LABLE.EMAIL' | translate}}" type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [(ngModel)]="company_email_no"
     formControlName="email" [class.error1]="!visitorProfile.controls.email.valid && visitorProfile.controls.email.dirty"
        ></ion-input>
      </ion-item>
      <ion-item transparent no-lines *ngIf="( visitorProfile.get('email').hasError('minlength') || visitorProfile.get('email').hasError('pattern') ||visitorProfile.get('email').hasError('required') ) && visitorProfile.get('email').touched">
        <div class="error" *ngIf="visitorProfile.get('email').hasError('required') && visitorProfile.get('email').touched">
            {{'ADD_VISITORS_COMPANY.ERROR.EMAIL_REQUIRED' | translate}}
        </div>
        <div class="error" *ngIf="visitorProfile.get('email').hasError('pattern') && visitorProfile.get('email').touched">
            {{'ADD_VISITORS_COMPANY.ERROR.EMAIL_PATERN' | translate}}
        </div>
      </ion-item>
      </ion-col>
      <ion-col align-self-end bottom-form size="12" size-sm size-md offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <ion-button shape="round" expand="full" text-capitalize color="danger"
        type="submit" [disabled]="visitorProfile.invalid">
        <i start class="icon siva-icon-plus"> </i>{{'COMMON.ADD' | translate}}</ion-button>
      </ion-col>
    </form>
  </ion-row>
</ion-grid>
</ion-content>

