<ion-header>

  <ion-toolbar color="danger">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="arrow-back-outline"></ion-icon>
    <ion-title>Additional Details</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

    <ion-row style="background: rgb(248, 248, 248);">
        <ion-col size="6">
                <h3 margin-top padding-horizontal theme-text-color>
                        {{'ADD_APPOIN.NUM_VISITORS' | translate}} ({{visitorList.length}}) </h3>
        </ion-col>
        <ion-col size="6">
                <ion-fab right style="    margin-top: 5px;">
                        <ion-fab-button ion-fab slot="icon-only" style="background-color: #f53d3d;width: 40px;height: 40px;" (click)="goToAddManageVisitors()">
                            <i class="icon siva-icon-user-add" style="font-size:2.0rem;"></i></ion-fab-button>
                </ion-fab>
        </ion-col>
    </ion-row>

    <div style="margin-top: 25px; height: 20%;">

       <ion-list #visitorsList style="margin: 0px;">

            <ion-card mode="ios" class="myCard" no-padding no-border  *ngFor="let item of visitorList">
            <ion-item-sliding #slideDOM >
                <ion-item sp-visitor-item  class="myItem" lines="none">

                        <img *ngIf="item.visitor_RemoveImg || (!item.VISITOR_IMG && item.SEQ_ID)" slot="start" onError="this.src='../../assets/images/user.png';" [src]="imageURL+item.SEQ_ID+ imageURLType" style="width: 52px;margin: 0 auto;
                        height: 52px;
                        margin: 10px;
                        display: block;
                        padding: 2px;">

                        <img *ngIf="!item.visitor_RemoveImg && !item.VISITOR_IMG && !item.SEQ_ID && !item.VisitorBookingSeqId" slot="start" onError="this.src='../../assets/images/user.png';" [src]="imageURL+item.SEQ_ID+ imageURLType" style="width: 52px;margin: 0 auto;
                        height: 52px;
                        margin: 10px;
                        display: block;
                        padding: 2px;">
                            <img *ngIf="!item.visitor_RemoveImg && !item.VISITOR_IMG && item.VisitorBookingSeqId" slot="start" onError="this.src='../../assets/images/user.png';" [src]="imageURL+item.VisitorBookingSeqId + imageURLTypeVPB" style="width: 52px;margin: 0 auto;
                            height: 52px;
                            margin: 10px;
                            display: block;
                            padding: 2px;">

                            <img slot="start" style="margin: 0 auto;" *ngIf="!item.MyKad && item.VISITOR_IMG" onError="this.src='../../assets/images/user.png';" class="circle-pic" style="width: 52px;
                            height: 52px;
                            margin: 10px;
                            display: block;" [src]="'data:image/jpeg;base64,' + item.VISITOR_IMG" />

                            <img slot="start" *ngIf="item.MyKad && item.VISITOR_IMG" onError="this.src='../../assets/images/user.png';" class="circle-pic" style="width: 52px;margin: 0 auto;
                            height: 52px;
                            margin: 10px;
                            display: block;" [src]="sanitizer.bypassSecurityTrustUrl('data:image/png;base64, '+ item.VISITOR_IMG)" />


                    <div>
                      <ion-label theme-text-color>{{item.VISITOR_NAME}}</ion-label>
                      <ion-label *ngIf="item.VISITOR_IC">{{item.VISITOR_IC}}</ion-label>
                    </div>

                        <ion-icon  name="close-circle-outline" slot="end" color="primary" (click)="removeVisitor(item)" style="font-size: 30px;text-align: center;"></ion-icon>

                    <!-- <ion-buttons slot="end" >
                        <ion-icon name="trash" style="padding:8px" (click)="removeVisitor(item)"></ion-icon>
                         <ion-button slot="icon-only" (click)="removeVisitor(item)" ><ion-icon name="trash"></ion-icon></ion-button>
                    </ion-buttons> -->
                </ion-item>
                <ion-item-options side="end">
                    <!-- <ion-button slot="icon-only" color="danger" fill="outline" no-border (click)="editVisitors(slideDOM)">
                    <ion-icon color="danger" class="siva-icon-trash-empty"></ion-icon>
                </ion-button> -->
                <ion-button slot="icon-only" style="align-self: center;" no-padding color="primary" fill="clear" no-border (click)="editVisitors(slideDOM, 'edit', item)">
                    <ion-icon color="primary" class="siva-icon-pencil-2"></ion-icon>
                </ion-button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-card>
        <h4 class="SubHeaderTitle">Meeting Details</h4>

        <form novalidate size="12" size-sm size-md [formGroup]="appointment" class="simple-form">
            <ion-col no-padding size="12" size-sm size-md offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              <ion-label color="primary" style="    font-size: 16px;" position="stacked" *ngIf="hostSettings && hostSettings.PurposeEnabled && hostSettings.PurposeRequired">{{'ADD_APPOIN.STEP2.LAB_PURPOSE' | translate}}</ion-label>
              <ion-item lines="none" no-padding transparent *ngIf="hostSettings && hostSettings.PurposeEnabled && hostSettings.PurposeRequired">
                <ion-select mode="ios" interface="action-sheet"  required formControlName="purpose" style="font-size: 16px;"
                [ngStyle]="{'border': hostSettings.PurposeRequired ? '3px solid #cf3c4f': '3px solid #eee'}" [(ngModel)]="REASON" interface="action-sheet" placeholder="{{'ADD_APPOIN.STEP2.SELECT_LAB_PURPOSE' | translate}}">
                  <ion-label>{{'ADD_APPOIN.STEP2.SELECT_LAB_PURPOSE' | translate}}</ion-label>
                  <ion-select-option text-left *ngFor="let avl_reason of AVAIL_REASONS" [value]="avl_reason.visitpurpose_id">
                    {{avl_reason.visitpurpose_desc}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-label style="font-size: 16px;"  position="stacked" *ngIf="hostSettings && hostSettings.PurposeEnabled && !hostSettings.PurposeRequired">{{'ADD_APPOIN.STEP2.LAB_PURPOSE' | translate}}</ion-label>
              <ion-item lines="none" no-padding transparent *ngIf="hostSettings && hostSettings.PurposeEnabled && !hostSettings.PurposeRequired">
                <ion-select mode="ios" interface="action-sheet"  formControlName="purpose" style="font-size: 16px;"
                [ngStyle]="{'border': hostSettings.PurposeRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
                [(ngModel)]="REASON" interface="action-sheet" placeholder="{{'ADD_APPOIN.STEP2.SELECT_LAB_PURPOSE' | translate}}">
                  <ion-label>{{'ADD_APPOIN.STEP2.SELECT_LAB_PURPOSE' | translate}}</ion-label>
                  <ion-select-option text-left *ngFor="let avl_reason of AVAIL_REASONS" [value]="avl_reason.visitpurpose_id">
                    {{avl_reason.visitpurpose_desc}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            <!-- ------------------------------------ -->
            <ion-label color="primary" style="    font-size: 16px; " >{{'SECURITY_APP.SELECT_HOST' | translate}}</ion-label>
            <ion-item lines="none" no-padding transparent >
              <ion-select mode="ios" interface="action-sheet"  formControlName="host" (ionChange)="onChangeHost($event.detail.value)"
               style="    font-size: 16px;"
               [ngStyle]="{'border': '3px solid #cf3c4f'}"
                [(ngModel)]="hostIc" interface="action-sheet" placeholder="{{'SECURITY_APP.HOST' | translate}}">
                <ion-label>{{'SECURITY_APP.HOST' | translate}}</ion-label>
                <ion-select-option text-left *ngFor="let hostData of HostList" [value]="hostData.HOSTIC">
                  {{hostData.HOSTNAME}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          <!-- --------------------------------------- -->
          <ion-label *ngIf="hostSettings.additionalDocEnabled" style="font-size: 16px;    color: grey;" >{{'SECURITY_APP.SELECT_DOC' | translate}}</ion-label>
          <ion-grid *ngIf="hostSettings.additionalDocEnabled && hostSettings.additionalDocLimit > 0">
            <ion-row>
              <ion-col size="4" *ngIf="addDocs && addDocs[0]">
                <img onError="this.src='../../assets/images/user.png';" class="docImg" style="margin:0 auto" slot="end" [src]="'data:image/jpeg;base64,' +addDocs[0].doc"/>
              </ion-col>
              <ion-col size="4" *ngIf="addDocs && addDocs[1]">
                <img onError="this.src='../../assets/images/user.png';" class="docImg" style="margin:0 auto" slot="end" [src]="'data:image/jpeg;base64,' +addDocs[1].doc"/>
              </ion-col>
              <ion-col size="4" *ngIf="addDocs && addDocs[2]">
                <img onError="this.src='../../assets/images/user.png';" class="docImg" style="margin:0 auto" slot="end" [src]="'data:image/jpeg;base64,' +addDocs[2].doc"/>
              </ion-col>
              <ion-col size="4" *ngIf="addDocs && addDocs.length < 3 && showAddDocOption" (click)="addDocuments()">
                <ion-card class="card2">
                  <ion-item class="ionItem">
                    <h1 class="headerPlus" style="margin:0 auto">+</h1>
                  </ion-item>
                </ion-card>
              </ion-col>

            </ion-row>
            <ion-row *ngIf="addDocs && addDocs.length > 2">
              <ion-col size="4"  *ngIf="addDocs && addDocs[3]">
                <img onError="this.src='../../assets/images/user.png';" class="docImg" style="margin:0 auto" slot="end" [src]="'data:image/jpeg;base64,' + addDocs[3].doc"/>
              </ion-col>
              <ion-col size="4" *ngIf="addDocs && addDocs[4]">
                <img onError="this.src='../../assets/images/user.png';" class="docImg" style="margin:0 auto" slot="end" [src]="'data:image/jpeg;base64,' +addDocs[4].doc"/>
              </ion-col>
              <ion-col size="4" *ngIf="addDocs && addDocs[5]">
                <img onError="this.src='../../assets/images/user.png';" class="docImg" style="margin:0 auto" slot="end" [src]="'data:image/jpeg;base64,' +addDocs[5].doc"/>
              </ion-col>
              <ion-col size="4" *ngIf="addDocs && addDocs.length < 6 && showAddDocOption" (click)="addDocuments()">
                <ion-card class="card2">
                  <ion-item class="ionItem">
                    <h1 class="headerPlus" style="margin:0 auto">+</h1>
                  </ion-item>
                </ion-card>
              </ion-col>
            </ion-row>

          </ion-grid>
          </ion-col>
      </form>
    </ion-list>
    </div>


</ion-content>
<ion-footer color="primary">
<div style="text-align: end;">
  <ion-button shape="round" style="color:white; margin:15px"  (click)="proceedNext()">Check-In<ion-icon style="padding-left: 10px;color:white" slot="end" name="man" ></ion-icon></ion-button>
</div>
  </ion-footer>
