<ion-content style="--background: url('assets/images/background/app_bg.png') 0 0/100% 100% no-repeat;background-size: cover;height: 100%">
  <div>
    <div id="container">
      <ion-label my_selection *ngIf="false" style="width: 25px;height: 25px;color: white;    display: flex;">
        <p class="icon siva-icon-language-1" style="margin:auto"></p></ion-label>
      <ion-item lines="none" *ngIf="false" style="width: 30px;height: 30px;background: transparent;">

        <!-- <ion-select style="opacity:0;"  [(ngModel)]="languageSelect.selectedItem"
            (ionChange)="onChangeLanguage()"
            multiple="false"
            [selectOptions]="{'title':(languageSelect.title | translate),'subTitle':(languageSelect.subTitle | translate)}"
            okText="{{'COMMON.APPLY' | translate}}"
            cancelText="{{'COMMON.CANCEL' | translate}}">
            <ion-option *ngFor="let item of languageSelect.items" [value]="item.id" [selected]="(item.id == languageSelect.selectedItem)">{{item.TCODE | translate}}</ion-option>
        </ion-select> -->
      </ion-item>

      <ion-grid *ngIf="showUI" no-padding class="animated fadeInUp delay-1s" style="height: 100%; width: 100%; justify-content: center;">
        <h1 *ngIf="STOPS == 'STOP1'" class="accountHead"><b>{{'COMMON.WELCOME' | translate}}</b></h1>
        <p *ngIf="STOPS == 'STOP1'" class="accountPara"><b>{{'ACC_MAPPING.SELECT_TYPE_OF_LOGIN' | translate}}</b></p>
        <ion-list transparent *ngIf="STOPS == 'STOP1'">

            <ion-grid>
                <ion-row style="margin: 0 auto; display: block; text-align:center">
                  <ion-col size="6" style="    display: contents;">
                    <ion-card class="cardQR">
                        <img src="../../../assets/images/qrcode1.png" class="qrcode"
                        (click)="takeActForScanQR()">
                    </ion-card>

                  </ion-col>

                </ion-row >
                <ion-row style="margin: 0 auto; display: block; text-align:center">
                <ion-col size="6" style="    display: contents;">
                    <ion-card class="cardQR1">
                        <img src="../../../assets/images/keyboard.png" class="qrcode"
                        (click)="moveToManualRegistration()">
                    </ion-card>
                </ion-col>
                </ion-row >
              </ion-grid>
              <p style="font-weight: 400;color: red;padding: 0px;margin: 20px;margin-top: 0px;text-align: center !important" class="ion-text-center">{{'ACC_MAPPING.SCAN_ACCOUNT_QR' | translate}}</p>
        </ion-list>

        <ion-list transparent *ngIf="STOPS == 'STOP2'" class="animated fadeInUp delay-1s" style="    margin-top: -20px;">
          <!-- <h3 padding-horizontal ion-text color="btnthm" no-margin>{{'ACC_MAPPING.ACC_CONNECTY' | translate}}</h3> -->
          <h3 padding-horizontal ion-text color="primary" no-margin>{{'ACC_MAPPING.ACC_HOLD_ORG_DETAILS' | translate}}</h3>
          <div     style=" margin-top: 5px;width: -webkit-fill-available;">
            <!-- <h5 padding-horizontal margin-vertical ion-text>{{'ACC_MAPPING.ACC_HOLD_ORG_DETAILS' | translate}}</h5> -->
            <ion-card sp-card-map-acc-org>
                <ion-item>
                  <img style="height: 26px;margin: 0px;" slot="start" [src]="companyImage" onError="this.src='../../assets/logo/2.png';">
                  <div>
                    <ion-label style="margin: 5px;font-size: 14px;
                    font-weight: 700;" class="sticky">{{companyInfo.comp_name}}</ion-label>
                    <p style="margin: 5px;" *ngIf="companyInfo.comp_fax_no"><b>Fax:</b>{{companyInfo.comp_fax_no}}</p>
                    <p style="margin: 5px;" *ngIf="companyInfo.comp_email"><b>Email:</b>{{companyInfo.comp_email}}</p>
                    <p style="margin: 5px;" *ngIf="companyInfo.comp_office_no"><b>Office:</b>{{companyInfo.comp_office_no}}</p>
                  </div>
                </ion-item>
                <ion-card-content *ngIf="companyInfo.comp_address_1">
                  <p><b>Address:</b> {{companyInfo.comp_address_1}}</p>
                </ion-card-content>
            </ion-card>
          </div>
          <div  margin-vertical>

            <ion-item lines="none" transparent>
              <ion-label>{{'ACC_MAPPING.YES_THIS_IS_MY_ORG' | translate}}</ion-label>
              <ion-checkbox slot="start" color="btnthm" checked="VM.org_yes_chk_box" [(ngModel)]="VM.org_yes_chk_box"></ion-checkbox>
            </ion-item>
          </div>
          <div *ngIf="VM.org_yes_chk_box && (scannedJson != null && (scannedJson.HostId == undefined || scannedJson.HostId == null || scannedJson.HostId == ''))" padding-horizontal margin-vertical type-search-code>
              <h5 ion-text>{{'ACC_MAPPING.ENTR_HOST_ACC_ID' | translate}}</h5>
              <input type="text" placeholder=" {{'ACC_MAPPING.ENTR_HOST_ACC_ID_PLACE_HOLD' | translate}} "
                  [(ngModel)]="VM.host_search_id" />
          </div>
            <div style="padding: 15px 7px;
            width: -webkit-fill-available;">
                <ion-row>
                  <ion-col size="6">
                    <ion-button icon-left float-left shape="round" fill="outline" color="btnthm"
                 (click)="takeActionForGoBack('STOP1')">
                    <ion-icon color="btnthm" class="icon siva-icon-left-open"></ion-icon>
                    <span color="btnthm">{{'ACC_MAPPING.GO_BACK' | translate}}</span>
                  </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button icon-right float-right shape="round" color="btnthm"
                  [disabled]="!VM.org_yes_chk_box"
                  (click)="takeActionForProceed('STOP3')" >
                      {{'ACC_MAPPING.PROCEED' | translate}}
                    <ion-icon class="icon siva-icon-right-open"></ion-icon>
                  </ion-button>
                  </ion-col>
                </ion-row>
            </div>
        </ion-list>
        <ion-list transparent *ngIf="STOPS == 'STOP3'" class="ion-padding animated fadeInUp delay-1s" [ngStyle]="{'margin-top' : VM.if_already_mapped || VM.if_already_registered_same_device ? '250px' : '40px'}">
          <!-- <h3 *ngIf="STOPS == 'STOP3'" padding-horizontal ion-text color="btnthm" no-margin>{{'ACC_MAPPING.ACC_CONNECTY' | translate}}</h3> -->
          <!-- <h3 *ngIf="STOPS == 'STOP3'" padding-horizontal ion-text color="btnthm" no-margin><b>{{'ACC_MAPPING.ACC_HOLD_DETAILS' | translate}}</b></h3> -->
          <div style="margin-top: 5px">
            <!-- <h5 padding-horizontal margin-vertical ion-text>{{'ACC_MAPPING.ACC_HOLD_DETAILS' | translate}}</h5> -->
            <ion-card sp-card-map-acc-org>
              <ion-item>
                <img slot="start" style="width: 52px; height: 52px;border-radius: 50%;    margin-left: 10px; object-fit: cover; margin-bottom: 10px;" [src]="hostImage" onError="this.src='../../../assets/images/user.png';">
                <div>
                  <ion-label class="sticky">{{hostInfo.HOSTNAME}}</ion-label>
                  <p style="margin-top: 5px;"><b>Department : </b>{{hostInfo.DEPARTMENT_REFID ? hostInfo.DEPARTMENT_REFID : '&nbsp;&nbsp;--'}}</p>
                </div>
              </ion-item>
              <ion-card-content>
                <p *ngIf="hostInfo.HostExt"><b>Contact: </b> {{hostInfo.HostExt}}</p>
                <p *ngIf="hostInfo.HostFloor"><b>Floor: </b> {{hostInfo.HostFloor}}</p>
                <!-- <p><b>ID:</b>{{hostInfo.HOST_ID}}</p> -->
                <p><b>Email: </b> {{hostInfo.HOST_EMAIL}}</p>
              </ion-card-content>
            </ion-card>
            <p style="color: var(--ion-color-primary);" italic padding-horizontal margin-vertical>{{'ACC_MAPPING.DO_NT_PROCEED_NOT_U' | translate}}</p>
          </div>
          <div *ngIf="VM.if_already_mapped && !VM.if_already_registered_same_device">
              <h5 padding-horizontal margin-vertical ion-text>{{'ACC_MAPPING.DEVICE_DETAILS' | translate}}</h5>
              <p style="color: var(--ion-color-primary);" italic padding-horizontal margin-vertical>{{'ACC_MAPPING.ACC_ALREADY_MAPPED' | translate}}</p>
              <ion-card sp-card-map-acc-org>
                <ion-item no-margin style="--padding-start: 0px;">
                  <ion-icon *ngIf= "VM.DevicePlatform != 'Android'" slot="start" color='danger' class="icon siva-icon-apple" style="margin-right: 7px;
                  font-size: 3.5rem;
                  padding: 0px;
                  color: var(--ion-color-primary);
                  padding-right: 10px;
                  padding-bottom: 22px;"></ion-icon>
                  <!-- <ion-icon color="btnthm" style="margin-right: 7px;
                  font-size: 3.5rem;
                  padding: 0px;
                  color: var(--ion-color-primary);
                  padding-right: 10px;
                  padding-bottom: 22px;" *ngIf= "VM.DevicePlatform == 'Android'" slot="start" color='danger' name="logo-android"></ion-icon> -->
                  <ion-icon *ngIf= "VM.DevicePlatform == 'Android'" slot="start" color='danger' class="icon siva-icon-android" style="margin-right: 7px;
                  font-size: 3.5rem;
                  padding: 0px;
                  color: var(--ion-color-primary);
                  padding-right: 10px;
                  padding-bottom: 22px;">
                  </ion-icon>
                  <div>
                    <ion-label class="sticky">{{VM.DevicePlatform}} {{VM.DeviceDetails['version']}}</ion-label>
                    <p>{{VM.DeviceDetails['model']}}</p>
                  </div>
                </ion-item>
              </ion-card>
            </div>
            <div *ngIf="VM.if_already_registered_same_device">
              <!-- <h5 padding-horizontal margin-vertical ion-text>{{'ACC_MAPPING.DEVICE_DETAILS' | translate}}</h5> -->
              <!-- <p italic padding-horizontal margin-vertical>{{'ACC_MAPPING.ACC_ALREADY_MAPPED' | translate}}</p> -->
              <ion-card sp-card-map-acc-org>
                <ion-item no-margin>
                  <ion-text style="margin: 0 auto;padding: 7px;" class="sticky">This device already used by another user account, Do you want to proceed ?</ion-text>
                </ion-item>
              </ion-card>
            </div>
          <div  margin-top *ngIf="!VM.if_already_mapped && !VM.if_already_registered_same_device">
            <ion-item lines="none" transparent>
              <ion-label text-wrap	>{{'ACC_MAPPING.YES_THIS_IS_MY' | translate}}</ion-label>
              <ion-checkbox slot="start" color="btnthm" checked="VM.user_yes_chk_box" [(ngModel)]="VM.user_yes_chk_box"></ion-checkbox>
            </ion-item>
          </div>
          <div margin-bottom *ngIf="VM.if_already_mapped && !VM.if_already_registered_same_device">
              <ion-item lines="none" transparent>
                <ion-label text-wrap	>{{'ACC_MAPPING.I_AGREE_DISCONCT_OLD_DEVICE' | translate}}</ion-label>
                <ion-checkbox slot="start" color="btnthm" checked="VM.user_alreadymapremove_yes_chk_box" [(ngModel)]="VM.user_alreadymapremove_yes_chk_box"></ion-checkbox>
              </ion-item>
            </div>
            <div margin-bottom *ngIf="VM.if_already_registered_same_device">
              <ion-item lines="none" transparent>
                <ion-label text-wrap	>{{'ACC_MAPPING.I_AGREE_DISCONCT_OLD_ACCOUNT' | translate}}</ion-label>
                <ion-checkbox slot="start" color="btnthm" checked="VM.user_alreadymapremove_yes_chk_box" [(ngModel)]="VM.user_alreadymapremove_yes_chk_box"></ion-checkbox>
              </ion-item>
            </div>

            <div  margin-vertical>
              <div style="margin-top: 40px;">
                  <ion-row>
                    <ion-col size="6">
                      <ion-button  icon-left float-left shape="round" fill="outline" color="btnthm"
                       (click)="takeActionForGoBack('STOP2')">
                      <ion-icon color="btnthm" class="icon siva-icon-left-open"></ion-icon>
                      <span color="btnthm">{{'ACC_MAPPING.GO_BACK' | translate}}</span>
                      </ion-button>
                    </ion-col>
                    <ion-col size="6">
                      <ion-button  icon-right float-right shape="round" color="btnthm"

                      [disabled]="(!VM.user_yes_chk_box &&!VM.if_already_mapped && !VM.if_already_registered_same_device) || (!VM.user_alreadymapremove_yes_chk_box && (VM.if_already_mapped || VM.if_already_registered_same_device))"
                      (click)="takeActionForProceed('FINISH')" >
                          {{'ACC_MAPPING.PROCEED' | translate}}
                        <ion-icon class="icon siva-icon-right-open"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
              </div>
            </div>
        </ion-list>

        <!-- Ack -->

        <ion-list transparent *ngIf="STOPS == 'STOP4'" class="ion-padding animated fadeInUp delay-1s" [ngStyle]="{'margin-top' : VM.if_already_mapped || VM.if_already_registered_same_device ? '125px' : '40px'}">
            <!-- <h3 *ngIf="STOPS == 'STOP3'" padding-horizontal ion-text color="btnthm" no-margin>{{'ACC_MAPPING.ACC_CONNECTY' | translate}}</h3> -->
            <!-- <h3 *ngIf="STOPS == 'STOP4'" padding-horizontal ion-text color="btnthm" no-margin><b>{{'ACC_MAPPING.ACC_HOLD_DETAILS' | translate}}</b></h3> -->
            <div style="margin-top: 5px">
              <!-- <h5 padding-horizontal margin-vertical ion-text>{{'ACC_MAPPING.ACC_HOLD_DETAILS' | translate}}</h5> -->
              <ion-card sp-card-map-acc-org>
                <ion-item>
                  <div>
                    <h1 class="sticky">{{hostInfo.Name}}</h1>
                    <p style="margin-top: 15px;">{{hostInfo.Desc}}</p>
                  </div>
                </ion-item>

              </ion-card>
              <p italic padding-horizontal margin-vertical>{{'ACC_MAPPING.DO_NT_PROCEED_NOT_U' | translate}}</p>
            </div>
            <div *ngIf="VM.if_already_mapped && !VM.if_already_registered_same_device">
                <h5 padding-horizontal margin-vertical ion-text>{{'ACC_MAPPING.DEVICE_DETAILS' | translate}}</h5>
                <p italic padding-horizontal margin-vertical>{{'ACC_MAPPING.ACC_ALREADY_MAPPED' | translate}}</p>
                <ion-card sp-card-map-acc-org>
                  <ion-item no-margin>
                    <ion-icon *ngIf= "VM.DevicePlatform != 'Android'" slot="start" color='danger' class="icon siva-icon-apple" style="font-size: 3.5rem;"></ion-icon>
                    <ion-icon *ngIf= "VM.DevicePlatform == 'Android'" slot="start" color='danger' class="icon siva-icon-android" style="font-size: 3.5rem;">
                    </ion-icon>
                    <div>
                      <ion-label class="sticky">{{VM.DevicePlatform}} {{VM.DeviceDetails['version']}}</ion-label>
                      <p>{{VM.DeviceDetails['model']}}</p>
                    </div>
                  </ion-item>
                </ion-card>
              </div>
              <div *ngIf="VM.if_already_registered_same_device">
                <!-- <h5 padding-horizontal margin-vertical ion-text>{{'ACC_MAPPING.DEVICE_DETAILS' | translate}}</h5> -->
                <!-- <p italic padding-horizontal margin-vertical>{{'ACC_MAPPING.ACC_ALREADY_MAPPED' | translate}}</p> -->
                <ion-card sp-card-map-acc-org>
                  <ion-item no-margin>
                    <ion-text style="margin: 0 auto;" class="ion-padding sticky">This device already used by another account. Do you want to proceed?</ion-text>
                  </ion-item>
                </ion-card>
              </div>
            <div margin-top *ngIf="!VM.if_already_mapped && !VM.if_already_registered_same_device">

              <ion-item lines="none" transparent>
                <ion-label text-wrap	>{{'ACC_MAPPING.YES_THIS_IS_MY' | translate}}</ion-label>
                <ion-checkbox slot="start" color="btnthm" checked="VM.user_yes_chk_box" [(ngModel)]="VM.user_yes_chk_box"></ion-checkbox>
              </ion-item>
            </div>
            <div margin-bottom *ngIf="VM.if_already_mapped && !VM.if_already_registered_same_device">
                <ion-item lines="none" transparent>
                  <ion-label text-wrap	>{{'ACC_MAPPING.I_AGREE_DISCONCT_OLD_DEVICE' | translate}}</ion-label>
                  <ion-checkbox slot="start" color="btnthm" checked="VM.user_alreadymapremove_yes_chk_box" [(ngModel)]="VM.user_alreadymapremove_yes_chk_box"></ion-checkbox>
                </ion-item>
              </div>
              <div margin-bottom *ngIf="VM.if_already_registered_same_device">
                <ion-item lines="none" transparent>
                  <ion-label text-wrap	>{{'ACC_MAPPING.I_AGREE_DISCONCT_OLD_ACCOUNT' | translate}}</ion-label>
                  <ion-checkbox slot="start" color="btnthm" checked="VM.user_alreadymapremove_yes_chk_box" [(ngModel)]="VM.user_alreadymapremove_yes_chk_box"></ion-checkbox>
                </ion-item>
              </div>

              <div margin-vertical style="    margin-top: 40px;">
                <div style="margin-top: 20px;">

                    <ion-button color="btnthm" shape="round" fill="outline"
                     (click)="takeActionForGoBack('STOP1')">
                        <ion-icon color="btnthm" class="icon siva-icon-left-open"></ion-icon>
                        <span color="btnthm">{{'ACC_MAPPING.GO_BACK' | translate}}</span>
                      </ion-button>
                      <ion-button slot="end" float-right shape="round" color="btnthm" style="    margin-left: 20px;"

                      [disabled]="(!VM.user_yes_chk_box &&!VM.if_already_mapped && !VM.if_already_registered_same_device) || (!VM.user_alreadymapremove_yes_chk_box && (VM.if_already_mapped || VM.if_already_registered_same_device))"
                      (click)="takeActionForack()" >
                          {{'ACC_MAPPING.PROCEED' | translate}}
                        <ion-icon class="icon siva-icon-right-open"></ion-icon>
                      </ion-button>
                </div>
              </div>
        </ion-list>

      </ion-grid>
    </div>
  </div>
</ion-content>
