<ion-content style="--background: url('assets/images/background/app_bg.png') 0 0/100% 100% no-repeat;background-size: cover;height: 100%">

  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none" style="background: transparent;">
          <ion-grid *ngIf="showUI" no-padding class="animated fadeInUp delay-1s">
            <ion-list transparent *ngIf="STOPS == 'STOP1'">

                <ion-grid>
                  <img src="../../../assets/images/logo/2.png" class="logo">
                    <h1 class="accountHead"><b>{{'COMMON.WELCOME' | translate}}</b></h1>
                    <p class="accountPara">{{'ACC_MAPPING.SELECT_TYPE_OF_LOGIN' | translate}}</p>
                    <ion-row style="margin: 0 auto; text-align:center;margin-top: 15px;">
                      <ion-card class="cardQR1">
                        <img src="../../../assets/images/qrcode1.png" class="qrcode"
                      (click)="takeActForScanQR()">
                      </ion-card>
                      <ion-card class="cardQR1">
                        <img src="../../../assets/images/keyboard.png" class="qrcode"
                        (click)="moveToManualRegistration()">
                      </ion-card>
                    </ion-row>
                  </ion-grid>
                  <p style="font-size: 12px !important;color: #8f9092;padding: 0px;margin: 20px;margin-top: 0px;text-align: center !important" class="ion-text-center">{{'ACC_MAPPING.SCAN_ACCOUNT_QR' | translate}}</p>
            </ion-list>

            <ion-list transparent *ngIf="STOPS == 'STOP2'" class="animated fadeInUp delay-1s">

              <img class="logo" slot="start" [src]="companyImage" onError="this.src='../../../assets/images/logo/2.png';">

              <h1 style="margin: 5px;font-size: 16px;font-weight: 700;color: #80858b;" class="sticky">{{companyInfo.comp_name}}</h1>
              <div style="    font-size: 14px;
              margin-top: 20px ; display: grid;">
                <div style="align-items: center;
                margin: 0 auto;
                display: flex;">
                  <ion-icon style="color: #659afe;" name="mail"></ion-icon>
                  <ion-label style="margin: 5px;    color: #848484;">{{companyInfo.comp_email}}</ion-label>
                </div>
                <div style="display: flex;align-items: center;margin: 0 auto;">
                  <ion-icon style="color:#e4cb0f" name="phone-portrait"></ion-icon>
                  <ion-label style="margin: 5px;    color: #848484;">{{companyInfo.comp_office_no? companyInfo.comp_office_no: '--'}}</ion-label>
                </div>
                <div style="display: flex;align-items: center;margin: 0 auto;">
                  <ion-icon style="color: #659afe;" name="location"></ion-icon>
                  <ion-label style="margin: 5px;    color: #848484;">{{companyInfo.comp_address_1}}</ion-label>
                </div>
               </div>

               <ion-row *ngIf="hostInfo && hostInfo.HOSTNAME" style="    display: inline-table;
               width: -webkit-fill-available;">
                <img style="margin: 0 auto;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: block;
                object-fit: cover;
                margin-bottom: 10px;" [src]="hostImage" onError="this.src='../../../assets/images/user.png';">

                <div style=" display: grid;    font-size: 14px;
                margin-bottom: 20px;">
                  <div style="align-items: center;
                  margin: 0 auto;
                  display: flex;">
                    <ion-icon style="color: #659afe;" name="person-outline"></ion-icon>
                    <ion-label style="margin: 5px;    color: #848484;">{{hostInfo.HOSTNAME}}</ion-label>
                  </div>
                  <div style="display: flex;align-items: center;margin: 0 auto;">
                    <ion-icon style="color:#e4cb0f" name="mail-outline"></ion-icon>
                    <ion-label style="margin: 5px;    color: #848484;">{{hostInfo.HOST_EMAIL? hostInfo.HOST_EMAIL: '--'}}</ion-label>
                  </div>
                 </div>
              </ion-row>
             <div *ngIf="VM.if_already_mapped && !VM.if_already_registered_same_device" style="margin-bottom: 20px;">
                <ion-label italic padding-horizontal margin-vertical style="color: #848484;font-size: 12px;">{{'ACC_MAPPING.ACC_ALREADY_MAPPED' | translate}} {{' '+ VM.DevicePlatform + ' ' + VM.DeviceDetails['model'] + '. '}} {{'ACC_MAPPING.ACC_ALREADY_MAPPED1' | translate}}</ion-label>
              </div>
              <ion-label italic padding-horizontal margin-vertical style="color: #848484;font-size: 12px;">{{'ACC_MAPPING.DO_NT_PROCEED_NOT_U' | translate}}</ion-label>
              <ion-item lines="none" transparent>
                <ion-label text-wrap style="color: #3a3939;">{{'ACC_MAPPING.YES_THIS_IS_MY' | translate}}</ion-label>
                <ion-checkbox style="--ion-color-base: #076bcd;" slot="start" color="btnthm" checked="VM.user_yes_chk_box" [(ngModel)]="VM.user_yes_chk_box"></ion-checkbox>
              </ion-item>

                <div style="padding: 15px 7px;
                width: -webkit-fill-available;">
                    <ion-row>
                      <ion-col size="12">
                        <ion-button icon-right float-right shape="round" style="background: linear-gradient(
                          90deg, #034587 0%, #034587 15%, #076bcd 100%); border-radius: 10px;display: block;    color: white;"
                      [disabled]="!VM.user_yes_chk_box"
                      (click)="takeActionForProceed('FINISH')" color="transparent">
                          {{'ACC_MAPPING.PROCEED' | translate}}
                      </ion-button>
                      </ion-col>
                      <ion-col size="12">
                        <ion-button icon-left float-left color="transparent"
                     (click)="takeActionForGoBack('STOP1')">
                        <span style="color: #076bcd;">{{'ACC_MAPPING.GO_BACK' | translate}}</span>
                      </ion-button>
                      </ion-col>

                    </ion-row>
                </div>
            </ion-list>

            <!-- Ack -->

            <ion-list transparent *ngIf="STOPS == 'STOP4'" class="ion-padding animated fadeInUp delay-1s">
                <!-- <h3 *ngIf="STOPS == 'STOP3'" padding-horizontal ion-text color="btnthm" no-margin>{{'ACC_MAPPING.ACC_CONNECTY' | translate}}</h3> -->
                <!-- <h3 *ngIf="STOPS == 'STOP4'" padding-horizontal ion-text color="btnthm" no-margin><b>{{'ACC_MAPPING.ACC_HOLD_DETAILS' | translate}}</b></h3> -->
                <div style="margin-top: 5px">
                  <!-- <h5 padding-horizontal margin-vertical ion-text>{{'ACC_MAPPING.ACC_HOLD_DETAILS' | translate}}</h5> -->
                  <ion-card sp-card-map-acc-org>
                    <ion-item>
                      <div>
                        <h1 class="sticky">{{hostInfo.Name}}</h1>
                        <p style="margin-top: 15px;">{{hostInfo.Desc}}</p>
                      </div>
                    </ion-item>

                  </ion-card>
                </div>
                <ion-label italic padding-horizontal margin-vertical style="color: #848484;">{{'ACC_MAPPING.DO_NT_PROCEED_NOT_U' | translate}}</ion-label>
                <ion-item lines="none" transparent style="margin-top: 20px;">
                  <ion-label text-wrap	>{{'ACC_MAPPING.YES_THIS_IS_MY' | translate}}</ion-label>
                  <ion-checkbox slot="start" style="--ion-color-base: #076bcd;"  color="btnthm" checked="VM.user_yes_chk_box" [(ngModel)]="VM.user_yes_chk_box"></ion-checkbox>
                </ion-item>

                  <div style="padding: 15px 7px;
                      width: -webkit-fill-available;">
                          <ion-row>
                            <ion-col size="12">
                              <ion-button float-right shape="round" style="    margin-left: 20px;"
                              [disabled]="!VM.user_yes_chk_box"
                              (click)="takeActionForack()" style="background: linear-gradient(
                                90deg, #034587 0%, #034587 15%, #076bcd 100%); border-radius: 10px;display: block;    color: white;" color="transparent">
                                  {{'ACC_MAPPING.PROCEED' | translate}}
                              </ion-button>
                              </ion-col>
                              <ion-col size="12">
                                <ion-button color="transparent"
                                (click)="takeActionForGoBack('STOP1')" style="color: #076bcd;">
                                   <span >{{'ACC_MAPPING.GO_BACK' | translate}}</span>
                                 </ion-button>
                              </ion-col>
                        </ion-row>
                        </div>
            </ion-list>

          </ion-grid>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
