<ion-content style="--background: url('assets/images/background/app_bg.png') 0 0/100% 100% no-repeat;background-size: cover;height: 100%">

  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <ion-list lines="none" style="background: transparent;">
          <ion-grid *ngIf="showUI" no-padding class="animated fadeInUp delay-1s">
            <ion-list transparent *ngIf="STOPS == 'STOP1'">

                <ion-grid>
                  <img src="../../../assets/images/logo/2.png" class="logo">
                  <h1>{{'APP_NAME' | translate}}</h1>
                  <ion-label>{{'APP_TEXT' | translate}}</ion-label>
                    <h1 class="accountHead"><b>{{'COMMON.WELCOME' | translate}}</b></h1>
                    <p class="accountPara"><b>{{'ACC_MAPPING.SELECT_TYPE_OF_LOGIN' | translate}}</b></p>
                    <ion-row style="margin: 0 auto; text-align:center">
                      <ion-card class="cardQR1">
                        <img src="../../../assets/images/qrcode1.png" class="qrcode"
                      (click)="takeActForScanQR()">
                      </ion-card>
                      <ion-card class="cardQR1">
                        <img src="../../../assets/images/keyboard.png" class="qrcode"
                        (click)="moveToManualRegistration()">
                      </ion-card>
                    </ion-row >
                  </ion-grid>
                  <p style="font-weight: 400;color: red;padding: 0px;margin: 20px;margin-top: 0px;text-align: center !important" class="ion-text-center">{{'ACC_MAPPING.SCAN_ACCOUNT_QR' | translate}}</p>
            </ion-list>

            <ion-list transparent *ngIf="STOPS == 'STOP2'" class="animated fadeInUp delay-1s">

              <img class="logo" slot="start" [src]="companyImage" onError="this.src='../../assets/logo/2.png';">

              <h1 style="margin: 5px;font-size: 20px;font-weight: 700;" class="sticky">{{companyInfo.comp_name}}</h1>
              <div style="display: grid;">
                <div style="align-items: center;
                margin: 0 auto;
                display: flex;">
                  <ion-icon style="margin-top: 4px;" name="mail-outline"></ion-icon>
                  <ion-label style="margin: 5px;">{{companyInfo.comp_email}}</ion-label>
                </div>
                <div>
                  <ion-icon style="margin-top: 4px;" name="call-outline"></ion-icon>
                  <ion-label style="margin: 5px;">{{companyInfo.comp_office_no? companyInfo.comp_office_no: '--'}}</ion-label>
                </div>
                <div>
                  <ion-icon style="margin-top: 4px;" name="location-outline"></ion-icon>
                  <ion-label style="margin: 5px;">{{companyInfo.comp_address_1}}</ion-label>
                </div>
               </div>

               <ion-item class="hostProfile" *ngIf="hostInfo && hostInfo.HOSTNAME">
                <img slot="start" style="width: 52px; height: 52px;border-radius: 50%;    margin-left: 10px; object-fit: cover; margin-bottom: 10px;" [src]="hostImage" onError="this.src='../../../assets/images/user.png';">
                <div>
                  <ion-label class="sticky" style="    font-weight: 600;">{{hostInfo.HOSTNAME}}</ion-label>
                  <ion-item style="text-align: center;
                  --padding-start: 0px;
                  font-size: 14px;
                  height: 32 px;
                  --padding-top: 0px;
                  margin-top: -8px;" lines="none">
                    <ion-icon style="margin-top: 4px;" name="mail-outline"></ion-icon>
                    <ion-label style="margin: 5px;">{{hostInfo.HOST_EMAIL}}</ion-label>
                  </ion-item>
                </div>
              </ion-item>
             <div *ngIf="VM.if_already_mapped && !VM.if_already_registered_same_device">
                <ion-label italic padding-horizontal margin-vertical>{{'ACC_MAPPING.ACC_ALREADY_MAPPED' | translate}} {{' '+ VM.DevicePlatform + ' ' + VM.DeviceDetails['model'] + '. '}} {{'ACC_MAPPING.ACC_ALREADY_MAPPED1' | translate}}</ion-label>
              </div>
              <ion-label italic padding-horizontal margin-vertical>{{'ACC_MAPPING.DO_NT_PROCEED_NOT_U' | translate}}</ion-label>
              <ion-item lines="none" transparent>
                <ion-label text-wrap	>{{'ACC_MAPPING.YES_THIS_IS_MY' | translate}}</ion-label>
                <ion-checkbox slot="start" color="btnthm" checked="VM.user_yes_chk_box" [(ngModel)]="VM.user_yes_chk_box"></ion-checkbox>
              </ion-item>

                <div style="padding: 15px 7px;
                width: -webkit-fill-available;">
                    <ion-row>
                      <ion-col size="6">
                        <ion-button icon-left float-left shape="round" fill="outline" color="btnthm"
                     (click)="takeActionForGoBack('STOP1')">
                        <ion-icon color="btnthm" class="icon siva-icon-left-open"></ion-icon>
                        <span color="btnthm">{{'ACC_MAPPING.GO_BACK' | translate}}</span>
                      </ion-button>
                      </ion-col>
                      <ion-col size="6">
                        <ion-button icon-right float-right shape="round" color="btnthm"
                      [disabled]="!VM.user_yes_chk_box"
                      (click)="takeActionForProceed('FINISH')" >
                          {{'ACC_MAPPING.PROCEED' | translate}}
                        <ion-icon class="icon siva-icon-right-open"></ion-icon>
                      </ion-button>
                      </ion-col>
                    </ion-row>
                </div>
            </ion-list>

            <!-- Ack -->

            <ion-list transparent *ngIf="STOPS == 'STOP4'" class="ion-padding animated fadeInUp delay-1s">
                <!-- <h3 *ngIf="STOPS == 'STOP3'" padding-horizontal ion-text color="btnthm" no-margin>{{'ACC_MAPPING.ACC_CONNECTY' | translate}}</h3> -->
                <!-- <h3 *ngIf="STOPS == 'STOP4'" padding-horizontal ion-text color="btnthm" no-margin><b>{{'ACC_MAPPING.ACC_HOLD_DETAILS' | translate}}</b></h3> -->
                <div style="margin-top: 5px">
                  <!-- <h5 padding-horizontal margin-vertical ion-text>{{'ACC_MAPPING.ACC_HOLD_DETAILS' | translate}}</h5> -->
                  <ion-card sp-card-map-acc-org>
                    <ion-item>
                      <div>
                        <h1 class="sticky">{{hostInfo.Name}}</h1>
                        <p style="margin-top: 15px;">{{hostInfo.Desc}}</p>
                      </div>
                    </ion-item>

                  </ion-card>
                </div>
                <ion-label italic padding-horizontal margin-vertical>{{'ACC_MAPPING.DO_NT_PROCEED_NOT_U' | translate}}</ion-label>
                <ion-item lines="none" transparent>
                  <ion-label text-wrap	>{{'ACC_MAPPING.YES_THIS_IS_MY' | translate}}</ion-label>
                  <ion-checkbox slot="start" color="btnthm" checked="VM.user_yes_chk_box" [(ngModel)]="VM.user_yes_chk_box"></ion-checkbox>
                </ion-item>

                  <div margin-vertical style="    margin-top: 40px;">
                    <div style="margin-top: 20px;">

                        <ion-button color="btnthm" shape="round" fill="outline"
                         (click)="takeActionForGoBack('STOP1')">
                            <ion-icon color="btnthm" class="icon siva-icon-left-open"></ion-icon>
                            <span color="btnthm">{{'ACC_MAPPING.GO_BACK' | translate}}</span>
                          </ion-button>
                          <ion-button slot="end" float-right shape="round" color="btnthm" style="    margin-left: 20px;"

                          [disabled]="!VM.user_yes_chk_box"
                          (click)="takeActionForack()" >
                              {{'ACC_MAPPING.PROCEED' | translate}}
                            <ion-icon class="icon siva-icon-right-open"></ion-icon>
                          </ion-button>
                    </div>
                  </div>
            </ion-list>

          </ion-grid>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
