<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugins.myKadReader" version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>MyKadReader</name>
	<js-module name="MyKadReader" src="www/MyKadReader.js">
		<clobbers target="cordova.plugins.MyKadReader" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="MyKadReader">
				<param name="android-package" value="cordova.plugins.myKadReader.MyKadReader" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
        <config-file parent="/manifest" target="AndroidManifest.xml">
         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
         <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
         <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
         <uses-permission android:name="android.permission.BLUETOOTH" />
         <uses-permission android:name="android.permission.INTERNET" />
         <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
         <uses-permission android:name="android.permission.GET_ACCOUNTS" />
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<meta-data 
				android:name="com.google.android.gms.version"
				android:value="@integer/google_play_services_version" />
		</config-file>
		<source-file src="src/android/MyKadReader.java" target-dir="src/cordova/plugins/myKadReader" />
        <!-- <source-file src="src/android/MyKad.java" target-dir="src/cordova/plugin/myKad" /> -->
        <lib-file src="src/android/myID-release.aar" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="MyKadReader">
				<param name="ios-package" value="MyKadReader" />
			</feature>
		</config-file>
		<source-file src="src/ios/MyKadReader.m" />
	</platform>
</plugin>