.scroll-content {
  top: -56px;
}
ion-thumbnail {
  display: block;
  clear: both;
  filter: none;
  opacity: 1;
  img {
    max-width: 94px;
    max-height: 94px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
}
[no-lines] ion-label {
  color: red;
}
[profile-bg] {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 180px;
  padding-top: 40px !important;
  background: var(--ion-color-primary);
}
.circle-pic {
  width: 92px;
  height: 92px;
  border-radius: 50% !important;
  overflow: hidden;
  background-color: #e8e8e8;
  object-fit: cover;
  margin: 0 auto;
  padding: 2px;
}
.eventImg {
  width: 92px;
  height: 92px;
  border-radius: 50% !important;
  overflow: hidden;
  background-color: #e8e8e8;
  object-fit: cover;
  // margin: 0 auto;
  padding: 2px;
  margin: 0px 8px 0px 3px !important;
}

.img-loaded {
  width: 92px;
  height: 92px;
  border-radius: 50% !important;
  overflow: hidden;
  background-color: #e8e8e8;
  object-fit: cover;
  margin: 0 auto;
  padding: 2px;
  // margin: 0px 8px 0px 3px !important;
}

.img-loaded + ion-spinner {
  display: none;
  width: 92px;
  height: 92px;
  border-radius: 50% !important;
  overflow: hidden;
  background-color: #e8e8e8;
  object-fit: cover;
  // margin: 0 auto;
  padding: 2px;
  margin: 0px 8px 0px 3px !important;
}
// .center in my case to make the spinner at the center
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60px;
  height: 60px;
}
.transparent-header .toolbar-background,
.transparent-header ion-navbar {
  background: transparent !important;
  background-color: transparent !important;
}
ion-header.transparent-header::after {
  background-image: none;
}

// .transparent-header .toolbar-title,
// .transparent-header .back-button{
//  color:theme-colors('textColors', 'accent');
// }
@-webkit-keyframes color-change {
  0% {
    background-color: transparent !important;
  }

  100% {
    background-color: var(--ion-color-primary);
  }
}
.transparent-header ion-navbar.active .toolbar-background,
.transparent-header ion-navbar.active {
  animation-name: color-change;
  animation-duration: 400ms;
  background-color: var(--ion-color-primary);
}
ion-header.transparent-header.active::after {
  background-image: initial;
}

// .commonItem {
//   // margin-top: -30px;
// }

.simple-form {
  display: flex;
  overflow-y: scroll;
  padding-bottom: 1.25rem;
  width: -webkit-fill-available;
}
.item-label-floating.item-has-placeholder.sc-ion-input-ios-h:not(.item-has-value),
.item-label-floating.item-has-placeholder:not(.item-has-value)
  .sc-ion-input-ios-h {
  opacity: 1;
}
.simple-form ion-label {
  // margin-left: 10px !important;
  font-size: 14px !important;
  color: #4c5358;
  font-weight: 600;
}
.simple-form ion-input {
  min-width: 125px;
  border: 3px solid #eee;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
  padding: 5px !important;
  padding-left: 8px !important;
  text-align: left;
  margin: 0 auto;
  --padding-start: 0px;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus)
  .item-inner {
  border-bottom-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus)
  .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus)
  .item-inner {
  border-bottom-color: #8e8e93 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.simple-form ion-select {
  border: 1px solid #eee;
  border-left: 1px solid #eee;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
  padding: 15px !important;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  min-width: 100%;
  padding: 10px;
  //margin-top: 10px;
}
.simple-form .box_round_corner {
  width: 97.5%;
  border: 3px solid #eee;
  border-left: 3px solid #eee;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
  padding: 15px;
  // padding-left: 0px;
  text-align: left;
  margin-top: 4px !important;
  margin-right: 16px !important;
}
.simple-form ion-input:optional {
  border-left-color: salmon !important;
}
.simple-form ion-input:required {
  border-left-color: palegreen;
}
.simple-form ion-input:invalid {
  border-left-color: salmon !important;
}

.select-text {
  padding: 5px;
}

ion-item {
  margin-bottom: 8px !important;
}
