<ion-header class="transparent-header">
  <ion-toolbar color="primary" [ngClass]="{'active':isClassActive()}">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"></ion-icon>
    <ion-title color="light">{{"ADD_VISITORS.TITLE" | translate}}</ion-title>
    <ion-buttons slot="end">
        <ion-button slot="icon-only" (click)="scanPreAppointmentQR()" style="padding: 5px;">
            <ion-icon slot="end" name="qr-code-outline"></ion-icon>
            <!-- <img slot="end" style="width: 30px;height: 30px;" src="../../assets/images/qrcodescan.png"> -->
        <ion-ripple-effect></ion-ripple-effect></ion-button>
        <ion-button slot="icon-only" (click)="scanQrCode()" *ngIf="false" style="padding: 5px;">
            <!-- <ion-icon name="contact"></ion-icon> -->
            <img slot="end" style="width: 30px;height: 30px;" src="../../assets/images/qrcodescan.png">
        <ion-ripple-effect></ion-ripple-effect></ion-button>
        <ion-button slot="icon-only" (click)="scanOcr()" *ngIf="false" style="margin-left: 10px;padding: 5px;">
            <!-- <ion-icon name="contact"></ion-icon> -->
            <img slot="end" style="width: 35px;height: 35px;" src="../../assets/images/ocr.png">
        <ion-ripple-effect></ion-ripple-effect></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="ion-padding" profile-bg [ngStyle]="{'background-image': ''}" style="height:180px">

      <img *ngIf="visitorSEQID && !visitor_RemoveImg && !data.profile && !data.contact" class="ion-text-center circle-pic" margin-top (click)= "presentActionSheet()" onError="this.src='../../assets/images/user.png';" [src]="data.logo + visitorSEQID + imageType">

      <img *ngIf="!visitor_RemoveImg && data.profile" class="ion-text-center circle-pic" margin-top (click)="presentActionSheet()" onError="this.src='../../assets/images/user.png';" [src]="base64Image" />

      <img *ngIf="!visitor_RemoveImg && data.contact" class="ion-text-center circle-pic" margin-top (click)="presentActionSheet()" onError="this.src='../../assets/images/user.png';" [src]="data.contact">

      <img *ngIf="visitor_RemoveImg" class="ion-text-center circle-pic" margin-top (click)="presentActionSheet()" src="../../assets/images/user.png"/>

</div>
<ion-grid padding>
  <ion-row align-items-start>
    <form novalidate size="12" size-sm size-md (ngSubmit)="addVisitors()"
    [formGroup]="visitorProfile" class="simple-form">
      <ion-col no-padding size="12" size-sm size-md offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

          <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.NameEnabled && hostSettings.NameRequired">
              <ion-label color="primary" position="stacked">{{'ADD_VISITORS.LAB_USER_NAME' | translate}}</ion-label>
              <ion-input no-lines required type="text" [(ngModel)]="visitorInfoModal.visitor_name"
              formControlName="username" [ngStyle]="{'border': hostSettings.NameRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
              ></ion-input>
          </ion-item>
          <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.NameEnabled && !hostSettings.NameRequired">
              <ion-label color="primary" position="stacked">{{'ADD_VISITORS.LAB_USER_NAME' | translate}}</ion-label>
              <ion-input no-lines type="text" [(ngModel)]="visitorInfoModal.visitor_name"
              formControlName="username" [ngStyle]="{'border': hostSettings.NameRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
              ></ion-input>
          </ion-item>

        <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.IdProofEnabled && hostSettings.IdProofRequired">
          <ion-label color="primary" position="stacked">{{'ADD_VISITORS.LAB_USER_IC' | translate}}</ion-label>
          <ion-input type="text" required [(ngModel)]="visitorInfoModal.visitor_ic" [disabled] = "disableIc"
          formControlName="icPassport" [ngStyle]="{'border': hostSettings.IdProofRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
          ></ion-input>
        </ion-item>
        <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.IdProofEnabled && !hostSettings.IdProofRequired">
            <ion-label color="primary" position="stacked">{{'ADD_VISITORS.LAB_USER_IC' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="visitorInfoModal.visitor_ic" [disabled] = "disableIc"
            formControlName="icPassport" [ngStyle]="{'border': hostSettings.IdProofRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
            ></ion-input>
          </ion-item>
        <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.EmailEnabled && hostSettings.EmailRequired">
            <ion-label color="primary" position="stacked">{{'ADD_VISITORS.LAB_E_MAIL' | translate}}</ion-label>
            <ion-input editable='false' required type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required [(ngModel)]="visitorInfoModal.visitor_email"
              formControlName="email" [ngStyle]="{'border': hostSettings.EmailRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
            ></ion-input>
        </ion-item>
        <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.EmailEnabled && !hostSettings.EmailRequired">
            <ion-label color="primary" position="stacked">{{'ADD_VISITORS.LAB_E_MAIL' | translate}}</ion-label>
            <ion-input editable='false' type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required [(ngModel)]="visitorInfoModal.visitor_email"
              formControlName="email" [ngStyle]="{'border': hostSettings.EmailRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
            ></ion-input>
        </ion-item>
        <ion-item class= "box_round_corner" no-lines no-padding transparent (click)="openVisitorCompany()" *ngIf= "hostSettings && hostSettings.CompanyEnabled" [ngStyle]="{'border': hostSettings.CompanyRequired ? '3px solid #cf3c4f': '3px solid #eee'}">
          <ion-label style="margin-top: -20px;
          color: #8e8e93 !important;" position="stacked">{{'ADD_VISITORS.LAB_USER_COMPANY' | translate}}</ion-label>
          <ion-icon name="arrow-forward" item-right></ion-icon>
          <ion-label *ngIf="visitorInfoModal.visitor_comp_name" style="margin-top: 30px;color: #000000!important;">{{visitorInfoModal.visitor_comp_name}} </ion-label>
        </ion-item>
        <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.CategoryEnabled && hostSettings.CategoryRequired">
          <ion-label color="primary" position="stacked" style="font-size: 16px;margin-left: 7px;">{{'ADD_VISITORS.LAB_USER_CATE' | translate}}</ion-label>
          <ion-select mode="ios" interface="action-sheet" required [(ngModel)]="visitorInfoModal.visitor_ctg_id"
          interface="action-sheet" placeholder="{{'ADD_VISITORS.LAB_USER_CATE' | translate}}" [ngStyle]="{'border': hostSettings.CategoryRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
          formControlName="vistorCategory" (ionChange)="onChangeCategory($event.detail.value)">
          <ion-label>{{'ADD_VISITORS.LAB_USER_CATE' | translate}}</ion-label>
            <ion-select-option text-left *ngFor="let vis_cat of VISITOR_CATEGORY"
              [value]="vis_cat.visitor_ctg_id" >
              {{vis_cat.visitor_ctg_desc}} <span float-right>({{vis_cat.time_permit}})</span>
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.CategoryEnabled && !hostSettings.CategoryRequired">
            <ion-label color="primary" position="stacked" style="font-size: 16px;margin-left: 7px;">{{'ADD_VISITORS.LAB_USER_CATE' | translate}}</ion-label>
            <ion-select mode="ios" interface="action-sheet" [(ngModel)]="visitorInfoModal.visitor_ctg_id" [ngStyle]="{'border': hostSettings.CategoryRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
            interface="action-sheet" placeholder="{{'ADD_VISITORS.LAB_USER_CATE' | translate}}"
            formControlName="vistorCategory" (ionChange)="onChangeCategory($event.detail.value)">
            <ion-label>{{'ADD_VISITORS.LAB_USER_CATE' | translate}}</ion-label>
              <ion-select-option text-left *ngFor="let vis_cat of VISITOR_CATEGORY"
                [value]="vis_cat.visitor_ctg_id" >
                {{vis_cat.visitor_ctg_desc}} <span float-right>({{vis_cat.time_permit}})</span>
              </ion-select-option>
            </ion-select>
          </ion-item>
         <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.ContactNumberEnabled && hostSettings.ContactNumberRequired">
          <ion-label color="primary" position="stacked">{{'ADD_VISITORS.LAB_USER_CONTACT' | translate}}</ion-label>
          <ion-input type="text" required formControlName="contact" [(ngModel)]="visitorInfoModal.visitor_mobile_no" [ngStyle]="{'border': hostSettings.ContactNumberRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
          ></ion-input>
        </ion-item>
        <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.ContactNumberEnabled && !hostSettings.ContactNumberRequired">
            <ion-label color="primary" position="stacked">{{'ADD_VISITORS.LAB_USER_CONTACT' | translate}}</ion-label>
            <ion-input type="text" formControlName="contact" [(ngModel)]="visitorInfoModal.visitor_mobile_no" [ngStyle]="{'border': hostSettings.ContactNumberRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
            ></ion-input>
          </ion-item>
        <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.VehicleNumberEnabled && hostSettings.VehicleNumberRequired">
            <ion-label color="primary" position="stacked">{{'ADD_APPOIN.STEP2.VECHILE_NO' | translate}}</ion-label>
            <ion-input type="text" required formControlName="vechile" [(ngModel)]="visitorInfoModal.vehicle_no" [ngStyle]="{'border': hostSettings.VehicleNumberRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.VehicleNumberEnabled && !hostSettings.VehicleNumberRequired">
              <ion-label color="primary" position="stacked">{{'ADD_APPOIN.STEP2.VECHILE_NO' | translate}}</ion-label>
              <ion-input type="text" formControlName="vechile" [(ngModel)]="visitorInfoModal.vehicle_no" [ngStyle]="{'border': hostSettings.VehicleNumberRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
              ></ion-input>
          </ion-item>
        <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.GenderEnabled && hostSettings.GenderRequired">
          <ion-label color="primary" position="stacked" style="font-size: 16px;margin-left: 7px;">{{'ADD_VISITORS.LAB_USER_GENDER' | translate}}</ion-label>
          <ion-select mode="ios" interface="action-sheet" required [(ngModel)]="visitorInfoModal.visitor_gender" [ngStyle]="{'border': hostSettings.GenderRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
          interface="action-sheet" placeholder="{{'COMMON.SELECT_GENDER' | translate}}"
          formControlName="gender">
            <ion-label>{{'COMMON.SELECT_GENDER' | translate}}</ion-label>
            <ion-select-option *ngFor="let gender of GenderList" [value]="gender.value">{{gender.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" no-padding transparent *ngIf= "hostSettings && hostSettings.GenderEnabled && !hostSettings.GenderRequired">
            <ion-label color="primary" position="stacked" style="font-size: 16px;margin-left: 7px;">{{'ADD_VISITORS.LAB_USER_GENDER' | translate}}</ion-label>
            <ion-select mode="ios" interface="action-sheet" [(ngModel)]="visitorInfoModal.visitor_gender"
            interface="action-sheet" placeholder="{{'COMMON.SELECT_GENDER' | translate}}" [ngStyle]="{'border': hostSettings.GenderRequired ? '3px solid #cf3c4f': '3px solid #eee'}"
          formControlName="gender">
            <ion-label>{{'COMMON.SELECT_GENDER' | translate}}</ion-label>
            <ion-select-option *ngFor="let gender of GenderList" [value]="gender.value">{{gender.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button *ngIf="!visitor" bottom right icon-right align-items-end shape="round" fill="outline" color="primary"
        style="margin-left: auto;margin-top:15px; display: block;"
        type="submit" [disabled]="visitorProfile.invalid">
        <i start class="icon siva-icon-plus"> </i>{{'COMMON.ADD' | translate}}<ion-ripple-effect></ion-ripple-effect></ion-button>
        <ion-button *ngIf="visitor" bottom right icon-right align-items-end shape="round" fill="outline" color="primary"
        style="margin-left: auto;margin-top:15px; display: block;"
        type="submit" [disabled]="visitorProfile.invalid">
        {{'EDIT_VISITOR.UPDATE' | translate}}<ion-ripple-effect></ion-ripple-effect></ion-button>
      </ion-col>

      <!-- <ion-col align-self-end bottom-form size="12" size-sm size-md offset-lg-3 col-lg-6 offset-xl-3 col-xl-6> -->

      <!-- </ion-col> -->
    </form>
  </ion-row>
</ion-grid>
</ion-content>
