<ion-header>
  <ion-toolbar color="danger">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="arrow-back-outline"></ion-icon>
    <ion-title>{{'NOTIFICATION.TITLE' | translate}}</ion-title>
  </ion-toolbar>


  <ion-toolbar color="danger" mode="ios">
    <ion-segment [(ngModel)]="selectedTap"  mode="ios">
      <ion-segment-button value="general" (click)= "showNotification('general')">
        General
      </ion-segment-button>
      <ion-segment-button value="in" (click)= "showNotification('in')" >
        Visitor
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <!-- <ion-toolbar >

    <ion-searchbar [(ngModel)]="queryText" (ionInput)="filterTechnologies($event.target.value)" placeholder="Search">

    </ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content>

    <ion-searchbar  mode="ios" *ngIf= "(selectedTap == 'general')" (ionChange)="filterTechnologies($event.target.value)"
      color="light" placeholder="search" animated>
        <!-- (ionChange)="updateSchedule()" -->
    </ion-searchbar>


    <ion-searchbar  mode="ios" *ngIf= "(selectedTap == 'in')" (ionChange)="filterTechnologies($event.target.value)"
      color="light" placeholder="search" animated>
      <!-- (ionChange)="updateSchedule()" -->
    </ion-searchbar>

    <!-- <div style="margin: 0 auto;display: block;height: 100%;"> -->
      <!-- <h5 style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;" *ngIf="true">{{'NOTIFICATION.NO_NOTIFICATION' | translate}}</h5> -->
      <!-- <ion-list *ngIf="false">
        <ion-item>
        </ion-item>
      </ion-list> -->
      <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

      <!-- <ion-card no-margin mode="ios" style="width:100%;margin-top:14px !important; ">  -->
        <ion-list *ngIf= "(selectedTap == 'general')">
          <ion-card [ngClass]="{'readCard': (notification.IsRead == true || notification.IsRead == 'true'), 'unReadCard':(notification.IsRead == false || notification.IsRead == 'false')}" *ngFor="let notification of VM.searchGeneralNotificationList">
            <ion-item-sliding #slideDOM class="mySlidingItem"  (ionDrag)="ondrag($event, slideDOM, notification)">

              <!-- <ion-item-divider style="padding:0px"> -->
              <ion-item lines="none" [ngClass]="{'myItemRead': (notification.IsRead === true || notification.IsRead === 'true'), 'myItem':(notification.IsRead === false || notification.IsRead === 'false')}" (click)= "viewNotification(notification)">
                  <!-- <ion-item-divider> -->
                  <!-- <ion-avatar slot="start"> -->
                  <img slot="start" class="animated fadeInDown delay-1s" onError="this.src='../../assets/images/user.png';" [src]="(notification.IsRead == true || notification.IsRead == 'true') ? '../../assets/images/read.png' : '../../assets/images/unread.png'">
                  <!-- </ion-avatar> -->
                  <div item-text-wrap [innerHTML]="notification.HtmlContent.trim()" text-wrap class="myText"></div>
                  <div slot="end" style="margin: 0px;">
                    <p style="
                    font-size: 14px;"><b>{{notification.CreatedOn | date : 'dd'}} {{notification.CreatedOn | date : 'MMM'}}</b></p>
                    <p style="
                    font-size: 12px;    margin: 0 auto;">{{notification.CreatedOn| date : 'hh:mm a'}}</p>
                  </div>

              </ion-item>
              <ion-item-options no-border no-lines side="end">
                <!-- <ion-button slot="icon-only" color="danger" fill="outline" no-border (click)="deleteNotification(slideDOM, notification)">
                  <ion-icon color="danger" class="siva-icon-trash-empty"></ion-icon>
                </ion-button> -->
              </ion-item-options>
          </ion-item-sliding>
        </ion-card>
       </ion-list>

        <ion-list *ngIf= "(selectedTap == 'in')">
          <ion-card [ngClass]="{'readCard': (notification.IsRead == true || notification.IsRead == 'true'), 'unReadCard':(notification.IsRead == false || notification.IsRead == 'false')}" *ngFor="let notification of VM.searchInNotificationList">
          <ion-item-sliding #slideDOM class="mySlidingItem" (ionDrag)="ondrag($event, slideDOM, notification)">

            <ion-item lines="none" [ngClass]="{'myItemRead': (notification.IsRead === true || notification.IsRead === 'true'), 'myItem':(notification.IsRead === false || notification.IsRead === 'false')}" (click)= "viewNotification(notification)">
                <!-- <ion-item-divider> -->
                <img slot="start" class="animated fadeInDown delay-1s" onError="this.src='../../assets/images/user.png';" [src]="(notification.IsRead == true || notification.IsRead == 'true') ? '../../assets/images/read.png' : '../../assets/images/unread.png'">
                <div item-text-wrap [innerHTML]="notification.HtmlContent.trim()" text-wrap class="myText"></div>
                <div slot="end" style="margin: 0px;">
                  <p style="
                  font-size: 14px;"><b>{{notification.CreatedOn | date : 'dd'}} {{notification.CreatedOn | date : 'MMM'}}</b></p>
                  <p style="
                  font-size: 12px;    margin: 0 auto;">{{notification.CreatedOn| date : 'hh:mm a'}}</p>
                </div>

            </ion-item>
            <ion-item-options side="end">
                <!-- <ion-button slot="icon-only" color="danger" fill="outline" no-border (click)="deleteNotification(slideDOM, notification)">
                  <ion-icon color="danger" class="siva-icon-trash-empty"></ion-icon>
                </ion-button> -->
              </ion-item-options>
          </ion-item-sliding>
        </ion-card>
        </ion-list>
        <ion-row style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;" *ngIf="loadingFinished && (selectedTap == 'general' && VM.searchGeneralNotificationList.length == 0) || (selectedTap == 'in' && VM.searchInNotificationList.length == 0)">
          <ion-col size="12" size-sm size-md>
                  <img app-logo-img class="animated fadeInDown delay-1s" style="
                  display: block;
                  margin: 0 auto;
                  margin-top: 10px;
                  margin-bottom: 10px;
              " src="assets/images/notification_empty.png">
                  <h5 style="display: flex;justify-content: center;margin-bottom: 30px;margin-top: 50px;">{{'NOTIFICATION.NO_NOTIFICATION' | translate}}</h5>
          </ion-col>
    </ion-row>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="{{ 'COMMON.LOADER_MSG.LOADING_MORE_DATA' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>


