ion-thumbnail {
  display: block;
  clear: both;
  filter: none;
  opacity: 1;
  img {
    max-width: 94px;
    max-height: 94px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
}
[profile-bg] {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 200px;
  padding: 0px !important;
  background: linear-gradient(to bottom, #d82e2e 0%, #f31818 100%);
}
.unselected {
  width: 100%;
  border: none;
  padding: 28px !important;
  margin: 0px !important;
  font-size: 12px;
  border: transparent;
  border-radius: 0px;
  color: lightgray;
}
.selected {
  width: 100%;
  border: none;
  padding: 28px !important;
  margin: 0px !important;
  font-size: 12px;
  border: transparent;
  border-radius: 0px;
  color: white;
}
.circle-pic {
  width: 92px;
  height: 92px;
  border-radius: 10% !important;
  overflow: hidden;
  margin: 0 auto;
  padding: 4px;
}

.transparent-header .toolbar-background,
.transparent-header ion-navbar {
  background: transparent !important;
  background-color: transparent !important;
}

ion-content {
  // --ion-background-color: #eb445a;
}

.card1 {
  margin: auto;
  border-radius: 20px;
  align-items: center;
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 130px;
  max-width: 300px;
  margin-bottom: 20px;
}

.cardtitle {
  text-align: center;
}

.cardCol {
  align-self: center;
}

.ion-tittle {
  font-size: 11px;
  text-align: left;
  font-weight: 100;
  text-align: right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: inherit;
  padding: 10px;
  text-align: center;
}
.para {
  font-size: 32px;
}
#bar-chart-container {
  height: 400px;
  width: 400px;
}

.heart-beat {
  border-radius: 50%;
  height: 10px;
  border: 8px solid #d8bbc5;
  padding: 5px;
  width: 10px;
  background: #e24b4b;
}
.card2 {
  margin: auto;
  border-radius: 5px;
  align-items: center;
  background-color: #f6f6f6;
  --box-shadow: 50px;
}

.tabIcon {
  font-size: 20px;
}

.ion-padding {
  display: inline-block;
  vertical-align: bottom;
  height: 15px;
  padding-top: 10px;
}

.has-refresher .scroll-content {
  border-top: 0 !important;
}

.main {
  height: 100%;
  background: #ffffff;
  padding: 20px;
  width: 100%;
  background-color: #f0f0f0;
}

.alertanimate {
  border-radius: 100%;
  border-color: rgba(219, 49, 49, 1);
}

.mainsegments {
  background: var(--ion-color-primary);
  border-radius: 0px;
  color: whitesmoke;
}

.mainsegments ion-segment-button {
  --color-checked: var(--ion-color-primary);
  padding: 5px;
  border-bottom: 3px solid var(--ion-color-primary);
  border-radius: 0px;
  margin: 0px;
  --background-checked: white;
}
ion-footer {
  position: sticky;
}

.dashboardToolbar {
}
