<!--
  Generated template for the SecurityDashBoardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header lines="none" class="ion-no-border">
  <ion-toolbar color="primary" style="min-height:90px;" lines="none" class="ion-no-border">
    <div slot="start" class="ion-text-left" >
      <!-- <img *ngIf="companyData.LogoImgUrl && companyData.StorageURL" class="circle-pic" onError="this.src='../../assets/images/logo/2.png';" [src]="companyData.StorageURL + companyData.LogoImgUrl" style="float: left;width: 60px;height: 60px;"> -->
      <img src="../../../assets/images/user.png" style="width: 60px;height: 60px;">
    </div>
    <ion-label class="ion-padding" style="font-weight: 800;">USER NAME<br></ion-label>
    <ion-label class="ion-padding" style="font-size: 12px;">LAST LOGGED IN</ion-label>
    <ion-icon slot="end" style="font-size: 26px;padding-right: 10px;" name="notifications-outline"></ion-icon>
    <ion-icon slot="end" style="font-size: 26px;" name="settings-sharp" (click)="pressed()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding class="ion-no-border">
  <div class="main">
    <ion-segment mode="ios" (ionChange)="segmentChanged()" [(ngModel)]="segment" class="mainsegments">

      <ion-segment-button value="0" layout="icon-start">
        <ion-icon name="document-text-outline"></ion-icon>Summary
      </ion-segment-button>
      <ion-segment-button value="1" layout="icon-start">
        Graph<ion-icon name="stats-chart-sharp"></ion-icon>
      </ion-segment-button>
  </ion-segment>
    <ion-slides #slides pager style="padding-bottom: 150px" (ionSlideDidChange)="slideChanged()" scrollbar="true">
      <ion-slide>
        <ion-grid>
          <ion-row style="padding-top: 5px;">
            <ion-col size="6">
              <ion-card class="card1" (click)= "statesClicked('10')" style="color: #236348;">
                <ion-icon name="calendar-outline" style="font-size: 45px;" class="cardtitle"></ion-icon>
                <ion-grid>
                  <ion-row>
                    <ion-col size="8">
                      <ion-card-subtitle class="ion-tittle">Today Appointment</ion-card-subtitle>
                    </ion-col>
                    <ion-col size="4">
                      <div class="para">99</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card class="card1" (click)= "statesClicked('20')" style="color: #418FC0;">
                <ion-icon name="book-outline" style="font-size: 45px;" class="cardtitle"></ion-icon>
                <ion-grid>
                  <ion-row>
                    <ion-col size="8">
                      <ion-card-subtitle class="ion-tittle">Overall Appointment</ion-card-subtitle>
                    </ion-col>
                    <ion-col size="4">
                      <div class="para">{{TotalVisitorsOut}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card class="card1" style="color: #3836BD;">
                <ion-icon name="trending-up-outline" style="font-size: 45px;" class="cardtitle"></ion-icon>
                <ion-grid>
                  <ion-row>
                    <ion-col size="8">
                      <ion-card-subtitle class="ion-tittle">Today Check-In</ion-card-subtitle>
                    </ion-col>
                    <ion-col size="4">
                      <div class="para">{{TotalVisitorsOut}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card class="card1" style="color: #90CC64;">
                <ion-icon name="trending-down-outline" style="font-size: 45px;" class="cardtitle"></ion-icon>
                <ion-grid>
                  <ion-row>
                    <ion-col size="8">
                      <ion-card-subtitle class="ion-tittle">Today Check-Out</ion-card-subtitle>
                    </ion-col>
                    <ion-col size="4">
                      <div class="para">{{TotalVisitorsOut}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card class="card1" (click)= "statesClicked('40')" style="color: #CA203D;">
                <ion-fab vertical="top" horizontal="end" >
                  <ion-fab-button #button class="alertanimate" style="width: 5px;height: 5px;margin-top: 7px;margin-right: 10px;">
                  </ion-fab-button>
                </ion-fab>
                <ion-icon name="alert-circle-outline" style="font-size: 45px;" class="cardtitle"></ion-icon>
                <ion-grid>
                  <ion-row>
                    <ion-col size="8">
                      <ion-card-subtitle class="ion-tittle">Overstay</ion-card-subtitle>
                    </ion-col>
                    <ion-col size="4">
                      <div class="para">{{TotalVisitorsOut}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card class="card1" (click)= "statesClicked('30')" style="color: #006A5C;">
                <ion-icon name="podium-outline" style="font-size: 45px;" class="cardtitle"></ion-icon>
                <ion-grid>
                  <ion-row>
                    <ion-col size="8">
                      <ion-card-subtitle class="ion-tittle">Currently Check-In</ion-card-subtitle>
                    </ion-col>
                    <ion-col size="4">
                      <div class="para">{{TotalVisitorsOut}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
          <ion-row style="padding-top: 5px;">
            <ion-col size="12">
              <ion-card class="card2">
                <ion-card-header>
                  <ion-card-subtitle>
                    Total Check-In by Day (May)
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <canvas #totCheckin></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="12">
              <ion-card class="card2">
                <ion-card-header>
                  <ion-card-subtitle>
                    Total Appointment by Day (May)
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <canvas #barCanvas></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="12">
              <ion-card class="card2">
                <ion-card-header>
                  <ion-card-subtitle>
                    Total Overstay by Day (May)
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <canvas #barCanvas></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="12">
              <ion-card class="card2">
                <ion-card-header>
                  <ion-card-subtitle>
                    Estimated No of Visitor by Day (May)
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <canvas #barCanvas></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ion-footer lines="lines" no-border transparent>
  <ion-toolbar color="white">
    <ion-row transparent style="padding: 5px;justify-content: center;">
      <ion-tab-button color="primary" [ngStyle]="{'color': (tabSelected === 'QUICK_PASS')?'white': 'lightgray'}"
    (click)="proceedNext('QUICK_PASS')" mode="ios" selected="{{tabSelected === 'QUICK_PASS'? 'true': 'false'}}">
      <div>
        <ion-icon class="tabIcon" name="archive-outline"></ion-icon>
      </div>
      <ion-label style="font-size: 12px; text-transform: none;">Check-In</ion-label>
      </ion-tab-button>

      <ion-tab-button [ngStyle]="{'color': (tabSelected === 'QUICK_PASS_OUT')?'white': 'lightgray'}"
      (click)="proceedNext('QUICK_PASS_OUT')" mode="ios" selected="{{tabSelected === 'QUICK_PASS_OUT'? 'true': 'false'}}">
        <div>
          <ion-icon class="tabIcon" name="archive-outline"></ion-icon>
        </div>
        <ion-label style="font-size: 12px; text-transform: none;">Check-Out</ion-label>
      </ion-tab-button>

      <ion-tab-button [ngStyle]="{'color': (tabSelected === 'IN')?'white': 'lightgray'}"
      (click)="proceedNext('IN')" mode="ios" selected="{{tabSelected === 'IN'? 'true': 'false'}}">
        <div>
          <ion-icon class="tabIcon" name="man"></ion-icon>
        </div>
        <ion-label style="font-size: 12px; text-transform: none;">Appointment</ion-label>
      </ion-tab-button>

      <ion-tab-button [ngStyle]="{'color': (tabSelected === 'IN')?'white': 'lightgray'}"
      (click)="proceedNext('IN')" mode="ios" selected="{{tabSelected === 'IN'? 'true': 'false'}}">
        <div>
          <ion-icon class="tabIcon" name="barcode-outline"></ion-icon>
        </div>
        <ion-label style="font-size: 12px; text-transform: none;">Quick Pass</ion-label>
      </ion-tab-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
