ion-thumbnail {
  display: block;
  clear: both;
  filter: none;
  opacity: 1;
  img {
    max-width: 94px;
    max-height: 94px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
}
[profile-bg] {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 200px;
  padding: 0px !important;
  background: linear-gradient(to bottom, #d82e2e 0%, #f31818 100%);
}
.unselected {
  width: 100%;
  border: none;
  padding: 28px !important;
  margin: 0px !important;
  font-size: 12px;
  border: transparent;
  border-radius: 0px;
  color: lightgray;
}
.selected {
  width: 100%;
  border: none;
  padding: 28px !important;
  margin: 0px !important;
  font-size: 12px;
  border: transparent;
  border-radius: 0px;
  color: white;
}
.circle-pic {
  width: 92px;
  height: 92px;
  border-radius: 10% !important;
  overflow: hidden;
  margin: 0 auto;
  padding: 4px;
}

.transparent-header .toolbar-background,
.transparent-header ion-navbar {
  background: transparent !important;
  background-color: transparent !important;
}

ion-content{
  --ion-background-color:#EB445A;
}


.card1 {
  margin: auto;
  border-radius: 15%;
  align-items: center;
  background-color: #F6F6F6;
}

.cardtitle{
  padding-top:5vh;
  text-align: center;
}

.ion-tittle{
  font-size: 11px;
  text-align: left;
  font-weight: 100;
  text-align: right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}
.para {
  font-size: 150%;
  text-align: left;
  vertical-align: bottom;
}

.card2 {
  margin: auto;
  border-radius: 5%;
  height: 250px;
  width: 90%;
  align-items: center;
  background-color: #F6F6F6;
  --box-shadow: 50px;
}

.tabIcon {
  font-size: 25px;
}

.ion-padding{
  display: inline-block;
  vertical-align: bottom;
  height: 15px;
  padding-top: 10px;
}

.main{
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background: #ffffff;
  padding: 20px;
  height: calc(100vh - 80px);
  width: 100%;
  background-color: #F0F0F0;
}

ion-tab-button div ion-icon, ion-tab-button ion-label {
  color:#CA203D;
}

@keyframes pulse {
  0% {
    box-shadow: 0, 0, 0, 0 rgb(219, 49, 49, 1);
    border-radius:100%;
  }

  70% {
    box-shadow: 0, 0, 0, 0 rgba(219, 49, 49, 1);
    border-radius:100%;
  }

  100% {
    box-shadow: 0, 0, 0, 0 rgba(219, 49, 49, 1);
    border-radius:100%;
  }
}

.alertanimate{
  border-radius:100%;
  border-color: rgba(219, 49, 49, 1);
}


.mainsegments{
  float: inline-end;
}

.mainsegments ion-segment-button {
  --color-checked: var(--ion-color-success-contrast);
  // --background-checked: blue;
}