<!--
  Generated template for the SecurityDashBoardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header lines="none" class="ion-no-border">
  <ion-toolbar lines="none" class="ion-no-border" color="primary" *ngIf="appSettings.Header">
    <ion-item lines="none" class="no-border" style="--padding-start: 0px;">
      <img src="../../../assets/images/user.png" slot="start" class="ion-text-left"  style="width: 52px;
      height: 52px;
      margin-right: 5px;
      padding: 8px;">
      <div style="line-height: 22px;">
        <ion-label [ngStyle]="{'color': appSettings.Header.HeaderColor, 'font-size': appSettings.Header.HeaderSize + 'px',
      'font-weight': appSettings.Header.HeaderFontWeight}">{{userInfoObj.UserName}}<br></ion-label>
        <ion-label [ngStyle]="{'color': appSettings.SubHeader.SubHeaderColor, 'font-size': appSettings.SubHeader.SubHeaderSize + 'px',
        'font-weight': appSettings.SubHeader.SubHeaderFontWeight}">last logged in: {{lastLoggedIn? lastLoggedIn: ''}}</ion-label>
      </div>
    </ion-item>

    <ion-buttons slot="end">
      <ion-icon style="font-size: 26px;padding-right: 10px;" color="light" name="notifications-outline" (click)="gotoNotifiations()"></ion-icon>
      <ion-icon style="font-size: 26px;padding-right: 10px;" name="settings-sharp" color="light" (click)="gotoSettings()"></ion-icon>
      <ion-icon style="font-size: 26px;padding-right: 10px;" name="exit-outline" color="light" (click)="logout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment mode="ios" [(ngModel)]="segment" class="mainsegments" (ionChange)="segmentChanged($event)">
    <ion-segment-button color="light" value="Summary" layout="icon-start">
      <ion-icon style=" font-size: 16px;" name="copy-outline"></ion-icon>
      <ion-label style="margin: 0 auto;font-weight: 600;">Summary</ion-label>
    </ion-segment-button>
    <ion-segment-button color="light" value="Graph" layout="icon-start">
      <ion-icon style="font-size: 16px;" name="bar-chart-sharp"></ion-icon>
      <ion-label style="margin: 0 auto;font-weight: 600;">Graph</ion-label>

    </ion-segment-button>
</ion-segment>
</ion-header>

<ion-content padding class="ion-no-border" style="--background: #f0f0f0;" line="none">
  <div class="main">

    <!-- <ion-slides #slides pager style="padding-bottom: 150px" (ionSlideDidChange)="slideChanged()" scrollbar="true">
      <ion-slide> -->
        <ion-grid *ngIf="segment === 'Summary'">
          <ion-row style="padding-top: 5px;" *ngIf="appSettings.customStyle">
            <ion-col size="6">
              <ion-card class="card1" (click)="statesClicked('50')" style="color: #236348;">

                <ion-grid>
                  <ion-row>
                    <ion-col size="1">

                    </ion-col>
                    <ion-col size="3" class="cardCol">
                      <ion-icon name="calendar-outline" class="cardtitle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card1.iconColor, 'font-size': appSettings.customStyle.Cards.Card1.iconSize+ 'px'}"></ion-icon>
                    </ion-col>
                    <ion-col size="8" class="cardCol">
                      <div class="para cardtitle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card1.countColor, 'font-size': appSettings.customStyle.Cards.Card1.countSize + 'px'}">{{statsCountData.TodayAppointmentCount ? statsCountData.TodayAppointmentCount: '0'}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-card-subtitle class="ion-tittle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card1.labelColor, 'font-size': appSettings.customStyle.Cards.Card1.labelSize + 'px'}">{{appSettings.customStyle.Cards.Card1.title}}</ion-card-subtitle>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card class="card1" (click)="statesClicked('60')" style="color: #418FC0;">
                <ion-grid>
                  <ion-row>
                    <ion-col size="1">

                    </ion-col>
                    <ion-col size="3" class="cardCol">
                      <ion-icon name="book-outline" class="cardtitle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card2.iconColor, 'font-size': appSettings.customStyle.Cards.Card2.iconSize+ 'px'}"></ion-icon>
                    </ion-col>
                    <ion-col size="8" class="cardCol">
                      <div class="para cardtitle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card2.countColor, 'font-size': appSettings.customStyle.Cards.Card2.countSize + 'px'}">{{statsCountData.TotalCheckInCount ? statsCountData.TotalCheckInCount: '0'}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-card-subtitle class="ion-tittle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card2.labelColor, 'font-size': appSettings.customStyle.Cards.Card2.labelSize + 'px'}">{{appSettings.customStyle.Cards.Card2.title}}</ion-card-subtitle>
              </ion-card>
            </ion-col>
            <ion-col size="6" >
              <ion-card class="card1" style="color: #3836BD;" (click)="statesClicked('10')">
                <ion-grid>
                  <ion-row>
                    <ion-col size="1">

                    </ion-col>
                    <ion-col size="3" class="cardCol">
                      <ion-icon name="trending-up-outline" [ngStyle]="{'color': appSettings.customStyle.Cards.Card3.iconColor, 'font-size': appSettings.customStyle.Cards.Card3.iconSize+ 'px'}" class="cardtitle"></ion-icon>
                    </ion-col>
                    <ion-col size="8" class="cardCol">
                      <div class="para cardtitle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card3.countColor, 'font-size': appSettings.customStyle.Cards.Card3.countSize + 'px'}">{{statsCountData.TotalVisitorsIn ? statsCountData.TotalVisitorsIn: '0'}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-card-subtitle class="ion-tittle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card3.labelColor, 'font-size': appSettings.customStyle.Cards.Card3.labelSize + 'px'}">{{appSettings.customStyle.Cards.Card3.title}}</ion-card-subtitle>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card class="card1" style="color: #90CC64;" (click)="statesClicked('20')">
                <ion-grid>
                  <ion-row>
                    <ion-col size="1" >
                    </ion-col>
                    <ion-col size="3" class="cardCol">
                      <ion-icon name="trending-down-outline" [ngStyle]="{'color': appSettings.customStyle.Cards.Card4.iconColor, 'font-size': appSettings.customStyle.Cards.Card4.iconSize+ 'px'}" class="cardtitle"></ion-icon>
                    </ion-col>
                    <ion-col size="8" class="cardCol">
                      <div class="para cardtitle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card4.countColor, 'font-size': appSettings.customStyle.Cards.Card4.countSize + 'px'}">{{statsCountData.TotalVisitorsOut? statsCountData.TotalVisitorsOut: '0'}}</div>
                    </ion-col>
                  </ion-row>
                  <ion-card-subtitle class="ion-tittle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card4.labelColor, 'font-size': appSettings.customStyle.Cards.Card4.labelSize + 'px'}">{{appSettings.customStyle.Cards.Card4.title}}</ion-card-subtitle>
                </ion-grid>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card class="card1" style="color: #CA203D;"  (click)="statesClicked('40')">
                <ion-fab vertical="top" color="danger" horizontal="end" *ngIf="statsCountData.OverstayVisitor">
                  <ion-fab-button color="danger" class="heart-beat animated infinite pulse delay-1s">
                  </ion-fab-button>
                </ion-fab>
                <ion-grid>
                  <ion-row>
                    <ion-col size="1">

                    </ion-col>
                    <ion-col size="3" class="cardCol">
                      <ion-icon name="alert-circle-outline" [ngStyle]="{'color': appSettings.customStyle.Cards.Card5.iconColor, 'font-size': appSettings.customStyle.Cards.Card5.iconSize+ 'px'}" class="cardtitle"></ion-icon>
                    </ion-col>
                    <ion-col size="8" class="cardCol">
                      <div class="para cardtitle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card5.countColor, 'font-size': appSettings.customStyle.Cards.Card5.countSize + 'px'}">{{statsCountData.OverstayVisitor? statsCountData.OverstayVisitor: '0'}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-card-subtitle class="ion-tittle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card5.labelColor, 'font-size': appSettings.customStyle.Cards.Card5.labelSize + 'px'}">{{appSettings.customStyle.Cards.Card5.title}}</ion-card-subtitle>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card class="card1" (click)="statesClicked('30')" style="color: #006A5C;">
                <ion-grid>
                  <ion-row>
                    <ion-col size="1">

                    </ion-col>
                    <ion-col size="3" class="cardCol">
                      <ion-icon name="podium-outline" [ngStyle]="{'color': appSettings.customStyle.Cards.Card6.iconColor, 'font-size': appSettings.customStyle.Cards.Card6.iconSize+ 'px'}" class="cardtitle"></ion-icon>
                    </ion-col>
                    <ion-col size="8" class="cardCol">
                      <div class="para cardtitle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card6.countColor, 'font-size': appSettings.customStyle.Cards.Card6.countSize + 'px'}">{{statsCountData.VisitorsInside? statsCountData.VisitorsInside: '0'}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-card-subtitle class="ion-tittle" [ngStyle]="{'color': appSettings.customStyle.Cards.Card6.labelColor, 'font-size': appSettings.customStyle.Cards.Card6.labelSize + 'px'}">{{appSettings.customStyle.Cards.Card6.title}}</ion-card-subtitle>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      <!-- </ion-slide>
      <ion-slide> -->
        <ion-grid *ngIf="segment === 'Graph'">

          <ion-row style="padding-top: 5px;">
            <ion-col size="12">
              <ion-card class="card2">
                <ion-card-header>
                  <ion-card-subtitle style="text-transform: capitalize;
                  text-align: center;">
                    Today appointments
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-no-padding"  style="margin-bottom: 25px;">
                  <canvas id="barCanvas5"></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row style="padding-top: 5px;">
            <ion-col size="12">
              <ion-card class="card2">
                <ion-card-header>
                  <ion-card-subtitle style="text-transform: capitalize;
                  text-align: center;">
                    Upcoming 10 days appointment
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <canvas id="barCanvas1"></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row style="padding-top: 5px;">
            <ion-col size="12">
              <ion-card class="card2">
                <ion-card-header>
                  <ion-card-subtitle style="text-transform: capitalize;
                  text-align: center;">
                    Recent 10 days check-in
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <canvas id="barCanvas2"></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row style="padding-top: 5px;">
            <ion-col size="12">
              <ion-card class="card2">
                <ion-card-header>
                  <ion-card-subtitle style="text-transform: capitalize;
                  text-align: center;">
                    Recent 10 days check-out
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <canvas id="barCanvas3"></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row style="padding-top: 5px;">
            <ion-col size="12">
              <ion-card class="card2">
                <ion-card-header>
                  <ion-card-subtitle style="text-transform: capitalize;
                  text-align: center;">
                    Recent 10 days overstay
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <canvas id="barCanvas4"></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      <!-- </ion-slide>
    </ion-slides> -->



  </div>


</ion-content>
<ion-footer class="ion-no-border" *ngIf="appSettings.FooterTab">
  <ion-toolbar class="ion-no-border dashboardToolbar" color="primary">
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="primary" [ngStyle]="{'height': (appSettings.FooterTab.IconSize * 2) + 'px'}">
        <ion-tab-button
        (click)="proceedNext('IN')" mode="ios">
        <ion-icon class="tabIcon" name="trending-up-outline" style="margin: 0px;" [ngStyle]="{'color': appSettings.FooterTab.FooterColor, 'font-size': appSettings.FooterTab.IconSize + 'px'}"></ion-icon>
          <ion-label style="text-transform: none;" [ngStyle]="{'color': appSettings.FooterTab.FooterColor, 'font-size': appSettings.FooterTab.FooterSize + 'px',
          'font-weight': appSettings.FooterTab.FooterFontWeight}">Check-In</ion-label>
          </ion-tab-button>

          <ion-tab-button
          (click)="statesClicked('30')" mode="ios">
            <ion-icon class="tabIcon" name="trending-down-outline" style="margin: 0px;" [ngStyle]="{'color': appSettings.FooterTab.FooterColor, 'font-size': appSettings.FooterTab.IconSize + 'px'}"></ion-icon>
            <ion-label style="text-transform: none;" [ngStyle]="{'color': appSettings.FooterTab.FooterColor, 'font-size': appSettings.FooterTab.FooterSize + 'px',
            'font-weight': appSettings.FooterTab.FooterFontWeight}">Check-Out</ion-label>
          </ion-tab-button>

          <ion-tab-button
          (click)="proceedNext('APPOINTMENT')" mode="ios" *ngIf="appSettings.showPreAppointment">
            <ion-icon class="tabIcon" name="qr-code-outline"[ngStyle]="{'color': appSettings.FooterTab.FooterColor, 'font-size': appSettings.FooterTab.IconSize + 'px'}"></ion-icon>
            <ion-label style="text-transform: none;" [ngStyle]="{'color': appSettings.FooterTab.FooterColor, 'font-size': appSettings.FooterTab.FooterSize + 'px',
            'font-weight': appSettings.FooterTab.FooterFontWeight}">Appointment</ion-label>
          </ion-tab-button>

          <ion-tab-button (click)="proceedNext('QUICK_PASS')" mode="ios" *ngIf="appSettings.showQuickPass">
            <ion-icon class="tabIcon" name="barcode-outline"[ngStyle]="{'color': appSettings.FooterTab.FooterColor, 'font-size': appSettings.FooterTab.IconSize + 'px'}"></ion-icon>
            <ion-label style="text-transform: none;" [ngStyle]="{'color': appSettings.FooterTab.FooterColor, 'font-size': appSettings.FooterTab.FooterSize + 'px',
            'font-weight': appSettings.FooterTab.FooterFontWeight}">Quick Pass</ion-label>
          </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
