<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"
      style="font-size: x-large;color: #FFF;padding-bottom: 0px !important;
      padding-top: 0px !important;"></ion-icon>
    <ion-title>My Appointments</ion-title>
    <ion-buttons slot="end">
      <ion-label *ngIf="expiryTime" style="font-size: 14px;
      background: white;
      color: var(--ion-color-primary);
      padding: 5px;
      border-radius: 12px;">{{expiryTime | date : 'dd MMM yyyy'}}</ion-label>
      <ion-button slot="icon-only" (click)="showCalender(picker)" style="font-size: larger;">
        <ion-datetime #picker style=" margin-left: 5px;
            font-size: 14px;display: none;" displayFormat="YYYY-MM-DD"  max="2121-12-12" placeholder="Select Date" (ionChange)="changeCalendar($event)"></ion-datetime>
        <ion-icon name="calendar-outline" style="position:relative;" style="color: #FFF;">
        </ion-icon>
      <ion-ripple-effect></ion-ripple-effect></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar  style="    padding: 2px;height: 45px;" color="light" mode="ios" (ionChange)="filterTechnologies($event)" (ionClear)="onCancel()" (ionCancel)="onCancel()" class="animated fadeIn delay-1s" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="booking-main">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;" *ngIf="isLoadingFinished && appointmentsCone.length == 0">
    <ion-col size="12" size-sm size-md>
            <img app-logo-img class="animated fadeInDown delay-1s empty_image" src="../../../assets/images/icon_noappoinment_noschedule.png">
            <div style="display: grid;text-align: center;">
              <ion-label class="empty_title">{{'EMPTY.NO_APPOINTMENT_TITLE' | translate}}</ion-label>

            <div class="empty_line">________</div>
              <ion-text class="empty_desc">{{'EMPTY.NO_APPOINTMENT' | translate}}</ion-text>
            </div>
    </ion-col>
</ion-row>
  <ion-card class="card_appointment" *ngFor="let item of appointmentsCone" no-padding no-border (click)="moveToDetailsPage(item)">
    <ion-item-sliding #slideDOM (ionDrag)="ondrag($event, slideDOM, item)">
      <ion-item lines="none" class="ion-no-padding">
        <ion-row lines="none" no-padding full-width>
          <ion-col size="4" class="col apt-left" no-padding>
            <ion-row style="height: 100%;">
            <ion-item lines="none" style="    --padding-start: 4px;
            width: 100%;">
              <div>
                <div style="    width: -webkit-fill-available;
                display: inline-flex;">
                <ion-icon style="font-size: 16px;
                align-self: center;" color="light" name="calendar-outline"></ion-icon>
                  <ion-label color="light" style="font-size: 12px;
                  align-self: center;">Start Time</ion-label>

                </div>
                <ion-label color="light" style="font-weight: 600;    width: -webkit-fill-available;
                text-align: center;font-size: 13px;">{{item.START_TIME | date : 'dd MMM hh:mm a'}}</ion-label>
              </div>
            </ion-item>
            <ion-item lines="none" [ngStyle]="{'border': '1px solid ' + appSettings.customStyle.AppTheme}" style="--padding-start: 4px; background: white;
            border-radius: 6px;align-self: center;
            width: 100%;">
              <div>
                <div style="width: -webkit-fill-available;
                display: inline-flex;">
                <ion-icon style="font-size: 16px;
                align-self: center;" color="dark" name="calendar-outline"></ion-icon>
                  <ion-label color="dark" style="font-size: 12px;
                  align-self: center;">End Time</ion-label>

                </div>
                <ion-label color="dark" style="font-weight: 600;    width: -webkit-fill-available;
                text-align: center;font-size: 13px;">{{item.END_TIME | date : 'dd MMM hh:mm a'}}</ion-label>
              </div>
            </ion-item>
            </ion-row>
          </ion-col>
          <ion-col size="6" style="padding-bottom: 0px;">
            <div class="div-apt-center">
              <ion-icon slot="start" name="person-outline" color="dark" class="apt-text-icons"></ion-icon>
              <ion-label class="apt-center-title">{{item.VISITOR_NAME}}</ion-label>
            </div>

            <div class="div-apt-center">
              <ion-icon slot="start" name="call-outline" color="dark" class="apt-text-icons"></ion-icon>
              <ion-label class="apt-center-subtitle">{{item.TELEPHONE_NO? item.TELEPHONE_NO: '&nbsp;&nbsp;--'}}</ion-label>
            </div>

            <div class="div-apt-center">
              <ion-icon slot="start" name="people-outline" color="dark" class="apt-text-icons"></ion-icon>
              <ion-label class="apt-center-subtitle">{{item.STAFF_NAME ? item.STAFF_NAME: '&nbsp;&nbsp;--'}}</ion-label>
            </div>

            <div class="div-apt-center">
              <ion-icon slot="start" name="car-sport-outline" color="dark" class="apt-text-icons"></ion-icon>
              <ion-label class="apt-center-subtitle">{{item.PLATE_NUM ? item.PLATE_NUM: '&nbsp;&nbsp;--'}}</ion-label>
            </div>
          </ion-col>

          <ion-col size="2" class="colIcons">
            <img src="{{item.SEQ_ID ? visitorImagePath + item.SEQ_ID + imageURLType: '../../../assets/images/user.png'}}" class="visitorImage" style="width: 60px;
                height: 60px;
                max-width: 60px;
                border-radius: 50%;">
                    <div class="statuswithBadge">
                      <div class="outer circle shapeborder">
                        <div class="inner circle shapeborder">
                          <ion-icon *ngIf="item.att_check_in === 0 && item.att_check_in === 0" color="light" name="timer-outline"></ion-icon>
                          <ion-icon *ngIf="item.att_check_in === 1 && item.att_check_out === 1" color="light" name="trending-down-outline"></ion-icon>
                          <ion-icon *ngIf="item.att_check_in === 1 && item.att_check_out === 0" color="light" name="trending-up-outline"></ion-icon>
                        </div>
                      </div>

                      <div class="insideBadge">
                        <ion-badge style="border-radius: 50%;
                      padding-top: 4px;
                      border: 1px solid var(--ion-color-primary);
                      background-color: white;
                      color: var(--ion-color-primary);
                      width: 25px;
                      height: 25px;
                      padding: 6px !important;">{{item.no_of_time_utilized ? item.no_of_time_utilized: 0}}</ion-badge>
                      </div>
                    </div>


          </ion-col>
        </ion-row>
      </ion-item>
    <ion-item-options side="end" >
    </ion-item-options>
</ion-item-sliding>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="{{ 'COMMON.LOADER_MSG.LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
