<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"
      style="font-size: x-large;color: #FFF;"></ion-icon>
    <ion-title>My Appointments</ion-title>
    <ion-buttons slot="end">

      <ion-button slot="icon-only" (click)="gotoNotification()" style="font-size: larger;">
        <ion-icon name="calendar-outline" style="position:relative;" style="color: #FFF;">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="booking-main">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <h5 margin-vertical ion-text text-start style="color:#00b508">
    <i class="icon siva-icon-calendar-3" style="padding-right:10px;"></i>Today Appointments
  </h5> -->

  <!-- <ion-list no-padding no-margin> -->
  <ion-card class="card_appointment" no-padding no-border>
    <!-- <ion-item-sliding #slideDOM (ionDrag)="logDrag($event, list.value, slideDOM)">
        <ion-item lines="none" mode="ios" no-padding class="apt-item"> -->
    <!-- <ion-grid> -->
    <ion-row lines="none" no-padding full-width>
      <ion-col size="4" class="col apt-left" no-padding>
        <!-- <div class="div-date">
                  <h2 class="text-white" no-margin style="font-size: 18px;">13</h2>
                </div>
                <div class="row text-white div-left-middle">
                  <h3 class="text-white div-left-middle-text">May-2021</h3>
                </div>
                <div class="row" style="background:rgba(0,0,0,0.1);">
                  <div class="col">
                    <h3 class="text-white div-left-bottom-text">11:30 am</h3>
                  </div>
                </div> -->
        <div style="padding-bottom: 22px;color: #f5f6f9 !important;font-family: sans-serif !important;
        font-size: small;font-weight: 700;padding-top: 5px;">
          <div style="font-size: 19px;text-align: center;">10:40 AM</div>
          <div style="text-align: center;">May 14</div>
        </div>
        <div style="font-family: sans-serif !important;
        font-size: small;
        color: #f5f6f9 !important;
        font-weight: 700;">
          <div style="font-size: 19px;text-align: center;">12:15 PM</div>
          <div style="text-align: center;">May 14</div>
        </div>
      </ion-col>
      <ion-col size="6" style="padding-bottom: 0px;">
        <div class="div-apt-center">
          <ion-icon slot="start" name="person-outline" class="apt-text-icons"></ion-icon>
          <p class="apt-center-title">Mohamad</p>
        </div>

        <div class="div-apt-center">
          <ion-icon slot="start" name="call-outline" class="apt-text-icons"></ion-icon>
          <p class="apt-center-subtitle">+63 8796453212</p>
        </div>

        <div class="div-apt-center">
          <ion-icon slot="start" name="people-outline" class="apt-text-icons"></ion-icon>
          <p class="apt-center-subtitle">Ahamad</p>
        </div>

        <div class="div-apt-center">
          <ion-icon slot="start" name="car-sport-outline" class="apt-text-icons"></ion-icon>
          <p class="apt-center-subtitle">PFQ 5217</p>
        </div>

        <div class="div-apt-center">
          <ion-icon slot="start" name="timer-outline" class="apt-text-icons" style="color: red;"></ion-icon>
          <p class="apt-center-subtitle" style="color: red;">04:20 PM May 20</p>
        </div>
      </ion-col>

      <ion-col size="2" class="colIcons">

        <!-- <div>
                  <div class="outer-circle2">
                    <div class="inner-circle2">
                      <span id="inside-content">5</span>
                    </div>
                  </div>
                </div> -->
        <!-- <div>
                  <div class="outer-circle2">
                    <div class="inner-circle2">
                      <span id="inside-content">
                        <ion-icon slot="icon-only" name="calendar-outline" class="apt-right-icon"></ion-icon>
                      </span>
                    </div>
                  </div>

                </div> -->

        <img src="https://habib.al-mawali.com/wp-content/uploads/IMG_4838-1-768x768.jpg" class="visitorImage" style="width: 60px;
            height: 60px;
            max-width: 60px;
            border-radius: 50%;
            border: 1px solid black;">


        <!-- <div class="">
                  <div class="outer-circle">
                    <div class="inner-circle">
                      <span id="inside-content">
                        A
                      </span>
                    </div>
                  </div>
                </div> -->
        <div class="status">
          <span style="margin-left: 17px;">
            <ion-badge style="border-radius: 50%;
                    padding-top: 4px;
                    border: 1px solid black;
                    background-color: white;color: black;">55</ion-badge>
          </span>
          <div class="outer circle shapeborder">
            <div class="inner circle shapeborder">
              <ion-icon name="timer-outline" style="color: #f5f6f9 !important;"></ion-icon>
              <!-- <img src="assets/images/airport.png" alt="logo"> -->


            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!-- </ion-grid> -->

    <!-- </ion-item>
        <ion-item-options side="end" slide-right-width>
        </ion-item-options>
        <ion-item-options side="start" slide-right-width>
        </ion-item-options>
      </ion-item-sliding> -->
  </ion-card>
  <!-- </ion-list> -->

</ion-content>