<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" style="padding-bottom: 0px !important;
    padding-top: 0px !important;" (click)="goBack()" name="chevron-back"></ion-icon>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list my-set-list>
    <ion-item-divider color="accent">
      <span>Basic Information</span>
    </ion-item-divider>
    <ion-item>
      <ion-icon class='siva-icon-mobile' slot="start" color="primary"></ion-icon>
      <ion-label color="gray">Device ID</ion-label>
      <ion-note slot="end">{{deviceId}}</ion-note>
   </ion-item>
   <!-- <ion-button ion-item>
      <ion-icon class='siva-icon-connectdevelop' slot="start" color="primary"></ion-icon>
      <ion-label color="gray">Mapping ID</ion-label>
      <ion-note slot="end"></ion-note>
   <ion-ripple-effect></ion-ripple-effect></ion-button> -->
   <ion-item>
      <ion-icon class='siva-icon-info-circled-1' slot="start" color="primary"></ion-icon>
    <ion-label color="gray">App Version</ion-label>
    <ion-note slot="end">{{'APP_VERSION' | translate}}</ion-note>
   </ion-item>
    <ion-item-divider color="accent">
      <span>Controls</span>
    </ion-item-divider>
    <!-- <ion-button ion-item>
        <ion-icon class='siva-icon-help-circled-1' slot="start" color="primary"></ion-icon>
        <ion-label>FAQ</ion-label>
      <ion-ripple-effect></ion-ripple-effect></ion-button> -->

      <ion-item lines="none" transparent>
        <ion-icon class='siva-icon-fort-awesome' color="primary" slot="start"></ion-icon>
        <ion-label style="font-size: 16px;" position="stacked">Select Your Facility</ion-label>
            <ion-select mode="ios" interface="action-sheet" (ionChange)="onChangeFacility($event)"
              [(ngModel)]="FacilityCode"
              placeholder="Facility">
              <ion-label position="stacked">Facility</ion-label>
              <ion-select-option text-left *ngFor="let avl_reason of AVAIL_FACILITIES"
                [value]="avl_reason.FacilityCode">
                {{avl_reason.FacilityName}}
              </ion-select-option>
            </ion-select>
          </ion-item>

    <!-- <ion-button ion-item (click)="goToUserAbout()">
        <ion-icon class='siva-icon-plug' slot="start" color="primary"></ion-icon>
        <ion-label color="gray">Disconnect this device</ion-label>
      <ion-ripple-effect></ion-ripple-effect></ion-button> -->
    <ion-item (click)="logoutMe()">
        <ion-icon class='siva-icon-logout-2' slot="start" color="primary"></ion-icon>
        <ion-label color="primary">Exit from account</ion-label>
    </ion-item>
      <!-- <ion-item >
          <ion-icon class='siva-icon-adjust' slot="start" color="primary"></ion-icon>
          <ion-label>Enable Option 1</ion-label>
          <ion-toggle color="secondary"></ion-toggle>
        </ion-item>
        <ion-item >
          <ion-icon class='siva-icon-list-add' slot="start" color="primary"></ion-icon>
          <ion-label>Enable Option 2</ion-label>
          <ion-toggle color="secondary"></ion-toggle>
        </ion-item>

       <ion-item-divider border-top color="accent">
         <span>Scan History</span>
        </ion-item-divider>
        <ion-item>
          <ion-label color="dark">Always Maintain</ion-label>
          <ion-radio name="history" value="always" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label color="dark">Never Maintain</ion-label>
          <ion-radio name="history" value="locked"></ion-radio>
        </ion-item>
      <ion-item-divider color="accent">
          <span>Other</span>
      </ion-item-divider>-->
  </ion-list>
</ion-content>
