<ion-header>
  <ion-toolbar color="danger">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="arrow-back-outline"></ion-icon>
    <ion-title>{{'FACILITY_HISTORY.TITLE' | translate}}</ion-title>
    <ion-buttons slot="end" *ngIf= "false">
        <ion-button slot="icon-only" (click)="createBooking()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="gotoNotification()">
            <ion-icon name="notifications-outline" style="position:relative">
                    <span *ngIf= "notificationCount > 0" style="position: absolute;
                    font-size: 16px;
                    margin-top: -10px;"><b>{{notificationCount}}</b></span>
            </ion-icon>
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="booking-main">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;" *ngIf="loadingFinished && (appointments && appointments.length == 0)">
        <ion-col size="12" size-sm size-md>
                <img app-logo-img class="animated fadeInDown delay-1s" style="
                display: block;
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 150px;
            " src="assets/images/box.png">
                <h5 style="display: flex;justify-content: center;margin-bottom: 30px;margin-top: 50px;">{{'FACILITY_HISTORY.NO_LIST' | translate}}</h5>
        </ion-col>
  </ion-row>

  <ion-list no-padding no-margin *ngFor="let list of appointments | groupBy:'BookingID'">
    <ion-card class="card_appointment" (click)="viewBooking(list.value)"
      no-padding no-border >
      <ion-item-sliding #slideDOM >
        <ion-item lines="none"  mode="ios" no-padding class="apt-item">
          <ion-row lines="none" no-padding full-width>
            <ion-col size="4" class="col apt-left" no-padding>
              <div class="div-date">
                <h2 class="text-white" no-margin style="font-size: 18px;">{{list.value[0].StartDateTime | date :'dd'}} {{getDayofDate(list.value[0].StartDateTime)}}</h2>
              </div>
              <div class="row text-white div-left-middle">
                <h3 class="text-white div-left-middle-text">{{list.value[0].StartDateTime | date : 'MMM' | uppercase}} -
                  {{list.value[0].StartDateTime | date : 'yyyy'}}</h3>
              </div>
              <div class="row" style="background:rgba(0,0,0,0.1);">
                <div class="col">
                  <h3 class="text-white div-left-bottom-text">{{list.value[0].StartDateTime | date:'h:mm a'}}</h3>
                </div>
              </div>
            </ion-col>
            <ion-col size="6" style="padding-bottom: 0px;">
              <div class="div-apt-center">
                <ion-icon slot="start" color="danger" name="podium-outline" class="apt-text-icons"></ion-icon>
                <p class="apt-center-title">{{list.value[0].FacilityName}}</p>
              </div>

              <div class="div-apt-center">
                <ion-icon slot="start" color="danger" name="reader-outline" class="apt-text-icons"></ion-icon>
                <p class="apt-center-subtitle">{{list.value[0].PurposeName ? list.value[0].PurposeName:'--'}}</p>
              </div>

              <div class="div-apt-center">
                <ion-icon slot="start" color="danger" name="call-outline" class="apt-text-icons"></ion-icon>
                <p class="apt-center-subtitle">{{list.value[0].Contact ? list.value[0].Contact:'--'}}</p>
              </div>

              <div class="div-apt-center">
                <ion-icon slot="start" color="danger" name="mail-outline" class="apt-text-icons"></ion-icon>
                <p class="apt-center-subtitle">{{list.value[0].Email ? list.value[0].Email:'--'}}</p>
              </div>
            </ion-col>

            <ion-col size="2" class="colIcons">

              <div>
                <!-- <ion-badge color="danger">3</ion-badge> -->
                <div class="outer-circle2">
                  <div class="inner-circle2">
                    <span id="inside-content">{{list.value.length}}</span>
                  </div>
                </div>
              </div>
              <div>
                <div class="outer-circle2">
                  <div class="inner-circle2">
                    <span id="inside-content">
                      <ion-icon slot="icon-only" name="calendar-outline" class="apt-right-icon"></ion-icon>
                    </span>
                  </div>
                </div>
                <!-- <ion-icon slot="icon-only" name="heart-outline" style="font-size: 25px;"></ion-icon> -->
              </div>
              <div class="">
                <div class="outer-circle1">
                  <div class="inner-circle1">
                    <span id="inside-content">
                      {{'A'}}
                    </span>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end" primary slide-right-width>
          <ion-button slot="icon-only" class="ion-align-items-center ion-align-self-center" no-padding color="light"
          fill="clear" no-border (click)="editVisitors(slideDOM, 'delete', list.value)">
            <ion-icon color="light" class="siva-icon-trash-empty slideIcons"></ion-icon>
          </ion-button>
      </ion-item-options>
        <ion-item-options side="start" primary slide-right-width>
          <ion-button slot="icon-only" class="ion-align-items-center ion-align-self-center" no-padding color="light"
          fill="clear" shape="round" no-border (click)="editVisitors(slideDOM, 'edit', list.value)">
              <ion-icon color="light" class="siva-icon-pencil-2 slideIcons"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>

</ion-content>

