<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="isFacilityApp">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back" *ngIf="!isFacilityApp"></ion-icon>
    <ion-title>{{'FACILITY_HISTORY.TITLE' | translate}}</ion-title>
    <ion-buttons slot="end" *ngIf= "false">
        <ion-button slot="icon-only" (click)="createBooking()">
          <ion-icon name="add"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect></ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="gotoNotification()" *ngIf="showNotification">
            <ion-icon name="notifications-outline" style="position:relative">
                    <span *ngIf= "notificationCount > 0" style="position: absolute;
                    font-size: 16px;
                    margin-top: -10px;"><b>{{notificationCount}}</b></span>
            </ion-icon>
          <ion-ripple-effect></ion-ripple-effect></ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="booking-main">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;" *ngIf="loadingFinished && (appointments && appointments.length == 0)">
        <ion-col size="12" size-sm size-md>
                <img app-logo-img class="animated fadeInDown delay-1s empty_image" src="../../../assets/images/icon_nobooking_nofacilitiesbooking.png">
                <div style="display: grid;text-align: center;">
                  <ion-label class="empty_title">{{'EMPTY.NO_BOOKING_TITLE' | translate}}</ion-label>
                  <div class="empty_line">________</div>
                  <ion-text class="empty_desc">{{'EMPTY.NO_BOOKING' | translate}}</ion-text>
                </div>
        </ion-col>
  </ion-row>

  <ion-list no-padding no-margin *ngFor="let list of appointments | groupBy:'BookingID'">
    <ion-card class="card_appointment" (click)="viewBooking(list.value)"
      no-padding no-border >
      <ion-item-sliding #slideDOM (ionDrag)="logDrag($event, list.value, slideDOM)">
        <ion-item lines="none"  mode="ios" no-padding class="apt-item">
          <ion-row lines="none" no-padding full-width>
            <ion-col size="4" class="col apt-left" no-padding>
              <div class="div-date">
                <h2 class="text-white" no-margin style="font-size: 18px;">{{list.value[0].StartDateTime | date :'dd'}} {{getDayofDate(list.value[0].StartDateTime)}}</h2>
              </div>
              <div class="row text-white div-left-middle">
                <h3 class="text-white div-left-middle-text">{{list.value[0].StartDateTime | date : 'MMM' | uppercase}} -
                  {{list.value[0].StartDateTime | date : 'yyyy'}}</h3>
              </div>
              <div class="row" style="background:rgba(0,0,0,0.1);">
                <div class="col">
                  <h3 class="text-white div-left-bottom-text">{{list.value[0].StartDateTime | date:'h:mm a'}}</h3>
                </div>
              </div>
            </ion-col>
            <ion-col size="6" style="padding-bottom: 0px;">
              <div class="div-apt-center">
                <ion-icon slot="start" color="primary" name="podium-outline" class="apt-text-icons"></ion-icon>
                <ion-label class="apt-center-title">{{list.value[0].FacilityName}}</ion-label>
              </div>

              <div class="div-apt-center">
                <ion-icon slot="start" color="primary" name="reader-outline" class="apt-text-icons"></ion-icon>
                <ion-label class="apt-center-subtitle">{{list.value[0].PurposeName ? list.value[0].PurposeName:'&nbsp;&nbsp;--'}}</ion-label>
              </div>

              <div class="div-apt-center">
                <ion-icon slot="start" color="primary" name="call-outline" class="apt-text-icons"></ion-icon>
                <ion-label class="apt-center-subtitle">{{list.value[0].TELEPHONE_NO ? list.value[0].TELEPHONE_NO:'&nbsp;&nbsp;--'}}</ion-label>
              </div>

              <div class="div-apt-center">
                <ion-icon slot="start" color="primary" name="mail-outline" class="apt-text-icons"></ion-icon>
                <ion-label class="apt-center-subtitle">{{list.value[0].EMAIL ? list.value[0].EMAIL:'&nbsp;&nbsp;--'}}</ion-label>
              </div>
            </ion-col>

            <ion-col size="2" class="colIcons">

              <div>
                <div class="outer-circle2">
                  <div class="inner-circle2">
                    <ion-icon slot="icon-only" name="calendar-outline" class="apt-right-icon"></ion-icon>
                  </div>
                </div>
                <!-- <ion-icon slot="icon-only" name="heart-outline" style="font-size: 25px;"></ion-icon> -->
              </div>
              <div (click)="openTooltip($event, 'Approved')">
                <div class="outer-circle1">
                  <div class="inner-circle1">
                    {{'A'}}
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end" slide-right-width>
          <ion-button slot="icon-only" color="btnthm" class="ion-align-items-center ion-align-self-center" no-padding
          fill="clear" no-border (click)="editVisitors(slideDOM, 'delete', list.value)">
            <ion-icon color="light" class="siva-icon-trash-empty slideIcons"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect></ion-button>
      </ion-item-options>
        <ion-item-options side="start" slide-right-width>
          <ion-button color="btnthm" slot="icon-only" class="ion-align-items-center ion-align-self-center" no-padding
          fill="clear" shape="round" no-border (click)="editVisitors(slideDOM, 'edit', list.value)">
              <ion-icon color="light" class="siva-icon-pencil-2 slideIcons"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect></ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>

</ion-content>

