<!--
  Generated template for the SecurityDashBoardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header lines="none" class="ion-no-border">
  <ion-toolbar color="primary"  lines="none" class="ion-no-border">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"
    style="font-size: x-large;color: #FFF;"></ion-icon>
    <ion-title>{{(!preAppointmentInfo || !preAppointmentInfo.SEQ_ID) ? 'Manual Check-In': 'Pre-Appointment Check-In'}}</ion-title>
    <ion-icon slot="end" class="headerIcon" name="id-card-sharp" (click)= "capture()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding class="ion-no-border">
  <div class="main">
    <ion-grid>
      <ion-card style="margin: 0px;padding: 0px;">
        <ion-row>
          <ion-col size="3" style="display: flex;justify-content: center;align-items: center;">
            <ion-grid>
              <ion-row>
                <ion-col size="12" style="display: flex;justify-content: center;align-items: center;">
                  <img src="../../../assets/images/user.png" style="width: 70px;height: 70px; display: flex;justify-content: center">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" style="display: flex;justify-content: center;align-items: center;">
                  <ion-button expand="block" (click)= "capture()">Image</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="10">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="bDets">
                    <ion-icon name="person-sharp" class="bDets"></ion-icon>
                    <input type="text" [(ngModel)]="appointmentInfo.VISITOR_NAME" placeholder="Name"/>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="bDets">
                    <ion-icon name="id-card-sharp" class="bDets"></ion-icon>
                    <input type="text" [(ngModel)]="appointmentInfo.VISITOR_IC" [disabled]="preAppointmentInfo.VISITOR_IC" placeholder="ID"/>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="bDets">
                    <ion-icon name="mail-sharp" class="bDets"></ion-icon>
                    <input type="text" [(ngModel)]="appointmentInfo.EMAIL" placeholder="Email"/>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="bDets">
                    <ion-icon name="phone-portrait-sharp" class="bDets"></ion-icon>
                    <input type="text" [(ngModel)]="appointmentInfo.TELEPHONE_NO" placeholder="Phone"/>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
    <div class="section">
      <div class="visitorInfo">
        <ion-item>
          <ion-label>Visitor Additional Information</ion-label>
        </ion-item>
        <ion-grid style="font-size: 15px;">
          <ion-row>
            <ion-col size="3">
              <ion-text>Address</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-textarea [(ngModel)]="appointmentInfo.VISITOR_ADDRESS" placeholder="Address"></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Category</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-select mode="ios"
              (ionChange)="onChangePurpose($event)" [(ngModel)]="appointmentInfo.VisitorCategory"
              interface="action-sheet" [disabled]="false"
              placeholder="{{'ADD_VISITORS.LAB_USER_CATE' | translate}}">
              <ion-label position="stacked">{{'ADD_VISITORS.LAB_PH_USER_CATE' | translate}}</ion-label>
              <ion-select-option text-left *ngFor="let avl_reason of CATEGORYLIST"
                [value]="avl_reason.visitor_ctg_id">
                {{avl_reason.visitor_ctg_desc}}
              </ion-select-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Gender</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-select mode="ios"
              (ionChange)="onChangePurpose($event)" [(ngModel)]="appointmentInfo.VISITOR_GENDER"
              interface="action-sheet" [disabled]="false"
              placeholder="{{'ADD_VISITORS.LAB_USER_GENDER' | translate}}">
              <ion-label position="stacked">{{'ADD_VISITORS.LAB_USER_GENDER' | translate}}</ion-label>
              <ion-select-option text-left *ngFor="let gender of GENDERLIST"
                [value]="gender.code">
                {{gender.name}}
              </ion-select-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Country</ion-text>
            </ion-col>
            <ion-col size="9">
              <!-- <input type="text" mode="ios" (ngModelChange)="onChangeInput($event, 'country')" class="inputCountry" [(ngModel)]="appointmentInfo.VISITOR_COUNTRY" placeholder="{{'ADD_VISITORS.LAB_COUNTRY' | translate}}"/> -->
              <ion-select mode="ios"
              (ionChange)="onChangePurpose($event)" [(ngModel)]="appointmentInfo.VISITOR_COUNTRY"
              interface="action-sheet" [disabled]="false"
              placeholder="{{'ADD_VISITORS.LAB_COUNTRY' | translate}}">
              <ion-label position="stacked">{{'ADD_VISITORS.LAB_COUNTRY' | translate}}</ion-label>
              <ion-select-option text-left *ngFor="let country of COUNTRYLIST"
                [value]="country.code">
                {{country.name}}
              </ion-select-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Vehicle No</ion-text>
            </ion-col>
            <ion-col size="9">
              <input type="text" mode="ios" class="inputCountry" placeholder="Vehicle No" [(ngModel)]="appointmentInfo.PLATE_NUM"/>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Company</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-select mode="ios"
              (ionChange)="onChangePurpose($event)" [(ngModel)]="appointmentInfo.visitor_comp_code"
              interface="action-sheet" [disabled]="false"
              placeholder="{{'ADD_VISITORS.LAB_USER_COMPANY' | translate}}">
              <ion-label position="stacked">{{'ADD_VISITORS.LAB_USER_COMPANY' | translate}}</ion-label>
              <ion-select-option text-left *ngFor="let company of COMPANYLIST"
                [value]="company.visitor_comp_code">
                {{company.visitor_comp_name}}
              </ion-select-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text style="font-size: 90%;">Temperature</ion-text>
            </ion-col>
            <ion-col size="9">
              <input type="text" mode="ios" class="inputCountry" placeholder="Temperature"/>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="section">
      <div class="appointmentInfo">
        <ion-item>
          <ion-label>Appointment Information</ion-label>
        </ion-item>
        <ion-grid style="font-size: 15px;">
          <ion-row>
            <ion-col size="3">
              <ion-text>Start Date</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-datetime displayFormat="YYYY-MM-DDTHH:mm" #startDate [(ngModel)]="appointmentInfo.START_TIME" (ionChange)="startDate.open()" placeholder="Start Date" title="heh"></ion-datetime>
            </ion-col>
            <ion-col size="2">
              <ion-icon name="calendar-number-outline" class="calanderinput" (click)="startDate.open()"></ion-icon>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col size="3">
              <ion-text>Start Time</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-datetime displayFormat="hh:mm A" #startTime minuteValues="0,15,30,45" [(ngModel)]="appointmentInfo.START_TIME" (ionChange)="endDate.open()" placeholder="Start Time"></ion-datetime>
            </ion-col>
            <ion-col size="2">
              <ion-icon name="time-outline" class="calanderinput" (click)="startTime.open()"></ion-icon>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col size="3">
              <ion-text>End Date</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-datetime displayFormat="YYYY-MM-DDTHH:mm" #endDate [(ngModel)]="appointmentInfo.END_TIME" (ionChange)="endDate.open()" placeholder="End Date"></ion-datetime>
            </ion-col>
            <ion-col size="2">
              <ion-icon name="calendar-number-outline" class="calanderinput"></ion-icon>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col size="3">
              <ion-text>End Time</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-datetime displayFormat="hh:mm A" #endTime [(ngModel)]="appointmentInfo.END_TIME" minuteValues="0,15,30,45" placeholder="End Time"></ion-datetime>
            </ion-col>
            <ion-col size="2">
              <ion-icon name="time-outline" class="calanderinput" (click)="endTime.open()"></ion-icon>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col size="3">
              <ion-text>Purpose</ion-text>
            </ion-col>
            <ion-col size="9">
               <ion-select mode="ios"
              (ionChange)="onChangePurpose($event)" [(ngModel)]="appointmentInfo.REASON"
              interface="action-sheet" [disabled]="false"
              placeholder="{{'ADD_APPOIN.STEP2.LAB_PURPOSE' | translate}}">
              <ion-label position="stacked">{{'ADD_APPOIN.STEP2.LAB_PURPOSE' | translate}}</ion-label>
              <ion-select-option text-left *ngFor="let avl_reason of PURPOSELIST"
                [value]="avl_reason.visitpurpose_id">
                {{avl_reason.visitpurpose_desc}}
              </ion-select-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Host Name</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-select mode="ios"
              (ionChange)="onChangePurpose($event)" [(ngModel)]="appointmentInfo.Host_IC"
              interface="action-sheet" [disabled]="false"
              placeholder="{{'SECURITY_APP.SELECT_HOST' | translate}}">
              <ion-label position="stacked">{{'SECURITY_APP.SELECT_HOST' | translate}}</ion-label>
              <ion-select-option text-left *ngFor="let host of HOSTLIST"
                [value]="host.HOSTIC">
                {{host.HOSTNAME}}
              </ion-select-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Floor</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-select mode="ios"
              (ionChange)="onChangePurpose($event)" [(ngModel)]="appointmentInfo.Floor"
              interface="action-sheet" [disabled]="false"
              placeholder="{{'ADD_APPOIN.STEP2.LAB_FLOOR' | translate}}">
              <ion-label position="stacked">{{'ADD_APPOIN.STEP2.LAB_FLOOR' | translate}}</ion-label>
              <ion-select-option text-left *ngFor="let floor of FLOORLIST"
                [value]="floor.floor_id">
                {{floor.floor_desc}}
              </ion-select-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Meeting Location</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-select mode="ios"
              (ionChange)="onChangePurpose($event)" [(ngModel)]="appointmentInfo.MEETING_LOCATION"
              interface="action-sheet" [disabled]="false"
              placeholder="{{'ADD_APPOIN.STEP2.LAB_ROOM' | translate}}">
              <ion-label position="stacked">{{'ADD_APPOIN.STEP2.LAB_ROOM' | translate}}</ion-label>
              <ion-select-option text-left *ngFor="let meeting of MEETINGLIST"
                [value]="meeting.MeetingRoomSeqId">
                {{meeting.MeetingRoomDesc}}
              </ion-select-option>
            </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Remarks</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-textarea placeholder="Remarks" [(ngModel)]="appointmentInfo.Remarks"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="section">
      <div class="additional">
        <ion-item>
          <ion-label>Additional Information</ion-label>
        </ion-item>
        <ion-grid>

          <ion-card no-margin mode="ios" style="margin-top: 15px !important;
          padding: 10px;
          padding-left: 0px;" (click)="openCustomDialog('question')" *ngIf="QuestionnaireEnabled">
            <ion-item lines="none">
              <ion-icon color="primary" slot="start" name="document-text-outline"></ion-icon>
              <ion-label>Questionaries</ion-label>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-item>
          </ion-card>


          <ion-card no-margin mode="ios" style="padding: 10px;margin-top: 15px !important;
          padding-left: 0px;" (click)="openCustomDialog('doc')" *ngIf="AttachmentUploadEnabled">
            <ion-item lines="none">
              <ion-icon color="primary" slot="start" name="document-attach-outline"></ion-icon>
              <ion-label>Verification Documents</ion-label>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-item>
          </ion-card>

          <ion-card no-margin mode="ios" style="padding: 10px;margin-top: 15px !important;
          padding-left: 0px;" (click)="openCustomDialog('declaration')" *ngIf="MaterialDeclareEnabled">
            <ion-item lines="none">
              <ion-icon color="primary" slot="start" name="checkmark-circle-outline"></ion-icon>
              <ion-label>Item Checklist</ion-label>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-item>
          </ion-card>

          <ion-row>
            <ion-col size="12">
              <ion-card no-margin mode="ios" style="padding: 10px;margin-top: 15px !important;
              padding-left: 0px;" (click)= "documentModal()">
                <ion-item lines="none">
                  <ion-icon color="primary" slot="start" name="document-attach-outline"></ion-icon>
                  <ion-label>Additional Document</ion-label>
                  <ion-icon name="add-circle-outline"></ion-icon>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card no-margin mode="ios" style="padding: 10px;margin-top: 15px !important;
              padding-left: 0px;" (click)= "capture()" *ngIf="!preAppointmentInfo || !preAppointmentInfo.SEQ_ID">
                <ion-item lines="none">
                  <ion-icon color="primary" slot="start" name="checkmark-circle-outline"></ion-icon>
                  <ion-label>Item Checklist</ion-label>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <ion-button color="transparent" *ngIf="appSettings.customStyle" class="btn-grad" [ngStyle]="{'font-size': appSettings.customStyle.buttonStyle.btnTextSize + 'px', 'border-radius': appSettings.customStyle.buttonStyle.btnBorderRadius + 'px', 'color': appSettings.customStyle.buttonStyle.btnTextColor, 'background': 'linear-gradient(to right, ' + this.appSettings.customStyle.buttonStyle.btnColor1
    +' 0%,'+ this.appSettings.customStyle.buttonStyle.btnColor2 +' 51%,'+ this.appSettings.customStyle.buttonStyle.btnColor1 +' 100%)'}" expand="block">Check-In</ion-button>
  </div>
</ion-content>
