
<ion-content fullscreen="true" class="tutorial-page" [style.background]="'linear-gradient(' + customStyle.DetailsPage.backgroundcolor1 + ', ' + customStyle.DetailsPage.backgroundcolor2 + ') no-repeat center'"
[style.background-size]="'cover'"
[style.background-repeat]="'no-repeat'">


      <ion-grid style="height: 100%;" [ngStyle]="{'background': 'linear-gradient(' + customStyle.DetailsPage.backgroundcolor1 + ', ' + customStyle.DetailsPage.backgroundcolor2 + ') no-repeat center'}">
        <ion-row justify-content-center align-items-center style="height: 100%;">
          <div class="animated fadeInUp delay-1s">
            <div class="slide-title" *ngIf="appSettings.Questions && appSettings.Questions[currentQuestionPos]" [innerHTML]="appSettings.Questions[currentQuestionPos].Description.trim()"></div>
          </div>
          </ion-row>
        </ion-grid>
 </ion-content>

<ion-footer transparent style="padding: 7px">
  <ion-row class="yesNoRow">
    <ion-button shape="round" fill="outline" color="btnthm" class="noBtn" (click)= "pressAnswerBtn(currentQuestionPos, false)">No</ion-button>
    <ion-button shape="round" color="btnthm" class="yesBtn" (click)= "pressAnswerBtn(currentQuestionPos, true)">Yes</ion-button>
  </ion-row>
  <ion-button shape="round" color="btnthm" (click)="proceedToBackStep()" class="backBtn">
    <ion-icon class="icon siva-icon-left-open"></ion-icon>
    {{'ACC_MAPPING.GO_BACK' | translate}}
  </ion-button>

</ion-footer>
