<!--
  Generated template for the SignPadTermsAndConditionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-content class="ion-padding" [ngStyle]="{'background': 'linear-gradient(' + customStyle.DetailsPage.backgroundcolor1 + ', ' + customStyle.DetailsPage.backgroundcolor2 + ') no-repeat center'}">
  <div class="centerDiv">
      <ion-row>
        <img class="questionImg" src="../../assets/images/qa.png">
      </ion-row>
      <ion-row>
        <h2 class="questionClass">Have you visited oversease recently?</h2>
      </ion-row>
      <ion-row class="yesNoRow">
        <ion-button shape="round" color="primary" class="noBtn">No</ion-button>
        <ion-button shape="round" color="primary" class="yesBtn">Yes</ion-button>
      </ion-row>
  </div>
</ion-content> -->
<ion-content fullscreen="true" class="tutorial-page" [style.background]="'linear-gradient(' + customStyle.DetailsPage.backgroundcolor1 + ', ' + customStyle.DetailsPage.backgroundcolor2 + ') no-repeat center'"
[style.background-size]="'cover'"
[style.background-repeat]="'no-repeat'">

  <!-- <ion-slides pager>
    <ion-slide> -->
      <!-- <ion-toolbar transparent>
      </ion-toolbar> -->
      <!-- <img src="../../assets/images/question (1).png" class="slide-image"/> -->
      <!-- <div class="ion-text-center" class="animated fadeInUp delay-1s" style="height:100% !important">
        <div class="slide-title" *ngIf="appSettings.Questions && appSettings.Questions[currentQuestionPos]" [innerHTML]="appSettings.Questions[currentQuestionPos].Description.trim()"></div>
      </div> -->
      <ion-grid style="height: 100%;" [ngStyle]="{'background': 'linear-gradient(' + customStyle.DetailsPage.backgroundcolor1 + ', ' + customStyle.DetailsPage.backgroundcolor2 + ') no-repeat center'}">
        <ion-row justify-content-center align-items-center style="height: 100%;">
          <div class="animated fadeInUp delay-1s">
            <div class="slide-title" *ngIf="appSettings.Questions && appSettings.Questions[currentQuestionPos]" [innerHTML]="appSettings.Questions[currentQuestionPos].Description.trim()"></div>
          </div>
          </ion-row>
        </ion-grid>
      <!-- <ion-row>
        <ion-col class="ion-text-center">
          <a href="#">My centered text</a>
        </ion-col>
      </ion-row> -->
 </ion-content>

<ion-footer transparent style="padding: 7px">
  <ion-row class="yesNoRow">
    <ion-button shape="round" fill="outline" color="danger" class="noBtn" (click)= "pressAnswerBtn(currentQuestionPos, false)">No</ion-button>
    <ion-button shape="round" color="danger" class="yesBtn" (click)= "pressAnswerBtn(currentQuestionPos, true)">Yes</ion-button>
  </ion-row>
  <ion-button shape="round" color="danger" (click)="proceedToBackStep()" class="backBtn">
    <ion-icon class="icon siva-icon-left-open"></ion-icon>
    {{'ACC_MAPPING.GO_BACK' | translate}}
  </ion-button>

</ion-footer>
