<!--
  Generated template for the AdminHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- Segment in a header -->
<ion-header>
<ion-toolbar color="danger">
  <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="arrow-back-outline"></ion-icon>
  <ion-title>&nbsp;&nbsp;&nbsp;Appointment Approval</ion-title>

    <ion-buttons slot="end">
        <ion-button color="light" shape="round" *ngIf="selectedTap == 'pending' && checkAll && pendingList && pendingList.length > 0" slot="icon-only" style="margin: 0px;font-size: 12px;margin-right: 7px;max-width: 80px;text-transform: capitalize;" (click)= "showChangeAppointmentStatusAlert('All', '')">
        <!-- <ion-icon style="    margin: 10px;
          font-size: 25px;" name="checkmark"></ion-icon> -->
          <ion-label>Done</ion-label>
          </ion-button>
    </ion-buttons>
</ion-toolbar>
<ion-toolbar color="primary">
  <ion-item lines="none" mode="ios" style="    margin: 5px;padding: 0px; width: -webkit-fill-available;">
    <ion-label color="light">Select All</ion-label>
    <ion-checkbox mode="ios" slot="end" [(ngModel)]="checkAll" (ionChange)="selectAll()"></ion-checkbox>
  </ion-item>
</ion-toolbar>
</ion-header>

<ion-content class="booking-main">
<!-- <div> -->
  <!-- <ion-segment mode="ios" color="danger" (ionChange)="onSegmentChange()" [(ngModel)]="selectedTap" style="    padding: 5px;">
    <ion-segment-button fill="outline" value="pending">
      Pending
    </ion-segment-button>
    <ion-segment-button value="approved">
      Approved
    </ion-segment-button>
    <ion-segment-button value="canceled">
      Cancelled
    </ion-segment-button>
  </ion-segment> -->
<!-- </div> -->

<ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-list>
    <ion-row *ngIf="( selectedTap == 'pending' && pendingList.length > 0)">
      <div style="width: 99%;">
        <ion-list no-padding no-margin *ngFor="let list of pendingList | groupBy:'appointment_group_id'">
          <ion-card class="card_appointment"
            no-padding no-border >
              <ion-item lines="none"  mode="ios" no-padding class="apt-item">
                <ion-row lines="none" no-padding full-width>
                  <ion-col size="4" class="col apt-left" no-padding (click)="viewBooking(list.value)">
                    <div class="div-date">
                      <h2 class="text-white" no-margin style="font-size: 18px;">{{list.value[0].START_DATE | date :'dd'}} {{getDayofDate(list.value[0].START_DATE)}}</h2>
                    </div>
                    <div class="row text-white div-left-middle">
                      <h3 class="text-white div-left-middle-text">{{list.value[0].START_DATE | date : 'MMM' | uppercase}} -
                        {{list.value[0].START_DATE | date : 'yyyy'}}</h3>
                    </div>
                    <div class="row" style="background:rgba(0,0,0,0.1);">
                      <div class="col">
                        <h3 class="text-white div-left-bottom-text">{{list.value[0].START_DATE | date:'h:mm a'}}</h3>
                      </div>
                    </div>
                  </ion-col>
                  <ion-col size="6" style="padding-bottom: 0px;" (click)="viewBooking(list.value)">
                    <div class="div-apt-center">
                      <ion-icon slot="start" color="danger" name="person-outline" class="apt-text-icons"></ion-icon>
                      <p class="apt-center-title">{{list.value[0].VISITOR_NAME}}</p>
                    </div>

                    <div class="div-apt-center">
                      <ion-icon slot="start" color="danger" name="reader-outline" class="apt-text-icons"></ion-icon>
                      <p class="apt-center-subtitle">{{list.value[0].REASON ? list.value[0].REASON:'--'}}</p>
                    </div>

                    <div class="div-apt-center">
                      <ion-icon slot="start" color="danger" name="call-outline" class="apt-text-icons"></ion-icon>
                      <p class="apt-center-subtitle">{{list.value[0].TELEPHONE_NO ? list.value[0].TELEPHONE_NO:'--'}}</p>
                    </div>

                    <div class="div-apt-center">
                      <ion-icon slot="start" color="danger" name="mail-outline" class="apt-text-icons"></ion-icon>
                      <p class="apt-center-subtitle">{{list.value[0].EMAIL ? list.value[0].EMAIL:'--'}}</p>
                    </div>
                  </ion-col>

                  <ion-col size="2" class="colIcons">
                    <div class="">
                      <ion-checkbox slot="end" style="margin:0 auto;margin-right: 5px" [(ngModel)]="list.value[0].isChecked" (ionChange)="checkSelectAll()"></ion-checkbox>
                    </div>

                    <div style="display: flex;">
                      <ion-icon color="success" class="iconiconClass" style="border: 3px solid #009688;" name="thumbs-up-outline"
                      (click)="showChangeAppointmentStatusAlert('Approved', list.value[0].appointment_group_id)"></ion-icon>
                      <ion-icon color="danger" class="iconiconClass" style="    border: 3px solid #e91e63;" name="thumbs-down-outline"
                      (click)="showChangeAppointmentStatusAlert('Canceled', list.value[0].appointment_group_id)"></ion-icon>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-item>
          </ion-card>
        </ion-list>
      </div>
    </ion-row>
    <ion-row *ngIf="( selectedTap == 'approved' && approvedList.length > 0)">
      <ion-col size="12" size-sm size-md>

            <!-- <h5 style="display: flex;justify-content: center;margin-bottom: 30px;margin-top: 50px;" *ngIf="approvedList.length == 0">{{'APPOIN_HISTORY.NO_LIST' | translate}}</h5> -->
            <ion-list class="no-margin" *ngFor="let list of approvedList | groupBy:'appointment_group_id'">

              <ion-card style="margin: 0px;margin-bottom: 5px;margin-top: 5px;border: 1px solid #dedede;" no-padding no-border >
                <ion-row class="row no-padding">
                    <ion-col size="4" class="col apt-left" style="max-width:100px;padding-bottom: 0px;text-align: center;" (click)="viewBooking(list.value)">
                        <div class="row text-white no-padding" style="display:flex">
                            <div class="col no-padding" style="display:contents"><h2 class="text-white" style="font-size: 25px;display: flex">{{list.value[0].START_DATE | date : 'dd'}}</h2></div>
                            <div class="col">
                                <h3 class="text-white" style="font-size: 15px;">{{getDayofDate(list.value[0].START_DATE)}}</h3>
                                <h3 class="text-white" style="font-size: 12px;">{{list.value[0].START_DATE | date:'h:mm a'}}</h3>
                            </div>
                        </div>
                        <div class="row" style="background:rgba(0,0,0,0.1);">
                            <div class="col" style="padding: 2px;"><h3 class="text-white" style="font-size: 15px;    margin: 7px;">{{list.value[0].START_DATE | date : 'MMM' | uppercase}} - {{list.value[0].START_DATE | date : 'yyyy'}}</h3></div>
                        </div>
                    </ion-col>
                    <ion-col size="8" class="col padding" style="padding-bottom: 0px;">
                        <div>
                          <ion-item (click)="viewBooking(list.value)" lines="none" style="margin-top: -8px;
                          --padding-start: 5px;">
                            <ion-label slot="start" style="
                            font-size: 16px;"><b>{{list.value[0].VISITOR_NAME}}</b></ion-label>
                            <ion-icon *ngIf= "list.value[0].FacilityBookingID && list.value[0].FacilityBookingID !== '0'" slot="end" style="margin: 0px;
                            margin-right: -5px;" slot="end" color="danger" name="star-outline"></ion-icon>
                        </ion-item>
                        <ion-item style="margin-top: -8px;
                        --padding-start: 5px;">
                          <div>
                            <p *ngIf="list.value[0].REASON" (click)="viewBooking(list.value)" style="font-size: 14px;">{{list.value[0].REASON}}</p>
                            <p *ngIf="!list.value[0].REASON" (click)="viewBooking(list.value)" style="font-size: 14px;padding-top: 5px;">--</p>
                          </div>
                          <ion-checkbox slot="end" style="margin: 0px;margin-right: 5px" [(ngModel)]="list.value[0].isChecked" (ionChange)="checkSelectAll()"></ion-checkbox>
                        </ion-item>

                        <div text-right class="booking-status"
                          [ngClass]="{'approved':true}">
                          Approved</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card>


            </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="( selectedTap == 'canceled' && cancelledList.length > 0)">
      <ion-col size="12" size-sm size-md>

            <!-- <h5 style="display: flex;justify-content: center;margin-bottom: 30px;margin-top: 50px;" *ngIf="cancelledList.length == 0">{{'APPOIN_HISTORY.NO_LIST' | translate}}</h5> -->
            <ion-list class="no-margin" *ngFor="let list of cancelledList | groupBy:'appointment_group_id'">
              <ion-card style="margin: 0px;margin-bottom: 5px;margin-top: 5px;border: 1px solid #dedede;" no-padding no-border >
                <ion-row class="row no-padding">
                    <ion-col size="4" class="col apt-left" style="max-width:100px;padding-bottom: 0px;text-align: center;" (click)="viewBooking(list.value)">
                        <div class="row text-white no-padding" style="display:flex">
                            <div class="col no-padding" style="display:contents"><h2 class="text-white" style="font-size: 25px;display: flex">{{list.value[0].START_DATE | date : 'dd'}}</h2></div>
                            <div class="col">
                                <h3 class="text-white" style="font-size: 15px;">{{getDayofDate(list.value[0].START_DATE)}}</h3>
                                <h3 class="text-white" style="font-size: 12px;">{{list.value[0].START_DATE | date:'h:mm a'}}</h3>
                            </div>
                        </div>
                        <div class="row" style="background:rgba(0,0,0,0.1);">
                            <div class="col" style="padding: 2px;"><h3 class="text-white" style="font-size: 15px;    margin: 7px;">{{list.value[0].START_DATE | date : 'MMM' | uppercase}} - {{list.value[0].START_DATE | date : 'yyyy'}}</h3></div>
                        </div>
                    </ion-col>
                    <ion-col size="8" class="col padding" style="padding-bottom: 0px;">
                        <div>
                          <ion-item (click)="viewBooking(list.value)" lines="none" style="margin-top: -8px;
                          --padding-start: 5px;">
                            <ion-label slot="start" style="
                            font-size: 16px;"><b>{{list.value[0].VISITOR_NAME}}</b></ion-label>
                            <ion-icon *ngIf= "list.value[0].FacilityBookingID && list.value[0].FacilityBookingID !== '0'" slot="end" style="margin: 0px;
                            margin-right: -5px;" slot="end" color="danger" name="star-outline"></ion-icon>
                        </ion-item>
                        <ion-item style="margin-top: -8px;
                        --padding-start: 5px;">
                          <div>
                            <p *ngIf="list.value[0].REASON" (click)="viewBooking(list.value)" style="font-size: 14px;">{{list.value[0].REASON}}</p>
                            <p *ngIf="!list.value[0].REASON" (click)="viewBooking(list.value)" style="font-size: 14px;padding-top: 5px;">--</p>
                          </div>
                          <ion-checkbox slot="end" style="margin: 0px;margin-right: 5px" [(ngModel)]="list.value[0].isChecked" (ionChange)="checkSelectAll()"></ion-checkbox>
                        </ion-item>

                        <div text-right class="booking-status" [ngClass]="{'approved':true}">Cancelled</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card>

            </ion-list>
      </ion-col>
    </ion-row>

  <ion-row style="height: 100%; width: 100%; margin-top:100px; display: flex; justify-content: center; align-items: center;" *ngIf="loadingFinished && (selectedTap == 'pending' && pendingList.length == 0)">
      <ion-col size="12" size-sm size-md>
              <img app-logo-img class="animated fadeInDown delay-1s" style="
              display: block;
              margin: 0 auto;
              margin-top: 10px;
              margin-bottom: 10px;
              width: 200px;
          " src="assets/images/box.jpeg">
              <!-- <h5 style="display: flex;justify-content: center;margin-bottom: 30px;margin-top: 50px;">{{'APPOIN_HISTORY.NO_PENDING_LIST' | translate}}</h5> -->
      </ion-col>
  </ion-row>

  <ion-row style="height: 100%; width: 100%; margin-top:100px; display: flex; justify-content: center; align-items: center;" *ngIf="loadingFinished && (selectedTap == 'approved' && approvedList.length == 0)">
      <ion-col size="12" size-sm size-md>
              <img app-logo-img class="animated fadeInDown delay-1s" style="
              display: block;
              margin: 0 auto;
              margin-top: 10px;
              margin-bottom: 10px;
              width: 200px;
          " src="assets/images/box.jpeg">
              <!-- <h5 style="display: flex;justify-content: center;margin-bottom: 30px;margin-top: 50px;">{{'APPOIN_HISTORY.NO_APPROVED_LIST' | translate}}</h5> -->
      </ion-col>
  </ion-row>
  <ion-row style="height: 100%; width: 100%; margin-top:100px; display: flex; justify-content: center; align-items: center;" *ngIf="loadingFinished && (selectedTap == 'canceled' && cancelledList.length == 0)">
      <ion-col size="12" size-sm size-md>
              <img app-logo-img class="animated fadeInDown delay-1s" style="
              display: block;
              margin: 0 auto;
              margin-top: 10px;
              margin-bottom: 10px;
              width: 200px;
          " src="assets/images/box.jpeg">
              <!-- <h5 style="display: flex;justify-content: center;margin-bottom: 30px;margin-top: 50px;">{{'APPOIN_HISTORY.NO_CANCELED_LIST' | translate}}</h5> -->
      </ion-col>
  </ion-row>
</ion-list>

</ion-content>
