
<ion-header>
  <ion-toolbar hideBackButton="false"  color="danger">
      <button ion-button menuToggle>
              <ion-icon class="siva-icon-menu-1"></ion-icon>
      </button>
      <ion-title>{{'ADMIN_LOGIN.LOGIN' | translate}}</ion-title>
      <ion-buttons end>
         <button ion-button icon-only (click)="gotoNotification()">
          <ion-icon name="ios-notifications" style="position:relative">
                  <span *ngIf= "notificationCount > 0" style="position: absolute;
                  font-size: 16px;
                  margin-top: -10px;"><b>{{notificationCount}}</b></span>
          </ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background: url('assets/images/background/app_bg.png') no-repeat center;background-size: cover;">
<ion-row padding-horizontal align-self-start >
    <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

    </ion-col>
    <ion-col align-self-end col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
      <!---Logo-->
      <img app-logo-img class="animated fadeInDown delay-1s" style="
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
  " src="assets/images/logo/2.png">
      <!---Logo Title-->
    </ion-col>
    <ion-col align-self-end col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <ion-label class="animated fadeInDown delay-1s" style="display: block;font-size: 20px;margin: 0 auto;    text-align: center;
        color: red;"><b>{{'ADMIN_LOGIN.WELCOME_TO_ADMIN_LOGIN' | translate}}</b></ion-label>
    </ion-col>

  </ion-row>
  <ion-card>

      <ion-row>

            <ion-col>
                <ion-list inset>

                  <ion-item>
                    <ion-label color="favorite" floating>{{'ADMIN_LOGIN.USERNAME' | translate}}</ion-label>
                    <ion-input type="text" name="name" [(ngModel)]="username" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label color="favorite" floating>{{'ADMIN_LOGIN.PASSWORD' | translate}}</ion-label>
                    <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
                  </ion-item>

                  <ion-col align-self-end bottom-form col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                      <button ion-button round outline color="favorite"
                      style="margin-left: auto;margin-top:10px; display: block;"
                      (click)="proceedToNextStep()" [disabled]= "!username || !password">
                          {{'ADMIN_LOGIN.LOGIN' | translate}}
                      </button>
                  </ion-col>
                </ion-list>
              </ion-col>
      </ion-row>
  </ion-card>

</ion-content>
