<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="showMenu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="start" *ngIf="!showMenu" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"></ion-icon>
    <ion-title>{{'ALERT_TEXT.MY_ATTENDANCE' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-label *ngIf="startDate" style="font-size: 14px;
      background: white;
      color: var(--ion-color-primary);
      padding: 5px;
      border-radius: 12px;">{{startDate | date : 'dd MMM yyyy'}}</ion-label>
      <ion-button *ngIf="startDateMain" color="btnthm" slot="icon-only" (click)="showCalender(picker)" style="font-size: larger;">
        <ion-datetime [pickerOptions]="pickerOptions" #picker style="display: none;" pickerFormat="YYYY-MM-DD" displayFormat="YYYY-MM-DD"
            [(ngModel)]="startDateMain"  (ionChange)="changeCalendar($event)"></ion-datetime>
        <ion-icon name="calendar-outline" style="position:relative;" style="color: #FFF;">
        </ion-icon>
      <ion-ripple-effect></ion-ripple-effect></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;" *ngIf="myAttendanceListClone.length == 0 && loadingFinished">
    <ion-col size="12" size-sm size-md>
        <img app-logo-img class="animated fadeInDown delay-1s empty_image" src="../../../assets/images/icon_noappoinment_noschedule.png">
        <div style="display: grid;text-align: center;">
          <ion-label class="empty_title">{{'EMPTY.NO_ATTENDANCE_TITLE' | translate}}</ion-label>
          <div class="empty_line">________</div>
          <ion-text class="empty_desc">{{'EMPTY.NO_ATTENDANCE' | translate}}</ion-text>
        </div>
  </ion-col>
  </ion-row>
  <ion-card class="card_appointment" style="width: 98%;"
    no-padding no-border  *ngIf="myAttendanceListClone.length > 0" >

    <ion-item lines="none" class="ion-no-padding cardDes" *ngFor="let item of myAttendanceListClone">
      <ion-row lines="none" no-padding full-width>
        <ion-col size="3" class="col apt-left" no-padding>
          <ion-row style="height: 100%;">
          <ion-item lines="none" style="    --padding-start: 2px;
          width: 100%;">
            <div>
              <div style="    width: -webkit-fill-available;
              display: inline-flex;">
              <ion-icon style="font-size: 16px;
              align-self: center;" color="light" name="calendar-outline"></ion-icon>
                <ion-label color="light" style="font-size: 9px;
                align-self: center;">Start Time</ion-label>

              </div>
              <ion-label color="light" style="font-weight: 600;    width: -webkit-fill-available;
              text-align: center;font-size: 9px;">{{item.fromTime? (item.fromTime | date : 'dd MMM hh:mm a'): '&nbsp;&nbsp;--'}}</ion-label>
            </div>
          </ion-item>
          <ion-item lines="none" [ngStyle]="{'border': '1px solid ' + AppTheme}" style="--padding-start: 2px; background: white;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;align-self: center;
          width: 100%;    padding-bottom: 10px;">
            <div>
              <div style="width: -webkit-fill-available;
              display: inline-flex;">
              <ion-icon style="font-size: 16px;
              align-self: center;" color="dark" name="arrow-forward-outline"></ion-icon>
                <ion-label color="dark" style="font-size: 9px;
                align-self: center;">Clock In</ion-label>

              </div>
              <ion-label color="dark" style="font-weight: 600;    width: -webkit-fill-available;
              text-align: center;font-size: 9px;" [ngStyle]="{'color': item.InTimeExpired? 'red':'green'}">{{item.actualClockinTime? (item.actualClockinTime | date : 'hh:mm a'): '&nbsp;&nbsp;--'}}</ion-label>
            </div>
          </ion-item>
          </ion-row>
        </ion-col>
        <ion-col size="6" style="padding-bottom: 0px;">
          <div class="div-apt-center">
            <ion-icon slot="start" name="layers-outline" color="dark" class="apt-text-icons"></ion-icon>
            <ion-label class="apt-center-title">{{item.ShiftName? item.ShiftName: '&nbsp;&nbsp;--'}}</ion-label>
          </div>

          <div class="div-apt-center">
            <ion-icon slot="start" name="hourglass-outline" color="dark" class="apt-text-icons"></ion-icon>
            <ion-label class="apt-center-subtitle">Schedule Hours ({{item.TotalRequiredHours? (item.TotalRequiredHours | number:'1.2-2'): '&nbsp;&nbsp;--'}})</ion-label>
          </div>

          <div class="div-apt-center">
            <ion-icon slot="start" name="stopwatch-outline" color="dark" class="apt-text-icons"></ion-icon>
            <ion-label class="apt-center-subtitle">Actual Hours ({{item.TotalWorkHours ? (item.TotalWorkHours | number:'1.2-2'): '&nbsp;&nbsp;--'}})</ion-label>
          </div>

          <div class="div-apt-center">
            <ion-icon slot="start" name="calendar-number-outline" color="dark" class="apt-text-icons"></ion-icon>
            <ion-label class="apt-center-subtitle">{{item.ScheduleDate ? (item.ScheduleDate | date: 'dd MMM yyyy'): '&nbsp;&nbsp;--'}}</ion-label>
          </div>
        </ion-col>

        <ion-col size="3" class="col apt-left" no-padding>
          <ion-row style="height: 100%;">
            <ion-item lines="none" style="    --padding-start: 2px;
            width: 100%;">
              <div>
                <div style="    width: -webkit-fill-available;
                display: inline-flex;">
                <ion-icon style="font-size: 16px;
                align-self: center;" color="light" name="calendar-outline"></ion-icon>
                  <ion-label color="light" style="font-size: 9px;
                  align-self: center;">End Time</ion-label>

                </div>
                <ion-label color="light" style="font-weight: 600;    width: -webkit-fill-available;
                text-align: center;font-size: 9px;">{{item.toTime? (item.toTime | date : 'dd MMM hh:mm a'): '&nbsp;&nbsp;--'}}</ion-label>
              </div>
            </ion-item>
            <ion-item lines="none" [ngStyle]="{'border': '1px solid ' + AppTheme}" style="--padding-start: 2px; background: white;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;align-self: center;
            width: 100%;padding-bottom: 10px;">
              <div>
                <div style="width: -webkit-fill-available;
                display: inline-flex;">
                <ion-icon style="font-size: 16px;
                align-self: center;" color="dark" name="arrow-back-outline"></ion-icon>
                  <ion-label color="dark" style="font-size: 9px;
                  align-self: center;">Clock Out</ion-label>

                </div>
                <ion-label color="dark" [ngStyle]="{'color': item.outTimeExpired? 'red':'green'}" style="font-weight: 600;    width: -webkit-fill-available;
                text-align: center;font-size: 12px;">{{item.actualClockoutTime? (item.actualClockoutTime | date : 'hh:mm a'): '&nbsp;&nbsp;--'}}</ion-label>
              </div>
            </ion-item>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="{{ 'COMMON.LOADER_MSG.LOADING_MORE_DATA' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
