<!--
  Generated template for the SecurityDashBoardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header lines="none" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"
      style="font-size: x-large;color: #FFF;"></ion-icon>
    <ion-title>{{fromAppointment ? ('ALERT_TEXT.APPOINTMENT_DETAILS' | translate): ('ALERT_TEXT.CHECK_IN_DETAILS' | translate) }}<br></ion-title>

    <div slot="end" color="transparent" style="padding: 8px;" *ngIf="appSettings.customStyle && validQRCode" [ngStyle]="{'font-size': appSettings.customStyle.buttonStyle.btnTextSize + 'px', 'border-radius': appSettings.customStyle.buttonStyle.btnBorderRadius + 'px', 'color': appSettings.customStyle.buttonStyle.btnTextColor, 'background': 'linear-gradient(to right, ' + this.appSettings.customStyle.buttonStyle.btnColor1
    +' 0%,'+ this.appSettings.customStyle.buttonStyle.btnColor2 +' 51%,'+ this.appSettings.customStyle.buttonStyle.btnColor1 +' 100%)'}" expand="block" (click)="checkInOutProcess()">{{((this.appointmentInfo.att_check_in === null || this.appointmentInfo.att_check_in === 0) || (this.appointmentInfo.att_check_in === 1 && this.appointmentInfo.att_check_out === 1))? 'Check-In': 'Check-Out'}}
  </div>
  </ion-toolbar>
</ion-header>

<ion-content padding class="ion-no-border">
  <div class="main">
    <ion-grid>
      <ion-card style="margin: 0px;padding: 0px;">
        <ion-row>
          <ion-col size="9">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="bDets" style="font-weight: 600;">
                    <ion-icon name="person-outline" class="bDets" ></ion-icon>{{appointmentInfo.VISITOR_NAME}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="bDets">
                    <ion-icon name="id-card-outline" class="bDets"></ion-icon>{{appointmentInfo.visitor_id? '***': (appointmentInfo.VISITOR_IC? '***': '&nbsp;&nbsp;--')}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="bDets">
                    <ion-icon name="mail-outline" class="bDets"></ion-icon>{{appointmentInfo.visitor_email? appointmentInfo.visitor_email: (appointmentInfo.EMAIL? appointmentInfo.EMAIL: '&nbsp;&nbsp;--')}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="bDets">
                    <ion-icon name="call-outline" class="bDets"></ion-icon>{{appointmentInfo.TELEPHONE_NO? appointmentInfo.TELEPHONE_NO: '&nbsp;&nbsp;--'}}
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-col>
          <ion-col size="3" style="display: flex;justify-content: center;align-items: center;">
            <img src="{{appointmentInfo.visitor_photo? ('data:image/jpeg;base64,' + appointmentInfo.visitor_photo) :  (appointmentInfo.att_check_in_time && appointmentInfo.vseqid) ? (visitorImagePath + appointmentInfo.vseqid+ imageURLTypeCHECKIN): appointmentInfo.SEQ_ID ? (visitorImagePath + appointmentInfo.SEQ_ID + imageURLType): '../../../assets/images/user.png'}}"
            (click)="viewImage(appointmentInfo.visitor_photo? ('data:image/jpeg;base64,' + appointmentInfo.visitor_photo) : appointmentInfo.SEQ_ID ? visitorImagePath + appointmentInfo.SEQ_ID + imageURLType: '../../../assets/images/user.png')"
            style="width: 60px;height: 60px; display: flex;justify-content: center; border-radius: 50%;object-fit: cover;">
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
    <div class="section">
      <div class="visitorInfo">
        <ion-item>
          <ion-label>Visitor Information</ion-label>
        </ion-item>
        <ion-grid style="font-size: 15px;">
          <ion-row>
            <ion-col size="3">
              <ion-text>Address</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-text class="ansColor">: {{appointmentInfo.visitor_address_1?appointmentInfo.visitor_address_1: (appointmentInfo.Address? appointmentInfo.Address: "&nbsp;&nbsp;--")}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Category</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-text  class="ansColor">: {{appointmentInfo.visitor_ctg_desc?appointmentInfo.visitor_ctg_desc: (appointmentInfo.VisitorCategory ? appointmentInfo.VisitorCategory: "&nbsp;&nbsp;--")}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text >Gender</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-text class="ansColor">: {{appointmentInfo.visitor_gender?appointmentInfo.visitor_gender: (appointmentInfo.VISITOR_GENDER_NAME? appointmentInfo.VISITOR_GENDER_NAME : "&nbsp;&nbsp;--")}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Country</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-text class="ansColor">: {{appointmentInfo.VISITOR_COUNTRY_NAME? appointmentInfo.VISITOR_COUNTRY_NAME: "&nbsp;&nbsp;--"}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Vehicle #</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-text class="ansColor">: {{appointmentInfo.PLATE_NUM?appointmentInfo.PLATE_NUM: "&nbsp;&nbsp;--"}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-text>Company</ion-text>
            </ion-col>
            <ion-col size="9">
              <ion-text class="ansColor">: {{appointmentInfo.VisitorCompany?appointmentInfo.VisitorCompany: (appointmentInfo.VISITOR_COMPANY? appointmentInfo.VISITOR_COMPANY: "&nbsp;&nbsp;--")}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="section">
      <div class="appointmentInfo">
        <ion-item>
          <ion-label>{{fromAppointment? 'Appointment Information' : 'Additional Information'}}</ion-label>
        </ion-item>
        <ion-grid style="font-size: 15px;">
          <ion-row *ngIf="fromAppointment || fromAppointmentWalkin">
            <ion-col size="5">
              <ion-text>Start Time</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor">: {{appointmentInfo.START_TIME ? (appointmentInfo.START_TIME | date : 'dd MMM yyyy hh:mm a'): '&nbsp;&nbsp;--'}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="fromAppointment || fromAppointmentWalkin">
            <ion-col size="5">
              <ion-text>End Time</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor">: {{appointmentInfo.END_TIME ? (appointmentInfo.END_TIME | date : 'dd MMM yyyy hh:mm a'): '&nbsp;&nbsp;--'}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-text >Check-In Time</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor">: {{appointmentInfo.att_check_in_time ? (appointmentInfo.att_check_in_time  | date : 'dd MMM yyyy hh:mm a'): '&nbsp;&nbsp;--'}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-text>Check-Out Time</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor">: {{appointmentInfo.att_check_out_time ? (appointmentInfo.att_check_out_time  | date : 'dd MMM yyyy hh:mm a'): '&nbsp;&nbsp;--'}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-text>Host Name</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor">: {{appointmentInfo.HostName?appointmentInfo.HostName: (appointmentInfo.STAFF_NAME?appointmentInfo.STAFF_NAME:"&nbsp;&nbsp;--")}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-text>Purpose</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor">: {{appointmentInfo.att_reason?appointmentInfo.att_reason: (appointmentInfo.REASON_NAME? appointmentInfo.REASON_NAME:"&nbsp;&nbsp;--")}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-text>Check-In Status</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor">: {{this.appointmentInfo.att_check_in === 1? 'Checked-In': 'Yet to Check-In'}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-text>Check-Out Status</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor">: {{this.appointmentInfo.att_check_out === 1? 'Checked-Out': 'Yet to Check-Out'}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-text>Expiry Time</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor" [ngStyle]="{'color': appointmentInfo.isExpired? '#f44336': '#000000'}">: {{(appointmentInfo.WorkPermitExpiry? appointmentInfo.WorkPermitExpiry : appointmentInfo.END_TIME) | date : 'dd MMM yyyy hh:mm a'}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-text>Overstay Time</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor" [ngStyle]="{'color': appointmentInfo.isExpired? '#f44336': '#000000'}">: {{appointmentInfo.overStayTime?appointmentInfo.overStayTime: '&nbsp;&nbsp;--'}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-text>Floor</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor">: {{appointmentInfo.att_floor_no?appointmentInfo.att_floor_no: (appointmentInfo.Floor?appointmentInfo.FloorName:"&nbsp;&nbsp;--")}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-text>Meeting Location</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor">: {{appointmentInfo.RoomName?appointmentInfo.RoomName: "&nbsp;&nbsp;--"}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-text>Remarks</ion-text>
            </ion-col>
            <ion-col size="7">
              <ion-text class="ansColor">: {{appointmentInfo.Remarks?appointmentInfo.Remarks: (appointmentInfo.att_remark? appointmentInfo.att_remark:"&nbsp;&nbsp;--")}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="section" *ngIf="fromAppointment && appSettings.addVisitor.ApptDeclarationEnabled && (QuestionnaireEnabled || AttachmentUploadEnabled || MaterialDeclareEnabled)" >
      <div class="additional">
        <ion-item>
          <ion-label>{{appSettings.addVisitor.ApptDeclarationLabel}}</ion-label>
        </ion-item>
        <ion-grid>
          <ion-row *ngIf="AttachmentUploadEnabled">
            <ion-col size="12">
              <ion-card no-margin mode="ios" style="padding: 10px;margin-top: 15px !important;
              padding-left: 0px;" (click)="openCustomDialog('doc')">
                <ion-item lines="none">
                  <ion-icon color="primary" slot="start" name="checkmark-circle-outline"></ion-icon>
                  <ion-label>Additional Document</ion-label>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="MaterialDeclareEnabled">
            <ion-col size="12">
              <ion-card no-margin mode="ios" style="padding: 10px;margin-top: 15px !important;
              padding-left: 0px;" (click)="openCustomDialog('declaration')">
                <ion-item lines="none">
                  <ion-icon color="primary" slot="start" name="checkmark-circle-outline"></ion-icon>
                  <ion-label>Declaration</ion-label>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="QuestionnaireEnabled">
            <ion-col size="12">
              <ion-card no-margin mode="ios" style="padding: 10px;margin-top: 15px !important;
              padding-left: 0px;" (click)="openCustomDialog('question')">
                <ion-item lines="none">
                  <ion-icon color="primary" slot="start" name="checkmark-circle-outline"></ion-icon>
                  <ion-label>Questionaries</ion-label>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div class="section" *ngIf="appointmentInfo.visitorIDImage || (appointmentInfo.additionalDocList &&  appointmentInfo.additionalDocList.length > 0)" >
      <div class="additional">
        <ion-item>
          <ion-label>Other Documents</ion-label>
        </ion-item>
        <ion-grid>
          <ion-row *ngIf="appointmentInfo.visitorIDImage">
            <ion-col size="12">
              <ion-card no-margin mode="ios" style="padding: 10px;margin-top: 15px !important;
              padding-left: 0px;">
                <ion-item lines="none">
                  <ion-icon color="primary" slot="start" style="font-size: 22px;" name="camera-outline"></ion-icon>
                  <ion-label>ID Image</ion-label>
                  <ion-buttons slot="end">
                    <img src="{{'data:image/jpeg;base64,' + appointmentInfo.visitorIDImage}}" style="width: 65px;height: 65px; padding: 6px;display: flex;justify-content: center; border-radius: 50%;
                    object-fit: cover;" (click)="viewImage('data:image/jpeg;base64,' + appointmentInfo.visitorIDImage)">
                  </ion-buttons>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="appointmentInfo.additionalDocList &&  appointmentInfo.additionalDocList.length > 0">
            <ion-col size="12">
              <ion-card no-margin mode="ios" style="padding: 10px;margin-top: 15px !important;
              padding-left: 0px;" (click)="documentModal()">
                <ion-item lines="none">
                  <div slot="start">
                    <ion-icon color="primary" style="    font-size: 22px;" name="document-attach-outline"></ion-icon>
                  <div class="insideBadge">
                    <ion-badge style="background: var(--ion-color-primary);
                    color: white;
                    width: 22px;
                    height: 22px;
                    padding: 5px !important;">{{appointmentInfo.additionalDocList? appointmentInfo.additionalDocList.length: '0'}}</ion-badge>
                  </div>
                  </div>
                  <ion-label>Additional Document</ion-label>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </div>
    <ion-button color="transparent" *ngIf="appSettings.customStyle && validQRCode" class="btn-grad" [ngStyle]="{'font-size': appSettings.customStyle.buttonStyle.btnTextSize + 'px', 'border-radius': appSettings.customStyle.buttonStyle.btnBorderRadius + 'px', 'color': appSettings.customStyle.buttonStyle.btnTextColor, 'background': 'linear-gradient(to right, ' + this.appSettings.customStyle.buttonStyle.btnColor1
    +' 0%,'+ this.appSettings.customStyle.buttonStyle.btnColor2 +' 51%,'+ this.appSettings.customStyle.buttonStyle.btnColor1 +' 100%)'}" expand="block" (click)="checkInOutProcess()">{{((this.appointmentInfo.att_check_in === null || this.appointmentInfo.att_check_in === 0) || (this.appointmentInfo.att_check_in === 1 && this.appointmentInfo.att_check_out === 1))? 'Check-In': 'Check-Out'}}<ion-ripple-effect></ion-ripple-effect></ion-button>
  </div>
</ion-content>
