.ion-padding {
  vertical-align: bottom;
  padding-top: 10px;
}

.headerIcon {
  font-size: 26px;
  vertical-align: bottom;
}

.main {
  padding: 5px;
  background-color: #f4f6fc;
}

.ansColor {
  color: #000000;
  font-size: 13px;
}

.btn-grad {
  margin: 15px;
}

.bDets {
  align-items: center;
  vertical-align: middle;
}

.section {
  padding: 1.5vh;
}

.visitorInfo {
  background-color: white;
}

.appointmentInfo {
  background-color: white;
  padding-top: 10px;
}

.additional {
  background-color: white;
}

.section ion-row {
  padding-top: 1vh;
}
