.scroll-content {
  top: -56px;
}
ion-thumbnail {
  display: block;
  clear: both;
  filter: none;
  opacity: 1;
  img {
    max-width: 94px;
    max-height: 94px;
    display: inline;
    margin-left: auto;
    margin-right: auto;
  }
}
[no-lines] ion-label {
  color: red;
}
[profile-bg] {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 180px;
  padding-top: 40px !important;
  background: linear-gradient(to bottom, #ff3399 0%, #ff0000 100%);
}
.circle-pic {
  width: 92px;
  height: 92px;
  border-radius: 50% !important;
  overflow: hidden;
  background-color: darkgrey;
  margin: 0 auto;
  padding: 2px;
}
.transparent-header .toolbar-background,
.transparent-header ion-navbar {
  background: transparent !important;
  background-color: transparent !important;
}
ion-header.transparent-header::after {
  background-image: none;
}

// .transparent-header .toolbar-title,
// .transparent-header .back-button{
//  color:theme-colors('textColors', 'accent');
// }
@keyframes color-change {
  0% {
    background-color: transparent !important;
  }

  100% {
    background-color: #eb445a !important;
  }
}
.transparent-header ion-navbar.active .toolbar-background,
.transparent-header ion-navbar.active {
  animation-name: color-change;
  animation-duration: 400ms;
  background-color: #eb445a !important;
}
ion-header.transparent-header.active::after {
  background-image: initial;
}

.simple-form {
  display: flex;
  overflow-y: scroll;
  padding-bottom: 1.25rem;
  width: -webkit-fill-available;
  padding: 15px;
}
.simple-form ion-label {
  //margin-bottom: 15px !important;
  font-size: 16px;
}
.simple-form ion-input {
  // margin: 0 .25rem;
  min-width: 125px;
  border: 2px solid #d2cccc;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
  padding: 2px 2px 2px 10px !important;
  // padding-left: 0px;
  text-align: left;
  margin: 0 auto;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus)
  .item-inner {
  border-bottom-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus)
  .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus)
  .item-inner {
  border-bottom-color: #8e8e93 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.simple-form ion-select {
  // margin: 0 .25rem;
  // min-width: 125px;
  border: 1px solid #aaa8a8;
  border-left: 1px solid #aaa8a8;
  border-radius: 5px;
  transition: border-color 0.5s ease-out;
  padding: 5px;
  // padding-left: 0px;
  text-align: left;
  margin: 0 auto;
  width: 100%;
  min-width: 100%;
  padding: 10px;
  margin-top: 30px;
}
.simple-form .box_round_corner {
  width: 97.5%;
  //border: 3px solid #eee;
  //border-left: 3px solid #eee;
  //border-radius: 5px;
  transition: border-color 0.5s ease-out;
  padding: 10px !important;
  // padding-left: 0px;
  text-align: left;
  //margin-top: 25px !important;
  margin-right: 16px !important;
}
.simple-form ion-input:optional {
  border-left-color: salmon !important;
}
.simple-form ion-input:required {
  border-left-color: palegreen;
}
.simple-form ion-input:invalid {
  border-left-color: salmon !important;
}
