
<ion-content class="background">
 <ion-toolbar transparent>
  <ion-icon slot="start" style="margin-top: 50px;" (click)="goBack()" name="chevron-back" size="large"></ion-icon>
 </ion-toolbar>
  <!-- background: none;
  border: none;
  box-shadow: none;-->
  <div style="position:absolute;
  left: 0;
  right: 0;
  margin:0 auto;
  top:50%;
  transform:translateY(-50%);">

    <img src="assets/images/login/calms_logo.png" alt="logo">

  <h4 style="color: #f5f6f9;
  margin-top: 0px;
  font-weight: bold;font-size: 24px;">Calms Technology</h4>
  <h6 text-muted style="color: #f5f6f9;
  font-size: 12px;">Welcome to Security App</h6>
  <br>
  <ion-card style="margin: 0 auto;
  padding: 20px;
  margin-top: 0px;
  border-radius: 15px;    margin-left: 20px;
    margin-right: 20px;
    display: inline-table;">
    <div class="input-with-icon">
      <input type="text" placeholder="Enter user ID" [(ngModel)]="loginData.userID">
      <ion-icon name="person" color="medium" slot="end"></ion-icon>
    </div>

    <div class="input-with-icon">
      <input type="password"  [(ngModel)]="loginData.Password" placeholder="Enter password">
      <ion-icon name="eye-off" color="medium" slot="end"></ion-icon>
    </div>
    <ion-button  expand="block" class="login" (click)="securityUserLogin()">Login</ion-button>
  </ion-card>
  </div>


</ion-content>
