.custom-menu-item.item {
  pointer-events: auto !important;
}
h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
h5 {
  padding: 3px 0;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
}

.subMenuIcon {
  padding-left: 0;
  margin-left: 0;
  margin-right: 3px;
  font-size: 18px;
}

.sideIcon {
  margin-right: 3px;
  font-size: 18px;
}

.sideMenuTitle {
  margin-left: 0px;
  font-size: 14px;
}

.sideSubMenuTitle {
  margin-left: 0px;
  font-size: 14px;
}

.myColor {
  text-align: right;
  justify-content: right;
  padding-right: 5px;
  align-items: right;
  color: white;
  ion-toolbar {
    ion-title {
      text-align: right !important;
    }
  }
}

ion-content {
  ion-menu-toggle {
    ion-item {
      font-size: 13px !important;
      --padding-left: 15px ​ !important;
    }
  }
}
