<ion-app>
<ion-split-pane contentId="main-content">
     <!-- Menu Main Top -->
     <ion-menu side="start" menuId="myLeftMenu" id="myLeftMenu" contentId="myLeftMenu" [content]="content" *ngIf="params != null">
      <ion-header>
              <!-- <div header-background-image [ngStyle]="{'background-image': 'url(' + params.background + ')'}"> -->
          <div header-background-image [ngStyle]="{'background-image': ''}" style="text-align: center;background: linear-gradient(to bottom, #ff0066 0%, #3366ff 100%);">

            <ion-avatar slot="start" style="background:transparent;padding: 0px;margin: 0 auto;">
              <img [src]="params.hostImage" onError="this.src='../assets/images/user.png';" style="padding: 2px;width: 70px;background-color: darkgrey;
              height: 70px;">
           </ion-avatar>
           <div style="    padding-top: 22px;">
            <p style="font-size: 20px">{{params.title}}</p>
            <p style="font-size: 12px">{{params.company}}</p>
            <p style="font-size: 12px">{{params.email}}</p>
          </div>

              <!-- <p>{{params.description}}</p> -->
          </div>
      </ion-header>
      <!-- Menu Main List -->
      <ion-content>
          <ion-menu-toggle auto-hide="true" no-margin *ngFor="let p of pages" class="custom-menu-item">
              <ion-item item-title main-menu lines="none" (click)="openPage(p)" style="pointer-events: auto !important;">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  {{p.title}}
              </ion-item>
              <ion-item style="margin-left: 35px;pointer-events: auto !important;" item-title main-menu lines="none" *ngFor="let subMenu of p.subMenu" (click)="openPage(subMenu)">
                  <!-- <ion-icon icon-small item-left>
                  <i class="icon {{subMenu.icon}}"></i>
                  </ion-icon> -->
                  <p item-left class="bullet"></p>
                  <!-- <ion-icon icon-small item-left name="{{p.icon}}"></ion-icon> -->
                  <p style="margin-left: 15px;">{{subMenu.title}}</p>
              </ion-item>
          </ion-menu-toggle>
      </ion-content>

  <ion-footer no-lines no-border>
      <ion-row item-end no-lines no-border>
          <ion-col>
                  <p class="versionP">{{'APP_NAME' | translate}} V{{'APP_VERSION' | translate}}</p>
          </ion-col>


      </ion-row>
  </ion-footer>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <!-- <ion-nav [root]="rootPage" #content main swipeBackEnabled="false"></ion-nav> -->
  <ion-router-outlet id="main-content" #content main swipeBackEnabled="false"></ion-router-outlet>
</ion-split-pane>
</ion-app>
