
<ion-header tra *ngIf = "true">
  <ion-toolbar color="danger">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"></ion-icon>
    <ion-title>{{edit? ('FACILITY_BOOKING.U_TITLE' | translate): ('FACILITY_BOOKING.TITLE' | translate)}}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="checkFacilityAvailability()">
          <img app-logo-img class="animated fadeInDown delay-1s" style="display: block; margin: 0 auto;width: 30px;height: 30px;margin-right: 10px;" src="../../assets/images/room_available.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
        <!-- <ion-button (click)="openCalendar()">Open Calendar on Current Date</ion-button> -->
    <div app-bg>
        <div padding-top class="item item-body" style="border-bottom:1px solid rgba(0,0,0,0.05);">
            <ion-row class="row" style="padding: 8px;">
                <ion-col padding-horizontal class="col" style="border-right: 1px solid rgba(0,0,0,0.05);padding: 0px" (click)="openCalendar(true)">
                    <div text-alpha-caption margin-bottom-10 style="    color: white;">
                        <i hidden margin-right-10 class="icon siva-icon-calendar-3"></i>{{'FACILITY_BOOKING.FROM_DATE' | translate}}</div>
                    <div class="row" style="    display: inline-flex;">
                        <!-- <ion-datetime siv-date-picker (ionChange)="changeEvent('fromDate')" [(ngModel)]="VM.fromDate" pickerFormat="DD/MM/YYYY hh:mm A" min="{{minDate}}"
                        max="2050-12-31"></ion-datetime> -->
                        <h3 text-white text-right no-margin class="col">{{VM.fromDate | date : 'dd'}}</h3>
                        <div text-white text-uppercase style="margin-left: 8px;align-self: center;">
                            <b>{{VM.fromDate | date : 'MMM'}}</b>
                        </div>
                        <h3 text-white text-right no-margin class="col" style="padding-left: 7px;">{{VM.fromDate | date : 'yyyy'}}</h3>
                        <!-- <h3 text-white text-right no-margin class="col">{{VM.fromTime}}</h3>
                        <div text-white text-uppercase margin-left style="line-height: 2.6;margin-left: 3px;">
                            <b>{{VM.fromTimeSession}}</b>
                        </div> -->
                    </div>
                </ion-col>
                <ion-col padding-horizontal class="col" style="padding:0px" (click)="openCalendar(false)">
                    <div text-alpha-caption margin-bottom-10 style="    color: white;">
                        <i hidden margin-right-10 class="icon siva-icon-calendar-3"></i>{{'FACILITY_BOOKING.TO_DATE' | translate}}</div>
                    <div class="row row-no-padding" style="    display: inline-flex;">
                        <!-- <ion-datetime siv-date-picker (ionChange)="changeEvent('toDate')" [(ngModel)]="VM.toDate" pickerFormat="DD/MM/YYYY hh:mm A" min="{{minDate}}"
                        max="2050-12-31"></ion-datetime> -->
                        <h3 text-white text-right no-margin class="col">
                                {{VM.toDate | date : 'dd'}}</h3>
                        <div text-white text-uppercase style="margin-left: 8px; align-self: center;">
                            <b>{{VM.toDate | date : 'MMM'}}</b>

                        </div>
                        <h3 text-white text-right no-margin class="col" style="padding-left: 7px;">{{VM.toDate | date : 'yyyy'}}</h3>
                        <!-- <h3 text-right text-white no-margin class="col">{{VM.toTime}}</h3>
                        <div text-white text-uppercase margin-left style="line-height: 2.6;margin-left: 3px;">
                            <b>{{VM.toTimeSession}}</b>
                        </div> -->
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <div class="item item-body" *ngIf="false">
            <div margin-bottom no-padding class="row">
                <div padding-horizontal class="col" style="border-right: 1px solid rgba(0,0,0,0.05);" ng-click="openTimeBreakInPicker()">
                    <div text-alpha-caption margin-top-10 margin-bottom-10 style="    color: white;">
                        <i hidden margin-right-10 class="icon siva-icon-clock-2"></i>{{'FACILITY_BOOKING.FROM_TIME' | translate}}</div>
                    <div class="row row-no-padding">
                        <ion-datetime siv-date-picker (ionChange)="changeEvent('fromTime')"
                            pickerFormat="hh:mm A" [(ngModel)]="VM.fromTime"></ion-datetime>
                        <h1 text-white text-right no-margin class="col">{{VM.fromTime}}</h1>
                        <div text-white text-uppercase margin-left style="line-height: 2.6;">
                            <b>{{VM.fromTimeSession}}</b>
                        </div>
                    </div>
                </div>
                <div padding-horizontal col ng-click="openTimeBreakOutPicker()">
                    <div text-alpha-caption margin-top-10 margin-bottom-10 style="    color: white;">
                        <i hidden margin-right-10 class="icon siva-icon-clock-2"></i>{{'FACILITY_BOOKING.TO_TIME' | translate}}</div>
                    <div class="row row-no-padding">
                        <ion-datetime siv-date-picker (ionChange)="changeEvent('toTime')"
                          pickerFormat="hh:mm A" [(ngModel)]="VM.toTime"></ion-datetime>
                        <h1 text-right text-white no-margin class="col">{{VM.toTime}}</h1>
                        <div text-white text-uppercase margin-left style="line-height: 2.6;">
                            <b>{{VM.toTimeSession}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <h2>{{'FACILITY_BOOKING.STEP2.CHECK_AVAILABLITY' | translate}}</h2> -->
    <ion-label *ngIf="false" style="    font-size: 16px;    margin-left: 5px;" color="danger">{{'FACILITY_BOOKING.STEP2.CHECK_AVAILABLITY' | translate}}</ion-label>
    <ion-item *ngIf="false" no-lines no-padding transparent>
      <ion-select mode="ios" class="ionSelect" interface="action-sheet" (ionChange)="onChangeFacility($event.detail.value)"
      style="font-size: 16px;" [(ngModel)]="FacilityCode" interface="action-sheet" placeholder="{{'FACILITY_BOOKING.STEP2.LAB_FACILITY_NAME' | translate}}">
        <ion-label>{{'FACILITY_BOOKING.STEP2.CHECK_AVAILABLITY' | translate}}</ion-label>
        <ion-select-option text-left *ngFor="let avl_reason of FACILITYMASTERLIST" [value]="avl_reason.FacilityCode">
          {{avl_reason.FacilityName}}
        </ion-select-option>
      </ion-select>
  </ion-item>

    <ion-row style="background: rgb(248, 248, 248);">
        <ion-col size="9">
                <h3 margin-top padding-horizontal theme-text-color>
                        {{'FACILITY_BOOKING.NUM_VISITORS' | translate}} ({{VM.visitors.length}}) </h3>
        </ion-col>
        <ion-col size="3">
          <ion-fab-button (click)="goToAddManageVisitors()">
            <ion-icon name="person-add-outline" style="font-size:2.0rem;"></ion-icon>
           </ion-fab-button>
        </ion-col>
    </ion-row>



    <div style="height: 45%;">

        <ion-list #visitorsList>
          <ion-card mode="ios" no-padding no-border  *ngFor="let item of VM.visitors" style="margin:10px">
            <ion-item-sliding #slideDOM >
                <ion-item mode="ios" sp-visitor-item lines="none" style="padding: 3px;--padding-start: 5px;">
                  <img slot="start" class="visitorImage" onError="this.src='../../assets/images/user.png';" [src]="imageURL+item.SEQID+ imageURLType + newImage" style="    background-color: #e8e8e8;object-fit: cover;
                  padding: 2px;"/>
                    <div>
                      <h2 no-margin style="font-size: 18px;
                      font-weight: 600;
                      color: black;
                      opacity: 0.9;">{{item.HOSTNAME}}</h2>
                      <ion-label no-margin style="margin-top: 5px !important;
                      color: gray;">{{item.HOST_EMAIL}}</ion-label>
                      <ion-label style="margin-bottom: 5px;
                      margin-top: 5px;color: gray;" >{{item.HostExt}}</ion-label>
                    </div>

                    <ion-button slot="end" shape="round" fill="outline" color="danger" style="width: 38px;
                    height: 38px;" (click)="removeVisitor(item)">
                        <ion-icon name="close-circle-outline" style="font-size: 35px;padding: 0px;
                        text-align: center;"></ion-icon>
                    </ion-button>

                    <!-- <ion-buttons slot="end" >
                        <ion-icon name="trash" style="padding:8px" (click)="removeVisitor(item)"></ion-icon>
                         <ion-button slot="icon-only" (click)="removeVisitor(item)" ><ion-icon name="trash"></ion-icon></ion-button>
                    </ion-buttons> -->
                </ion-item>
              </ion-item-sliding>
        </ion-card>
    </ion-list>
    </div>
    <!-- <ion-button bottom right icon-right align-items-end shape="round" fill="outline" color="danger"
    style="padding: 14px 7px 14px 18px;height: 40px;margin-left: auto;display: block;"
    (click)="proceedToNextStep()" [disabled]="(VM.visitors.length == 0)">
        {{'ACC_MAPPING.PROCEED' | translate}}
      <ion-icon class="icon siva-icon-right-open"></ion-icon>
    </ion-button> -->

</ion-content>



<ion-footer transparent>
    <ion-toolbar transparent>
        <ion-button bottom right icon-right align-items-end shape="round" fill="solid" color="danger"
        style="height: 40px;margin-left: auto;display: block;"
        (click)="proceedToNextStep()" [disabled]="(VM.visitors.length == 0)">
            {{'ACC_MAPPING.PROCEED' | translate}}
          <!-- <ion-icon class="icon siva-icon-right-open"></ion-icon> -->
        </ion-button>
    </ion-toolbar>
</ion-footer>
