<!--
  Generated template for the SecurityCheckOutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="danger">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"></ion-icon>
    <ion-title>Today Check-IN</ion-title>
    <ion-buttons slot="end" >
      <ion-button slot="icon-only"  style="padding: 5px;">
          <ion-icon name="qr-code-outline"></ion-icon>
          <!-- <img slot="end" style="width: 25px;height: 25px;" src="../../assets/images/qrcodescan.png"> -->
      </ion-button>
 </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar
    placeholder="Search"   class="animated fadeIn delay-1s">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="booking-main">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-row >
      <ion-col size="12" size-sm size-md>
        <!-- <h5 margin-vertical ion-text text-start style="color:#00b508">
          <i class="icon siva-icon-calendar-3" style="padding-right:10px;"></i>Today Appointments
        </h5> -->
        <!-- <h5 style="display: flex;justify-content: center;margin-bottom: 30px;margin-top: 50px;"
          *ngIf="(todayAppointments.length == 0)">{{'APPOIN_HISTORY.NO_LIST' | translate}}</h5> -->
          <ion-list no-padding no-margin >
            <ion-card class="card_appointment"
              no-padding no-border >
              <ion-item-sliding #slideDOM (ionDrag)="logDrag($event, list.value, slideDOM)">
                <ion-item lines="none" mode="ios" no-padding class="apt-item">
                  <ion-row lines="none" no-padding full-width>
                    <ion-col size="4" class="col apt-left" no-padding>
                      <div class="div-date">
                        <h2 class="text-white" no-margin style="font-size: 18px;">14 Tues</h2>
                      </div>
                      <div class="row text-white div-left-middle">
                        <h3 class="text-white div-left-middle-text">MAY -
                          2021</h3>
                      </div>
                      <div class="row" style="background:rgba(0,0,0,0.1);">
                        <div class="col">
                          <h3 class="text-white div-left-bottom-text">10:25 AM</h3>
                        </div>
                      </div>
                    </ion-col>
                    <ion-col size="8" style="padding-bottom: 0px;">
                      <div class="div-apt-center">
                        <ion-icon slot="start" color="danger" name="person-outline" class="apt-text-icons"></ion-icon>
                        <p class="apt-center-title">Visitor Name</p>
                      </div>

                       <div class="div-apt-center">
                        <ion-icon slot="start" color="danger" name="reader-outline" class="apt-text-icons"></ion-icon>
                        <p class="apt-center-subtitle">Reason</p>
                      </div>
                      <!--
                      <div class="div-apt-center">
                        <ion-icon slot="start" color="danger" name="call-outline" class="apt-text-icons"></ion-icon>
                        <p class="apt-center-subtitle">Telephone</p>
                      </div> -->

                      <div class="div-apt-center">
                        <ion-icon slot="start" color="danger" name="mail-outline" class="apt-text-icons"></ion-icon>
                        <p class="apt-center-subtitle">Email</p>
                      </div>
                      <div class="div-apt-center">
                        <ion-icon slot="start" color="danger" name="timer-outline" class="apt-text-icons"></ion-icon>
                        <p class="apt-center-subtitle">Expiry Time</p>
                      </div>
                    </ion-col>

                    <!-- <ion-col size="2" class="colIcons">

                      <div>
                        <div class="outer-circle2">
                          <div class="inner-circle2">
                            <span id="inside-content">2</span>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="list.value[0].FacilityBookingID && list.value[0].FacilityBookingID !== '0'">
                        <div class="outer-circle2">
                          <div class="inner-circle2">
                            <span id="inside-content">
                              <ion-icon slot="icon-only" name="calendar-outline" class="apt-right-icon"></ion-icon>
                            </span>
                          </div>
                        </div>

                      </div>
                      <div class="">
                        <div [ngClass]="{'outer-circle':list.value[0].Approval_Status=='Pending','outer-circle2':list.value[0].Approval_Status=='Canceled','outer-circle1':list.value[0].Approval_Status=='Approved'}">
                          <div [ngClass]="{'inner-circle':list.value[0].Approval_Status=='Pending','inner-circle2':list.value[0].Approval_Status=='Canceled','inner-circle1':list.value[0].Approval_Status=='Approved'}">
                            <span id="inside-content">
                              {{list.value[0].Approval_Status.charAt(0)}}
                            </span>
                          </div>
                        </div>
                      </div>
                    </ion-col> -->
                  </ion-row>
                </ion-item>
                <ion-item-options side="end" slide-right-width>
              </ion-item-options>
                <ion-item-options side="start" slide-right-width>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
          </ion-list>
      </ion-col>
    </ion-row>


    <!-- <div
      *ngIf="loadingFinished && todayAppointments.length == 0 && tomorrowAppointments.length == 0 && futureAppointments.length == 0">
      <ion-row
        style="height: 100%; width: 100%; margin-top:100px; display: flex; justify-content: center; align-items: center;">
        <ion-col size="12" size-sm size-md>
          <img app-logo-img class="animated fadeInDown delay-1s" style="
                    display: block;
                    margin: 0 auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 200px;
                " src="../../../assets/images/box.jpeg">

        </ion-col>
      </ion-row>
    </div> -->

  </ion-list>

</ion-content>

