<!--
  Generated template for the AckVisitorListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Safety Brief</ion-title>
    <ion-buttons slot="end">
      <ion-button color="btnthm" slot="icon-only" style="font-size: 25px;" (click)="addMoreVisitor()" *ngIf="false">
          <ion-icon name="add-circle"></ion-icon>
      </ion-button>
      <ion-row>
        <ion-col size="6">
            <ion-button color="btnthm" fill="clear" slot="icon-only" style="font-size: 30px;" *ngIf="isGroup || showConfirmScanBtns" (click)="manualScan()">
                <img class="navBtnImg" src="../../assets/images/keypad_white.png"  />
              </ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button color="btnthm" fill="clear" slot="icon-only" style="font-size: 30px;" *ngIf="isGroup || showConfirmScanBtns" (click)="ConfirmQrAfterBriefing1(false)">
                <img class="navBtnImg1" src="../../assets/images/qrcodescan2.png" />
              </ion-button>
        </ion-col>

      </ion-row>
      <!-- <ion-button slot="icon-only" style="font-size: 30px;" (click)="takeActForScanQR()" *ngIf="isGroup">
        <ion-icon name="customiconScan"></ion-icon>
      </ion-button>
      <ion-button slot="icon-only" style="font-size: 30px;" (click)="takeActForScanQR()" *ngIf="isGroup">
        <ion-icon name="customiconManual"></ion-icon>
      </ion-button> -->
      <!-- <ion-button color='light' fill="outline" class="myQRCodeImage" (click)="takeActForScanQR()">
      </ion-button> -->
      <!-- <ion-button color='light' fill="outline" class="myHandImage" (click)="takeActForManualEntry()">
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list #visitorsList>
    <ion-card class="myCard" *ngFor="let item of scannedData">
      <ion-item-sliding #slideDOM >
        <ion-item class="myItem">
          <ion-row class="myRow">
            <ion-icon name="person" class="myIcons"></ion-icon>
            <h3 class="myName"><b>{{doCapitalize(item.visitor_name)}}</b></h3>
          </ion-row>

          <ion-row class="myRow">
              <ion-item style="padding: 0px">
                  <ion-row>
                      <ion-icon name="grid" class="myIcons"></ion-icon>
                      <p>{{item.visitor_comp_id}}</p>
                  </ion-row>
                  <img slot="end" class="verifiedImg" src="../../assets/images/verified.png" *ngIf="item.confirmed"/>
              </ion-item>

          </ion-row>
          <ion-row class="myRow">
              <ion-row>
                  <ion-icon name="book" class="myIcons"></ion-icon>
                  <p>{{item.visitor_ctg_id}}</p>
              </ion-row>

              <!-- <ion-checkbox red item-right [(ngModel)]="item.confirmed" checked = "item.confirmed">
                </ion-checkbox> -->
            </ion-row>

          <ion-card slot="start" class="myCardImg">
            <img  class="myVisitorImage"  [src]="logo+item.SEQ_ID+RefTypeVP" onError="this.src='../../assets/images/user.png';">
          </ion-card>
        </ion-item>
        <ion-item-options side="end">
            <ion-button color="btnthm" (click)="removeVisitor(slideDOM, item)" style="text-transform: none">
                <ion-icon name="trash" style="font-size: 18px;"></ion-icon>
                Remove
              </ion-button>
          <!-- <ion-button no-padding color="btnthm" no-border (click)="editVisitors(slideDOM, 'edit', item)">
              <ion-icon name="delete"></ion-icon>
          </ion-button> -->
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar *ngIf="scannedData && scannedData.length > 0" (click)="playGroupVideo()">
        <!-- <ion-title>{{'MANG_HOST.DONE' | translate}}</ion-title> -->
        <ion-buttons slot="end">
            <ion-button>
                {{showConfirmScanBtns ? ('SECURITY_APP.FINISH' | translate) : 'ACC_MAPPING.PROCEED' | translate}}
              <!-- <ion-icon name="checkmark"></ion-icon> -->
            </ion-button>
          </ion-buttons>
      </ion-toolbar>
</ion-footer>
