<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'APPOIN_HISTORY.TITLE' | translate}}</ion-title>
    <ion-buttons slot="end" *ngIf= "false">
        <ion-button slot="icon-only" (click)="createBooking()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button *ngIf= "isAdmin" slot="icon-only" (click)="gotoAdminPage()">
                <ion-icon name="customicon"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only" (click)="gotoNotification()">
          <ion-icon name="notifications-outline" style="position:relative" style="color: #FFF;">
            <span *ngIf="notificationCount > 0" style="position: absolute;
                        font-size: 16px;
                        margin-top: -10px;"><b>{{notificationCount}}</b></span>
          </ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="booking-main">
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item-divider *ngIf="false" color="asent">UpComing</ion-item-divider>
  <ion-row style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;" *ngIf="loadingFinished && appointments.length == 0">
        <ion-col size="12" size-sm size-md>
                <img app-logo-img class="animated fadeInDown delay-1s" style="
                display: block;
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 200px;
            " src="assets/images/box.jpeg">
                <!-- <h5 style="display: flex;justify-content: center;margin-bottom: 30px;margin-top: 50px;">{{'APPOIN_HISTORY.NO_LIST' | translate}}</h5> -->
        </ion-col>
  </ion-row>
  <!-- <h5 style="height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;" *ngIf="appointments.length == 0">{{'APPOIN_HISTORY.NO_LIST' | translate}}</h5> -->
  <ion-list no-padding no-margin *ngFor="let list of appointments | groupBy:'appointment_group_id'">
    <ion-card class="card_appointment"
      no-padding no-border >
      <ion-item-sliding #slideDOM (ionDrag)="logDrag($event, list.value, slideDOM)">
        <ion-item lines="none"  mode="ios" no-padding class="apt-item">
          <ion-row lines="none" no-padding full-width>
            <ion-col size="4" class="col apt-left" no-padding (click)="viewBooking(list.value)">
              <div class="div-date">
                <h2 class="text-white" no-margin style="font-size: 18px;">{{list.value[0].START_DATE | date :'dd'}} {{getDayofDate(list.value[0].START_DATE)}}</h2>
              </div>
              <div class="row text-white div-left-middle">
                <h3 class="text-white div-left-middle-text">{{list.value[0].START_DATE | date : 'MMM' | uppercase}} -
                  {{list.value[0].START_DATE | date : 'yyyy'}}</h3>
              </div>
              <div class="row" style="background:rgba(0,0,0,0.1);">
                <div class="col">
                  <h3 class="text-white div-left-bottom-text">{{list.value[0].START_DATE | date:'h:mm a'}}</h3>
                </div>
              </div>
            </ion-col>
            <ion-col size="6" style="padding-bottom: 0px;" (click)="viewBooking(list.value)">
              <div class="div-apt-center">
                <ion-icon slot="start" color="danger" name="person-outline" class="apt-text-icons"></ion-icon>
                <ion-label class="apt-center-title">{{list.value[0].VISITOR_NAME}}</ion-label>
              </div>

              <div class="div-apt-center">
                <ion-icon slot="start" color="danger" name="reader-outline" class="apt-text-icons"></ion-icon>
                <ion-label class="apt-center-subtitle">{{list.value[0].REASON ? list.value[0].REASON:'&nbsp;&nbsp;--'}}</ion-label>
              </div>

              <div class="div-apt-center">
                <ion-icon slot="start" color="danger" name="call-outline" class="apt-text-icons"></ion-icon>
                <ion-label class="apt-center-subtitle">{{list.value[0].TELEPHONE_NO ? list.value[0].TELEPHONE_NO:'&nbsp;&nbsp;--'}}</ion-label>
              </div>

              <div class="div-apt-center">
                <ion-icon slot="start" color="danger" name="mail-outline" class="apt-text-icons"></ion-icon>
                <ion-label class="apt-center-subtitle">{{list.value[0].EMAIL ? list.value[0].EMAIL:'&nbsp;&nbsp;--'}}</ion-label>
              </div>
            </ion-col>

            <ion-col size="2" class="colIcons">

              <div (click)="openTooltip($event, 'Visitors')">
                <!-- <ion-badge color="danger">3</ion-badge> -->
                <div class="outer-circle2">
                  <div class="inner-circle2">
                    <span id="inside-content">{{list.value.length}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="list.value[0].FacilityBookingID && list.value[0].FacilityBookingID !== '0'" (click)="viewBooking(list.value)">
                <div class="outer-circle2">
                  <div class="inner-circle2">
                    <span id="inside-content">
                      <ion-icon slot="icon-only" name="calendar-outline" class="apt-right-icon"></ion-icon>
                    </span>
                  </div>
                </div>
                <!-- <ion-icon slot="icon-only" name="heart-outline" style="font-size: 25px;"></ion-icon> -->
              </div>
              <div (click)="openTooltip($event, list.value[0].Approval_Status)">
                <div [ngClass]="{'outer-circle':list.value[0].Approval_Status=='Pending','outer-circle2':list.value[0].Approval_Status=='Canceled','outer-circle1':list.value[0].Approval_Status=='Approved'}">
                  <div [ngClass]="{'inner-circle':list.value[0].Approval_Status=='Pending','inner-circle2':list.value[0].Approval_Status=='Canceled','inner-circle1':list.value[0].Approval_Status=='Approved'}">
                    <span id="inside-content">
                      {{list.value[0].Approval_Status.charAt(0)}}
                    </span>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="end" slide-right-width>
      </ion-item-options>
        <ion-item-options side="start" slide-right-width>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>
</ion-content>
