
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-menu-button *ngIf="!isSecurityApp"></ion-menu-button>
      <ion-icon *ngIf="isSecurityApp" slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"></ion-icon>
    </ion-buttons>
      <ion-title>{{"SETTINGS.TITLE" | translate}}
      </ion-title>
      <ion-buttons slot="end" *ngIf="!isSecurityApp">
        <ion-button *ngIf= "isAdmin" slot="icon-only" (click)="gotoAdminPage()">
            <ion-icon name="customicon"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only" (click)="gotoNotification()" >
          <ion-icon name="notifications-outline" style="position:relative">
                  <span *ngIf= "notificationCount > 0" style="position: absolute;
                  font-size: 16px;
                  margin-top: -10px;"><b>{{notificationCount}}</b></span>
          </ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list my-set-list>
      <ion-item-divider color="accent" *ngIf="false">
        <span>{{'SETTINGS.BASIC' | translate}}</span>
      </ion-item-divider>
      <ion-item *ngIf="false">
          <ion-icon class='siva-icon-language-1' color="primary" slot="start"></ion-icon>
          <ion-label [innerHTML]="'SETTINGS.APP_LANGUAGE' | translate"></ion-label>
          <ion-select mode="ios" [interfaceOptions]="customActionSheetOptions" interface="action-sheet"  [(ngModel)]="languageSelect.selectedItem"
              (ionChange)="onChangeLanguage()"
              multiple="false"
              customActionSheetOptions
              okText="{{'COMMON.APPLY' | translate}}"
              cancelText="{{'COMMON.CANCEL' | translate}}">
              <ion-select-option *ngFor="let item of languageSelect.items" [value]="item.id">{{item.TCODE | translate}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- <ion-item >
            <ion-icon class='siva-icon-adjust' slot="start" color="primary"></ion-icon>
            <ion-label>Enable Option 1</ion-label>
            <ion-toggle color="secondary"></ion-toggle>
          </ion-item>
          <ion-item >
            <ion-icon class='siva-icon-list-add' slot="start" color="primary"></ion-icon>
            <ion-label>Enable Option 2</ion-label>
            <ion-toggle color="secondary"></ion-toggle>
          </ion-item>

         <ion-item-divider border-top color="accent">
           <span>Scan History</span>
          </ion-item-divider>
          <ion-item>
            <ion-label color="dark">Always Maintain</ion-label>
            <ion-radio name="history" value="always" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label color="dark">Never Maintain</ion-label>
            <ion-radio name="history" value="locked"></ion-radio>
          </ion-item>
        <ion-item-divider color="accent">
            <span>Other</span>
        </ion-item-divider>-->

        <ion-item *ngIf="false" style="padding: 10px;    --padding-start: 15px;">
          <ion-icon class='siva-icon-help-circled-1' slot="start" color="primary"></ion-icon>
          <ion-label>{{'SETTINGS.HELP' | translate}}</ion-label>
        </ion-item>
        <ion-item style="padding: 10px;    --padding-start: 15px;">
          <ion-icon class='siva-icon-info-circled-1' slot="start" color="primary"></ion-icon>
          <ion-label>{{'SETTINGS.APP_VERSION' | translate}}</ion-label>
          <ion-note slot="end">{{'APP_VERSION' | translate}}</ion-note>
        </ion-item>
        <ion-item style="padding: 10px;    --padding-start: 15px;" *ngIf="isSecurityApp">
          <ion-icon class='siva-icon-info-circled-1' slot="start" color="primary"></ion-icon>
          <ion-label>{{'ACC_MAPPING.DEVICE_NAME' | translate}}</ion-label>
          <ion-note slot="end">{{'APP_VERSION' | translate}}</ion-note>
        </ion-item>
        <ion-item (click)="goToUserProfile()" style="padding: 10px;    --padding-start: 15px;" *ngIf="!isSecurityApp">
          <ion-icon class='siva-icon-user-circle-o' slot="start" color="primary"></ion-icon>
          <ion-label>{{'SETTINGS.PROFILE' | translate}}</ion-label>
          <ion-note slot="end">{{name}}</ion-note>
       </ion-item>
       <ion-item (click)="syncSettings()">
        <ion-icon name="settings" style="margin-left: 8px;" slot="start" color="primary"></ion-icon>
        <ion-label color="primary">{{'SETTINGS.SYNC_NOW' | translate}}</ion-label>
      </ion-item>
       <ion-item (click)="logoutMe()">
          <ion-icon class='siva-icon-logout-2' slot="start" color="primary"></ion-icon>
          <ion-label color="primary">{{'SETTINGS.LOGOUT' | translate}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>

