<ion-header>
  <ion-toolbar color="primary">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"></ion-icon>
    <ion-title>{{'MANG_VISITORS.TITLE' | translate}}</ion-title>
    <ion-buttons slot="end" >
      <ion-fab-button color="light" shape="round" slot="icon-only" style="    width: 35px;
      height: 35px;
      margin-right: 5px;" (click)="goToAddVisitorProfile()">
          <ion-icon color="btnthm" style="font-size: 22px;
          padding-left: 2px;" name="person-add-outline"></ion-icon>
        </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" placeholder="{{'MANG_VISITORS.SEARCH_PLACE' | translate}}" (ionChange)="getVisitorsBySearch($event, true, null)" (ionClear)="onCancel()" (ionCancel)="onCancel()" class="animated fadeIn delay-1s">
        <!-- (ionChange)="updateSchedule()" -->
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list #visitorsList>
      <div style="margin: 50% auto;
      text-align: center;" *ngIf="VM.visitors == undefined || VM.visitors == null || VM.visitors.length == 0">
          {{'MANG_VISITORS.NO_VISITORS_AVAILABLE' | translate}}
      </div>
      <ion-item-group *ngFor="let group of VM.visitors">
        <ion-item-divider sticky>
          <ion-label>
            {{group.key}}
          </ion-label>
        </ion-item-divider>
        <ion-item-sliding #slideDOM *ngFor="let item of group.contacts">
            <ion-item sp-visitor-item lines="none"  style="border: 1px solid #dedede;">

                <ion-avatar slot="start" (click)="editVisitor(item)">
                    <img onError="this.src='../../assets/images/user.png';" [src]="imageURL + item.SEQ_ID + imageURLType + newImage"(click)="editVisitor(item)" style="background-color: darkgrey#e8e8e8;object-fit: cover;
                    padding: 2px;">
                </ion-avatar>
                <ion-label style="padding: 5px;">
                  <h2>{{item.VISITOR_NAME}}</h2>
                  <!-- <p>{{item.visitor_comp_id}}</p> -->
                  <p>{{item.EMAIL}}</p>
                  <p *ngIf="false">{{item.TELEPHONE_NO}}</p>
                </ion-label>

                <ion-checkbox mode="ios" red slot="end" [(ngModel)]="item.isChecked" [checked]="item.isChecked" (ionChange)="visitorSelected(item)">
                </ion-checkbox>
            </ion-item>
            <ion-item-options side="end">
                <!-- <ion-button slot="icon-only" color="primary" fill="outline" no-border (click)="editVisitors(slideDOM, 'delete', item)">
                <ion-icon color="primary" class="siva-icon-trash-empty"></ion-icon>
              </ion-button> -->
              <ion-button slot="icon-only" style="align-self: center;" no-padding color="primary" fill="clear" no-border (click)="editVisitors(slideDOM, 'edit', item)">
                  <ion-icon color="btnthm" class="siva-icon-pencil-2"></ion-icon>
              </ion-button>
              </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"
        loadingText="{{ 'COMMON.LOADER_MSG.LOADING_MORE_DATA' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<ion-footer >
  <ion-toolbar *ngIf="isAnyoneSelected" (click)="addVisitors()">
    <!-- <ion-title>{{'MANG_VISITORS.DONE' | translate}}</ion-title> -->
    <ion-buttons slot="end">
        <ion-button>
            {{'MANG_VISITORS.DONE' | translate}}
          <!-- <ion-icon name="checkmark"></ion-icon> -->
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
