<!--
  Generated template for the VisitorCompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"></ion-icon>
      <ion-title>{{'VISITORS_COMPANY.STAFF_TITLE' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
      <ion-searchbar [(ngModel)]="VM.queryText"  maxlength="250"
      placeholder="{{'VISITORS_COMPANY.SEARCH_HOST' | translate}}" (ionChange)="getStaffBySearch()" (ionClear)="onCancel()" (ionCancel)="onCancel()" class="animated fadeIn delay-1s">
          <!-- (ionChange)="updateSchedule()" -->
      </ion-searchbar>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-radio-group (ionSelect)="selectCompany()" [(ngModel)]="selectedStaff">
          <ion-item *ngFor="let hostItem of VM.HostList">
            <ion-label>{{hostItem.HOSTNAME}}</ion-label>
            <ion-radio [value]="hostItem.HOSTIC"></ion-radio>
          </ion-item>
        </ion-radio-group>

</ion-content>

<ion-footer >
    <ion-toolbar (click)="addStaff()" *ngIf="selectedStaff">
      <!-- <ion-title>{{'VISITORS_COMPANY.DONE' | translate}}</ion-title> -->
      <ion-buttons slot="end">
          <ion-button> {{'VISITORS_COMPANY.DONE' | translate}}
            <!-- <ion-icon name="checkmark"></ion-icon> -->
          <ion-ripple-effect></ion-ripple-effect></ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-footer>
