.item-inner,
.input-wrapper {
  padding: 0px;
  border-bottom: 0px !important;
}
ion-label {
  margin: 0px;
}

ion-icon {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-size: 18px;

  &[ng-reflect-name="customicon"] {
    background-image: url("../../../assets/images/x-icon/admin.png");
    &[ng-reflect-is-active="true"] {
      background-image: url("../../../assets/images/x-icon/admin.png");
    }
    width: 2.4rem;
    height: 2.4rem;
  }
}

.apt-left {
  background-color: theme-colors("mainColors", "primary");
}
.text-white {
  color: theme-colors("textColors", "primaryWhite");
}
.booking-status {
  padding: 5px;
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
}
.booking-status.pending {
  background: rgb(252, 170, 170);
}
.booking-status.canceled {
  background: #f2f2f2;
  color: #aaa;
}
.booking-status.approved {
  background: #90d3a3;
  color: #ffffff;
}
.card-md p {
  margin: 0 0 2px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
}
.table-bordered[_ngcontent-c1]
  > thead[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > th[_ngcontent-c1],
.table-bordered[_ngcontent-c1]
  > tbody[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > th[_ngcontent-c1],
.table-bordered[_ngcontent-c1]
  > tfoot[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > th[_ngcontent-c1],
.table-bordered[_ngcontent-c1]
  > thead[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > td[_ngcontent-c1],
.table-bordered[_ngcontent-c1]
  > tbody[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > td[_ngcontent-c1],
.table-bordered[_ngcontent-c1]
  > tfoot[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > td[_ngcontent-c1] {
  border: 1px solid whitesmoke;
}
.table[_ngcontent-c1]
  > thead[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > th[_ngcontent-c1],
.table[_ngcontent-c1]
  > tbody[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > th[_ngcontent-c1],
.table[_ngcontent-c1]
  > tfoot[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > th[_ngcontent-c1],
.table[_ngcontent-c1]
  > thead[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > td[_ngcontent-c1],
.table[_ngcontent-c1]
  > tbody[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > td[_ngcontent-c1],
.table[_ngcontent-c1]
  > tfoot[_ngcontent-c1]
  > tr[_ngcontent-c1]
  > td[_ngcontent-c1] {
  padding: 12px 8px 10px 8px;
}

.monthview-primary-with-event[_ngcontent-c1] {
  background-color: transparent;
  color: #9c27b0;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.2);
  // border-bottom:2px solid #9C27B0 !important;
}
.monthview-primary-with-event[_ngcontent-c1]::after {
  background-color: #9c27b0;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  content: "";
  margin-top: -5px;
}
.monthview-current[_ngcontent-c1] {
  background-color: #f0f0f0;
  box-shadow: inset 1px 1px 12px rgba(0, 0, 0, 0.2);
}
.monthview-selected[_ngcontent-c1] {
  background-color: theme-colors("mainColors", "primary");
  //border: 1px solid theme-colors('mainColors', 'primary') !important;
  color: white;
  box-shadow: inset 1px 1px 12px rgba(0, 0, 0, 0.3);
}
thead tr {
  background: whitesmoke;
}
