<ng-template #template let-showEventDetail="showEventDetail"
 let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
 <ion-toolbar color="danger">
    <ion-title style="margin-left: -70px;">Appointments</ion-title>
   </ion-toolbar>
	<ion-list has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false" style="margin:0px">
      <ion-card class="card_appointment" style="width: 98%;"
        no-padding no-border *ngFor="let event of selectedDate?.events" (click)="viewBooking(event.value.value)">
        <ion-item-sliding #slideDOM (ionDrag)="logDrag($event, event.value.value, slideDOM)">
          <ion-item mode="ios" lines="none" no-padding class="apt-item">
            <ion-row lines="none" no-padding full-width>
              <ion-col size="4" class="col apt-left" no-padding>
                <div class="div-date">
                  <h2 class="text-white" no-margin style="font-size: 18px;">{{event.value.value[0].START_DATE | date :'dd'}} {{getDayofDate(event.value.value[0].START_DATE)}}</h2>
                </div>
                <div class="row text-white div-left-middle">
                  <h3 class="text-white div-left-middle-text">{{event.value.value[0].START_DATE | date : 'MMM' | uppercase}} -
                    {{event.value.value[0].START_DATE | date : 'yyyy'}}</h3>
                </div>
                <div class="row" style="background:rgba(0,0,0,0.1);">
                  <div class="col">
                    <h3 class="text-white div-left-bottom-text">{{event.value.value[0].START_DATE | date:'h:mm a'}}</h3>
                  </div>
                </div>
              </ion-col>
              <ion-col size="6" style="padding-bottom: 0px;">
                <div class="div-apt-center">
                  <ion-icon slot="start" color="danger" name="person-outline" class="apt-text-icons"></ion-icon>
                  <p class="apt-center-title">{{event.value.value[0].VISITOR_NAME}}</p>
                </div>

                <div class="div-apt-center">
                  <ion-icon slot="start" color="danger" name="reader-outline" class="apt-text-icons"></ion-icon>
                  <p class="apt-center-subtitle">{{event.value.value[0].REASON ? event.value.value[0].REASON:'--'}}</p>
                </div>

                <div class="div-apt-center">
                  <ion-icon slot="start" color="danger" name="call-outline" class="apt-text-icons"></ion-icon>
                  <p class="apt-center-subtitle">{{event.value.value[0].TELEPHONE_NO ? event.value.value[0].TELEPHONE_NO:'--'}}</p>
                </div>

                <div class="div-apt-center">
                  <ion-icon slot="start" color="danger" name="mail-outline" class="apt-text-icons"></ion-icon>
                  <p class="apt-center-subtitle">{{event.value.value[0].EMAIL ? event.value.value[0].EMAIL:'--'}}</p>
                </div>
              </ion-col>

              <ion-col size="2" class="colIcons">

                <div>
                  <!-- <ion-badge color="danger">3</ion-badge> -->
                  <div class="outer-circle2">
                    <div class="inner-circle2">
                      <span id="inside-content">{{event.value.value.length}}</span>
                    </div>
                  </div>
                </div>
                <div *ngIf="event.value.value[0].FacilityBookingID && event.value.value[0].FacilityBookingID !== '0'">
                  <div class="outer-circle2">
                    <div class="inner-circle2">
                      <span id="inside-content">
                        <ion-icon slot="icon-only" name="calendar-outline" class="apt-right-icon"></ion-icon>
                      </span>
                    </div>
                  </div>
                  <!-- <ion-icon slot="icon-only" name="heart-outline" style="font-size: 25px;"></ion-icon> -->
                </div>
                <div class="">
                  <div [ngClass]="{'outer-circle':event.value.value[0].Approval_Status=='Pending','outer-circle2':event.value.value[0].Approval_Status=='Canceled','outer-circle1':event.value.value[0].Approval_Status=='Approved'}">
                    <div [ngClass]="{'inner-circle':event.value.value[0].Approval_Status=='Pending','inner-circle2':event.value.value[0].Approval_Status=='Canceled','inner-circle1':event.value.value[0].Approval_Status=='Approved'}">
                      <span id="inside-content">
                        {{event.value.value[0].Approval_Status.charAt(0)}}
                      </span>
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options side="end" slide-right-width>
        </ion-item-options>
          <ion-item-options side="start" slide-right-width>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>

		<ion-item *ngIf="selectedDate?.events.length==0">
			<div class="no-events-label" style="    text-align: center;"><b>No Appointments Available</b></div>
		</ion-item>
	</ion-list>

</ng-template>

<ion-header>
	<ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Appointments</ion-title>

    <ion-buttons slot="end" >
        <ion-button *ngIf="false" slot="icon-only" (click)="syncFromGoogleCalender()">
            <ion-icon name="sync" style="position:relative">
            </ion-icon>
        </ion-button>
        <ion-button *ngIf= "isAdmin" slot="icon-only" (click)="gotoAdminPage()">
                <ion-icon name="customicon"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only" (click)="gotoNotification()">
            <ion-icon name="notifications-outline" style="position:relative">
                    <span *ngIf= "notificationCount > 0" style="position: absolute;
                    font-size: 16px;
                    margin-top: -10px;"><b>{{notificationCount}}</b></span>
            </ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-title>{{viewTitle}}</ion-title>
    <ion-buttons slot="end">
			<ion-button [disabled]="isToday" (click)="today()">Today</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="has-header">
	<calendar
  [monthviewEventDetailTemplate]="template"
	[eventSource]="eventSource" [markDisabled]="markDisabled" [calendarMode]="calendar.mode"
	[currentDate]="calendar.currentDate"
	(onCurrentDateChanged)="onCurrentDateChanged($event)"
	(onEventSelected)="onEventSelected($event)"
	(onTitleChanged)="onViewTitleChanged($event)"
	(onTimeSelected)="onTimeSelected($event)" step="30">
	</calendar>

</ion-content>
