<ng-template #template let-showEventDetail="showEventDetail"
 let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
 <ion-toolbar>
    <ion-title>Appointments</ion-title>

   </ion-toolbar>
	<ion-list has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false" style="margin:0px">
		<ion-item *ngFor="let event of selectedDate?.events" (click)="viewBooking(event.value.value)"text-wrap style="background: #f6f2f2;text-align: -webkit-center;">
			<ion-card style="box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);margin: 0px;width: -webkit-fill-available;">
        <div class="row no-padding">
            <div class="col apt-left" style="max-width:100px;padding:5px 0px 0px 0px;;">
                <div class="row text-white no-padding" style="display:flex">
                    <div class="col no-padding" style="display:contents"><h2 class="text-white" style="font-size: 25px;display: flex">{{event.value.value[0].START_DATE | date : 'dd'}}</h2></div>
                    <div class="col">
                        <h3 class="text-white" style="font-size: 15px;">{{getDayofDate(event.value.value[0].START_DATE)}}</h3>
                        <h3 class="text-white" style="font-size: 12px;">{{event.value.value[0].START_DATE | date:'h:mm a'}}</h3>
                    </div>
                </div>
                <div class="row" style="background:rgba(0,0,0,0.1);">
                    <div class="col"><h3 class="text-white" style="font-size: 15px;">{{event.value.value[0].START_DATE | date : 'MMM' | uppercase}} - {{event.value.value[0].START_DATE | date : 'yyyy'}}</h3></div>
                </div>
            </div>
            <div class="col" style="padding:5px 0px 0px 0px;;">
                <ion-item style="padding: 0px;
                margin: 0px;
                height: 25px;
                min-height: 25px;
                padding-left: 5px;">
                        <h2 item-start style="padding: 0px;
                        margin-left: 0px;
                        height: 20px;
                        width: 100px;
                        text-overflow: ellipsis; overflow: hidden;
                        display: -webkit-box; -webkit-line-clamp: 2; line-height: 16px; max-height: 16px; -webkit-box-orient: vertical;
                        text-align: left;
                        font-size: 16px;"><b>{{event.value.value[0].VISITOR_NAME}}</b></h2>
                        <div item-end>
                            <button ion-button icon-only clear color="danger" style="padding: 5px;font-size: 14px;" *ngIf= "event.value.value[0].FacilityBookingID">
                                <ion-icon name="star-outline"></ion-icon>
                            </button>
                            <button ion-button color="danger" round style="font-size: 14px;" *ngIf="!event.value.value[0].isFacilityAlone">
                                    <!-- <ion-icon name="people" style="font-size: 10px;
                                    margin-right: 2px;"></ion-icon> -->
                                    {{event.value.value.length}}
                            </button>
                        </div>
                </ion-item>
                <!-- <div class="row text-white no-padding" style="padding:0px 5px;display: contents;">



                </div> -->
                <div class="row text-white no-padding" style="padding:0px 5px;">
                        <p *ngIf="event.value.value[0].REASON" style="font-size: 14px;">{{event.value.value[0].REASON}}</p>
                        <p *ngIf="!event.value.value[0].REASON" style="font-size: 14px;">--</p>
                        <!-- <h5>{{event.value.value[0].Category}}</h5>   -->
                </div>
                <div class="row">
                    <div class="col" style="padding: 0px;">
                        <div text-right *ngIf="event.value.value[0].Approval_Status == null">
                            Pending
                        </div>
                        <div text-right *ngIf="event.value.value[0].Approval_Status != null" style="margin: 0 auto;" class="booking-status" [ngClass]="{'pending':event.value.value[0].Approval_Status=='Pending','canceled':event.value.value[0].Approval_Status=='Canceled','approved':event.value.value[0].Approval_Status=='Approved'}">
                            {{event.value.value[0].Approval_Status}}
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </ion-card>

		</ion-item>
		<ion-item *ngIf="selectedDate?.events.length==0">
			<div class="no-events-label" style="    text-align: center;"><b>No Appointments Available</b></div>
		</ion-item>
	</ion-list>

</ng-template>

<ion-header>
	<ion-toolbar>
    <button ion-button menuToggle>
            <ion-icon class="siva-icon-menu-1"></ion-icon>
    </button>
    <ion-title>Manage Appointments</ion-title>

    <ion-buttons end >
        <button *ngIf="false" ion-button icon-only (click)="syncFromGoogleCalender()">
            <ion-icon name="sync" style="position:relative">
            </ion-icon>
        </button>
        <button *ngIf= "isAdmin" ion-button icon-only (click)="gotoAdminPage()">
                <ion-icon name="customicon"></ion-icon>
        </button>
        <button ion-button icon-only (click)="gotoNotification()">
            <ion-icon name="ios-notifications" style="position:relative">
                    <span *ngIf= "notificationCount > 0" style="position: absolute;
                    font-size: 16px;
                    margin-top: -10px;"><b>{{notificationCount}}</b></span>
            </ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>{{viewTitle}}</ion-title>
    <ion-buttons end>
			<button ion-button [disabled]="isToday" (click)="today()">Today</button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="has-header">
	<!-- <ion-row ion-content>
		<ion-col col-9>
			<button ion-button color="favorite" small (click)="addEvent()">ADD EVENT</button>
		</ion-col>
		<ion-col col-3>
			<ion-select mode="ios" [(ngModel)]="calendar.mode" style="max-width: 100%">
				<ion-option (ionSelect)="onOptionSelected($event)" *ngFor="let mode of calendarModes" [value]="mode.key">{{mode.value}}
				</ion-option>
			</ion-select>
		</ion-col>
	</ion-row> -->
	<!-- <p>{{selectedObject | json}}</p>
        <p>{{eventSource | json}}</p> -->
	<calendar
  [monthviewEventDetailTemplate]="template"
	[eventSource]="eventSource" [markDisabled]="markDisabled" [calendarMode]="calendar.mode"
	[currentDate]="calendar.currentDate"
	(onCurrentDateChanged)="onCurrentDateChanged($event)"
	(onEventSelected)="onEventSelected($event)"
	(onTitleChanged)="onViewTitleChanged($event)"
	(onTimeSelected)="onTimeSelected($event)" step="30">
	</calendar>

</ion-content>
