<ng-template #template let-showEventDetail="showEventDetail"
 let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
 <ion-toolbar color="danger">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Appointments</ion-title>
   </ion-toolbar>
	<ion-list has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false" style="margin:0px">
		<ion-item lines="none" *ngFor="let event of selectedDate?.events" (click)="viewBooking(event.value.value)"text-wrap style="--padding-start: 6px;
    --padding-top: 10px;background: #f6f2f2;text-align: -webkit-center;">

      <ion-card style="margin: 3px; margin-bottom: 5px;margin-top: 5px;border: 1px solid #dedede;width: -webkit-fill-available;" no-padding no-border (click)="viewBooking(event.value.value)">
        <div class="row no-padding">
            <ion-row lines="none">
              <ion-col size="4" class="col apt-left" style="max-width:100px;padding:5px 0px 0px 0px;text-align: center;;">
                <div class="row text-white no-padding" style="display:flex; padding: 5px;">
                    <div class="col no-padding" style="width: -webkit-fill-available;"><h2 class="text-white" style="margin: 0px;font-size: 25px;">{{event.value.value[0].START_DATE | date : 'dd'}}</h2></div>
                    <div class="col" style="    padding: 5px;width: -webkit-fill-available;">
                        <h3 class="text-white" style="font-size: 15px;padding: 0px;
                        margin: 0px;">{{getDayofDate(event.value.value[0].START_DATE)}}</h3>
                        <h3 class="text-white" style="font-size: 12px;padding: 0px;
                        margin-top: 3px;">{{event.value.value[0].START_DATE | date:'h:mm a'}}</h3>
                    </div>
                </div>
                <div class="row" style="background:rgba(0,0,0,0.1);">
                    <div class="col"><h3 class="text-white" style="font-size: 15px;padding: 6px;
                      margin: 0px;">{{event.value.value[0].START_DATE | date : 'MMM' | uppercase}} - {{event.value.value[0].START_DATE | date : 'yyyy'}}</h3></div>
                </div>
            </ion-col>
            <ion-col size="8" class="col padding" style="border-bottom: 2px solid rgba(0,0,0,0.05); padding: 0px">
                <ion-item style="--padding-start: 7px;height: 32px;display: flex;">
                    <ion-label><b>{{event.value.value[0].VISITOR_NAME}}</b></ion-label>
                    <ion-button color="danger" shape="round" style="font-size: 14px;">
                      <!-- <ion-icon name="people" style="font-size: 10px;
                      margin-right: 2px;"></ion-icon> -->
                      {{event.value.value.length}}
                    </ion-button>
                </ion-item>
                <ion-item style="--padding-start: 10px;height: 32px;display: flex;">
                  <p style="font-size: 14px;padding: 0px;
                  margin: 0px;">{{event.value.value[0].REASON ? event.value.value[0].REASON: '--'}}</p>
                  <ion-icon *ngIf="event.value.value[0].FacilityBookingID" style="margin: 0px;
                  margin-right: -5px;" slot="end" color="danger" name="star-outline"></ion-icon>
                </ion-item>

                <!-- <h5>{{event.value.value[0].Category}}</h5> -->
                <div text-right *ngIf="(event.value.value[0].Approval_Status == null)" class="booking-status"
                [ngClass]="{'pending':event.value.value[0].Approval_Status=='Pending','canceled':event.value.value[0].Approval_Status=='Canceled','approved':event.value.value[0].Approval_Status=='Approved'}">
                Pending</div>
                <div text-right *ngIf="(event.value.value[0].Approval_Status != null)" class="booking-status"
                [ngClass]="{'pending':event.value.value[0].Approval_Status=='Pending','canceled':event.value.value[0].Approval_Status=='Canceled','approved':event.value.value[0].Approval_Status=='Approved'}">
                {{event.value.value[0].Approval_Status}}</div>
              </ion-col>
            </ion-row>
        </div>
    </ion-card>



		</ion-item>
		<ion-item *ngIf="selectedDate?.events.length==0">
			<div class="no-events-label" style="    text-align: center;"><b>No Appointments Available</b></div>
		</ion-item>
	</ion-list>

</ng-template>

<ion-header>
	<ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Appointments</ion-title>

    <ion-buttons slot="end" >
        <ion-button *ngIf="false" slot="icon-only" (click)="syncFromGoogleCalender()">
            <ion-icon name="sync" style="position:relative">
            </ion-icon>
        </ion-button>
        <ion-button *ngIf= "isAdmin" slot="icon-only" (click)="gotoAdminPage()">
                <ion-icon name="customicon"></ion-icon>
        </ion-button>
        <ion-button slot="icon-only" (click)="gotoNotification()">
            <ion-icon name="notifications-outline" style="position:relative">
                    <span *ngIf= "notificationCount > 0" style="position: absolute;
                    font-size: 16px;
                    margin-top: -10px;"><b>{{notificationCount}}</b></span>
            </ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-title>{{viewTitle}}</ion-title>
    <ion-buttons slot="end">
			<ion-button [disabled]="isToday" (click)="today()">Today</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="has-header">
	<calendar
  [monthviewEventDetailTemplate]="template"
	[eventSource]="eventSource" [markDisabled]="markDisabled" [calendarMode]="calendar.mode"
	[currentDate]="calendar.currentDate"
	(onCurrentDateChanged)="onCurrentDateChanged($event)"
	(onEventSelected)="onEventSelected($event)"
	(onTitleChanged)="onViewTitleChanged($event)"
	(onTimeSelected)="onTimeSelected($event)" step="30">
	</calendar>

</ion-content>
