<!--
  Generated template for the QrCodeImagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="danger">
    <ion-title>QRCode Reciept</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<h1 class="myHeader">{{'SECURITY_APP.WELCOME' | translate}}</h1>
<p class="myPara"><b>{{VisitorName}}</b></p>
<p class="myPara1">{{'SECURITY_APP.ACK_QRIMAGE_NOTE' | translate}}</p>
<ion-item style="background-color: transparent;">
    <img class="qrCodeImage" [src]="qrCodeString"/>
</ion-item>
<ion-item style="background-color: transparent;">
  <ion-button  shape="round" color='danger'
          style="    padding: 18px 18px 18px 18px;
          display: block;
          margin: 0 auto;
          min-width: 150px;"
          (click)="finishProcess()" >
          {{'SECURITY_APP.FINISH' | translate}}
  </ion-button>
</ion-item>
</ion-content>
