.qrCodeImage {
  width: 300px !important;
  height: 300px !important;
  margin: 0 auto;
  display: block;
}

.myHeader {
  text-align: center;
  color: green;
  font-size: 14px;
}

.myPara {
  text-align: center;
  font-size: 18px;
}

.myPara1 {
  text-align: center;
  font-size: 14px;
  color: rgb(172, 167, 167);
}
