<!-- <ion-content class="background">

  <ion-card>
    
  </ion-card>

  <img src="assets/images/login/calms_logo.png" alt="logo">

  <h4 style="color: #f31818;margin-top: 0px;">Calms Technology</h4>
  <h6 text-muted style="color:hsl(0deg 0% 69%);font-size: 12px;">Welcome to Security App</h6>
  <br>

  <input type="text" placeholder="Enter Username">
  <input type="password" placeholder="Enter Password">

  <ion-button color="primary" expand="block" class="login">Login</ion-button>

</ion-content> -->

<ion-content class="background">

  <ion-card style="padding-bottom: 40px;">
    <img src="assets/images/login/calms_logo.png" alt="logo">

    <h4 style="color: #f31818;margin-top: 0px;">Calms Technology</h4>
    <h6 text-muted style="color:hsl(0deg 0% 69%);font-size: 12px;">Welcome to Security App</h6>
    <br>
    <div class="input-with-icon">
      <input type="text" placeholder="Enter Username">
      <ion-icon name="person" color="medium" slot="end"></ion-icon>
    </div>
    
    <div class="input-with-icon">
      <input type="text" placeholder="Enter Password">
      <ion-icon name="eye-off" color="medium" slot="end"></ion-icon>
    </div>
    
    <!-- <input type="password" placeholder="Enter Password"> -->

    <!-- Sample Code-->

    <!-- <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="fixed">Fixed Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Stacked Label</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <div id="container">
      <ion-list>
  
        <ion-item id="rounded">
          <ion-label >Saravana</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
  
        <ion-item id="rounded">
          <ion-label >Kumar</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>     
  
      </ion-list>
    </div> -->

    <!-- End Sample Code-->
  
    <ion-button color="primary" expand="block" class="login">Login</ion-button>
  </ion-card>



</ion-content>