.qrCodeImage {
  width: 125px !important;
  height: 125px !important;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

.profile-imageTabLand {
  border-radius: 50%;
  width: 92px !important;
  margin: 0 auto !important;
  display: block;
  height: 92px !important;
  box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
}
.cameraImgTabLand {
  display: block;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d68f93;
  padding: 7px;
  color: #222;
}
.head1TabLand2 {
  margin: 5px 0;
  margin-top: 10px;
  color: #bebab3 !important;
  font-size: 15px;
  text-align: left;
}
.pTabLand2 {
  color: #928a8a;
  font-size: 18px !important;
  text-align: left;
}

.head1TabLand {
  margin: 5px 0;
  margin-top: 10px;
  color: #6b6a67 !important;
  font-size: 15px;
  text-align: center;
}

.head1TabLand1 {
  margin: 5px 0;
  margin-top: 10px;
  color: #6b6a67 !important;
  font-size: 15px;
}
.pTabLand {
  color: #928a8a;
  font-size: 18px !important;
  text-transform: capitalize;
  text-align: center;
}
.pTabLand3 {
  color: #928a8a;
  font-size: 18px !important;
  text-transform: capitalize;
}
