<ion-header>
  <ion-toolbar color="primary">
    <ion-label class="ion-padding" style="font-weight: 800;">{{ title }}</ion-label>
    <ion-icon slot="end" style="font-size: 26px;" name="close-circle-outline" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div *ngIf="type === 'question'">
    <ion-label class="boldClass" style="    text-align: center;    display: block;" color="primary" >Following questions are self declared by this Visitor</ion-label>
    <div *ngFor="let ques of result">
      <ion-card mode="ios" style="padding: 12px;
      margin-top: 5px !important;
      text-align: center;" no-margin >
        <div>
          <ion-label style="font-size: 14px;">{{ques.Description}}</ion-label>
          <ion-radio-group value="{{ques.Answer}}" style="display: inline-flex;">
            <ion-item lines="none">
              <ion-label>Yes</ion-label>
              <ion-radio [disabled]="ques.Answer === 0 || ques.Answer === '0'" mode="ios" slot="end" value="1"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>No</ion-label>
              <ion-radio [disabled]="ques.Answer === 1 || ques.Answer === '1'" mode="ios" slot="end" value="0"></ion-radio>
            </ion-item>
            </ion-radio-group>
        </div>
      </ion-card>
    </div>
  </div>
  <div *ngIf="type === 'doc'">
    <div *ngFor="let doc of result">
      <ion-card mode="ios" style="padding: 7px; margin: 3px;">
        <ion-item lines="none">
          <ion-icon slot="start" name="document-outline" style="font-size: 24px;"></ion-icon>
          <ion-text>{{doc.Caption}}</ion-text>
          <ion-icon slot="end" color="primary" name="cloud-download-outline" style="font-size: 24px;" (click)="downloadFile(doc)"></ion-icon>
        </ion-item>
      </ion-card>
    </div>
  </div>
  <div *ngIf="type === 'declaration'">
    <div>
      <ion-label class="boldClass" style="display: block;
      text-align: center;
      margin-bottom: 10px;" color="primary">Visitor Declared Items</ion-label>
      <ion-card mode="ios" style="padding: 7px; margin: 3px;">
        <ion-item lines="none" *ngFor="let declaration of result">
          <ion-icon slot="start" name="checkmark-done-outline" style="font-size: 24px;"></ion-icon>
          <ion-text>{{declaration.MaterialDesc}}</ion-text>
        </ion-item>
      </ion-card>
    </div>
  </div>

</ion-content>
