<!--
  Generated template for the VisitorCompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-icon slot="start" class="commonHeaderMyBackArrow" (click)="goBack()" name="chevron-back"></ion-icon>
      <ion-title>{{'VISITORS_COMPANY.TITLE' | translate}}</ion-title>
      <ion-buttons *ngIf= "false" end>
          <ion-button slot="icon-only"  color="btnthm" (click)="goToAddVisitorCompany()">
            <ion-icon name="add"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect></ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
      <ion-searchbar [(ngModel)]="VM.queryText"  maxlength="250"
      placeholder="{{'VISITORS_COMPANY.SEARCH_COMPANY' | translate}}" (ionChange)="getVisitorsCompanyBySearch(true, null)" (ionClear)="onCancel()" (ionCancel)="onCancel()" class="animated fadeIn delay-1s">
          <!-- (ionChange)="updateSchedule()" -->
      </ion-searchbar>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
      <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
          <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-button *ngIf="(VM.companyList.length == 0 && VM.queryText.length > 2)"  color="btnthm" expand="full" (click)="addVisitors()">ADD<ion-ripple-effect></ion-ripple-effect></ion-button>
      <ion-radio-group
      (ionChange)="selectCompany($event)" [(ngModel)]="relationship">
          <ion-item *ngFor="let company of VM.companyList">
            <ion-label>{{company.visitor_comp_name}}</ion-label>
            <ion-radio value="{{company.visitor_comp_code}}"></ion-radio>
          </ion-item>
        </ion-radio-group>

</ion-content>

<ion-footer >
    <ion-toolbar (click)="addVisitorsCompany()" *ngIf= "done">
      <!-- <ion-title>{{'VISITORS_COMPANY.DONE' | translate}}</ion-title> -->
      <ion-buttons slot="end">
          <ion-button> {{'VISITORS_COMPANY.DONE' | translate}}
            <!-- <ion-icon name="checkmark"></ion-icon> -->
          <ion-ripple-effect></ion-ripple-effect></ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-footer>
